[2017-07-10 22:00] cde-feedback-bot opened #251 "User feedback"
## What brought you to the site and how can we improve your experience here?
Link on twitter about your new design.

## General feedback about the site?
As a web designer I came here to check out your new responsive layout. Liking things up to now!

Love the colours and layout, nice spacing with well designed drop downs, I think the balance is just right :)

## Using this data for something cool?

[2017-07-10 22:05] harrisj commented on #250
I just checked the API and it is in indeed returning a geocoding to that point in western Pennsylvania. I am not entirely sure why, but it could be an error in the ICPSR crosswalk geocoding. We could correct to a different value if you want.

[2017-07-10 22:36] harrisj commented on #250
Here are all the agencies geocoded to that point

 |   ori    |               agency_name               | primary_county |
-----------|-----------------------------------------|----------------
 |PA032BF00 | Bureau of Forestry: Indiana County      | Indiana|
 |PA0320300 | Indiana Police Department               | Indiana|
 |PAPEP0000 | Philadelphia Police Department          | Philadelphia|
 |PA03

[2017-07-11 01:18] #248 closed, assigned to nobody

[2017-07-11 02:19] nicoleslaw opened #252 "Agency / county mismatch in TX"
In case it's useful, these two towns should be under Collin County, not Denton:

Frisco: https://crime-data-explorer.fr.cloud.gov/explorer/agency/TX0430400/homicide

Plano: https://crime-data-explorer.fr.cloud.gov/explorer/agency/TX0430600/homicide

Here's a related link where the agency is showing up correctly: https://crime-data-explorer.fr.cloud.gov/explorer/agency/TX0430100/homicide

[2017-07-11 03:17] laurenancona commented on #250
Weird. For the Philly Police set, whatever [point](https://crime-data-explorer.fr.cloud.gov/explorer/agency/PA051SP00/violent-crime) is being used for the other ~3 Philadelphia-prefixed sets is probably fine.

That pesky Indiana County, PA...

[2017-07-11 17:00] cde-feedback-bot opened #253 "Allow for the comparison of states"
## What brought you to the site and how can we improve your experience here?
News Nerdery slack

## General feedback about the site?
I wish I could compare states! If I can it's not immediately evident.

## Using this data for something cool? Tell us about it!

[2017-07-11 18:43] #241 closed, assigned to jeremiak

[2017-07-11 18:45] LarryBafundo commented on #213
@jeremiak can you let me know when this is ready? want to give this one a careful review.

[2017-07-11 18:47] jeremiak commented on #213
@LarryBafundo How is this going to work? The data I have from the API is relevant just to the last ten years (2004-2014) and isn't dynamic. That means that regardless of the year query, the list will show the same agencies meaning that it could show agencies that actually will result in no data being shown.

[2017-07-11 18:57] LarryBafundo commented on #232
@jeremiak, @cacraig did I explain this issue correctly? basically, CJIS can't download any of the bulk NIBRS files and I was wondering what the potential solution would be.

[2017-07-11 18:59] LarryBafundo commented on #236
@jeremiak, @harrisj, @brendansudol can we please update this issue? its a high visibility issue over at CJIS due to the sensitivities around LEOKA data.

[2017-07-11 19:00] LarryBafundo commented on #223
@brendansudol can I ask you to look into this since you handled the previous issues with the sparklines?

[2017-07-11 19:03] #84 closed, assigned to nobody

[2017-07-11 19:05] cacraig commented on #232
I don't really think there is much we can do. s3 is probably not a trusted domain at CJIS. The fix would probably involve whitelisting S3.

[2017-07-11 19:07] LarryBafundo commented on #232
is it that, or the structure of the URLs for the files themselves?

[2017-07-11 19:14] #113 closed, assigned to nobody

[2017-07-11 19:17] #237 closed, assigned to harrisj

[2017-07-11 19:17] #239 closed, assigned to harrisj

[2017-07-11 22:07] jeremiak commented on #232
I think its that they're S3 based URLs. I can't really think of a solution around this other than what @cacraig proposed with getting the FBI to whitelist the domain or a set of URLs

[2017-07-12 16:51] LarryBafundo commented on #213
Deferring this to the backlog for now, as it's not in service of a direct user need right now and is more of an enhancement. Also, there is more complexity than we anticipated in making this work and keeping the site performant, so we don't want to take on the risk of squeezing this in during the last sprint. However, it deserves future consideration.

[2017-07-12 16:51] LarryBafundo commented on #89
relates to https://waffle.io/18F/crime-data-explorer/cards/594d3fe33c3ef40132ff08a7

[2017-07-12 17:20] #250 closed, assigned to harrisj

[2017-07-12 17:24] harrisj commented on #252
Hmm, will have to investigate. Looking at the ref_agency_county table, I see

For Frisco, TX

| county_name   |   population |
|---------------|--------------|
| COLLIN        |       87,863 |
| DENTON        |       54,077 |

For Plano, TX

| county_name   |   population |
|---------------|--------------|
| COLLIN        |      272,106 |
| DENTON        |        5,716 |

So the bug is in the cde_

[2017-07-12 17:29] nicoleslaw commented on #252
You know what, I am wrong. I had no idea, both towns have a little bit of land in Denton county. So, maybe we can show both counties in the string?

https://en.wikipedia.org/wiki/Frisco,_Texas
https://en.wikipedia.org/wiki/Plano,_Texas

[2017-07-12 17:33] harrisj commented on #252
You aren't wrong. Our plan is to show the county where the majority of their population is. This is clearly being computed wrong.

[2017-07-12 19:50] #252 closed, assigned to harrisj

[2017-07-12 20:27] LarryBafundo commented on #224
going to close this as it would require a design change and works for the normal range of screen settings.

[2017-07-12 20:27] #224 closed, assigned to AvivaOskow

[2017-07-13 13:02] brendansudol commented on #113
👍

[2017-07-13 16:22] brendansudol commented on #223
yes, working on it

[2017-07-13 16:43] #240 closed, assigned to nobody

[2017-07-13 16:43] #176 closed, assigned to nobody

[2017-07-13 16:45] #188 closed, assigned to nobody

[2017-07-13 16:46] LarryBafundo commented on #232
closing, but will mention this to CJIS.

[2017-07-13 16:46] #232 closed, assigned to nobody

[2017-07-13 16:53] LarryBafundo commented on #223
@brendansudol okay to move into in progress then?

[2017-07-13 16:54] #230 closed, assigned to nobody

[2017-07-13 22:22] cde-feedback-bot opened #254 "User feedback: correct link for Wyomings UCR program"
## What brought you to the site and how can we improve your experience here?

## General feedback about the site?
I noticed the link to the Wyoming UCR Program website is not accurate. The correct link is http://wyomingdci.wyo.gov/

## Using this data for something cool? Tell us about it!

[2017-07-14 19:57] AvivaOskow commented on #157
https://github.com/18F/crime-data-explorer/wiki/Style-Guide

https://github.com/18F/crime-data-explorer/blob/master/design/CDE-styleguide_softlaunch_7.14.17.sketch

[2017-07-14 19:57] #157 closed, assigned to AvivaOskow

[2017-07-17 14:03] cde-feedback-bot opened #255 "Differentiate between adult and juvenile crime reported"
## What brought you to the site and how can we improve your experience here?
Amy Blasher of the CJIS Division. More data is needed. It's a good baseline start. The graphs should include different colors in the bars, it's somewhat difficult to interpret. Juvenile crime is needed very much.

## General feedback about the site?
It is unclear if the statistics that are available are reflective of only

[2017-07-17 14:32] cde-feedback-bot opened #256 "Adjust agencies that are showing the wrong location"
## What brought you to the site and how can we improve your experience here?
Research

## General feedback about the site?
There are a number of cities/towns around the Great Lakes that are being pinned in the middle of the water.  Not all of the coastal cities/towns are.  A few examples are: Cleveland, OH; Holland, MI; Munising, MI; Milwaukee, WI

## Using this data for something cool? Tell us ab

[2017-07-17 17:27] #234 closed, assigned to jeremiak

[2017-07-17 20:18] LarryBafundo opened #257 "Disable robots.txt for CDE"
Since the CDE is now public we should remove/disable the robots.txt and provide a description for search results.

[2017-07-17 20:20] LarryBafundo commented on #257
<img width="592" alt="screen shot 2017-07-17 at 12 45 19 pm" src="https://user-images.githubusercontent.com/15899668/28288031-a827ada0-6af2-11e7-9afd-3711a79edcc7.png">

[2017-07-17 20:20] LarryBafundo opened #258 "Create dataset descriptions for Arrest & SHR downloads"
As part of closing out the task of generating the arrest & SHR downloads we'll need to create descriptions for both.

cc: @RyanSibley, I can take a crack at these based on where Jacob lands tomorrow. But where is the google doc I should be working with?

[2017-07-17 20:23] LarryBafundo commented on #256
Here's an example (Cleveland PD): https://crime-data-explorer.fr.cloud.gov/explorer/agency/OHCLP0000/violent-crime

<img width="902" alt="screen shot 2017-07-17 at 1 22 52 pm" src="https://user-images.githubusercontent.com/15899668/28288163-1eaa07fc-6af3-11e7-8c3e-a3e92c313897.png">

@harrisj is this due to the location data we're reading from the Crosswalk file and if so, can we make manual adjus

[2017-07-17 20:36] harrisj commented on #256
Yes, this is likely direct from the crosswalk file. We can make manual adjustments. I did that for Philadelphia already. Maybe let's collect a few other cases if they exists

[2017-07-18 21:54] AvivaOskow commented on #7
The idea is that these would be added as additional cards in the explorer view—as the vertical bar charts for states or as tables for agency level pages.

[2017-07-19 00:32] LarryBafundo commented on #140
superseded by https://waffle.io/18F/crime-data-explorer/cards/596e6601bfd74c002c6ad841

[2017-07-19 00:32] #140 closed, assigned to nobody

[2017-07-19 00:33] LarryBafundo commented on #231
superseded by https://waffle.io/18F/crime-data-explorer/cards/596e6601bfd74c002c6ad841

[2017-07-19 00:33] #231 closed, assigned to nobody

[2017-07-19 01:51] #145 closed, assigned to nobody

[2017-07-19 17:13] LarryBafundo opened #259 "Change summary statement for state & agency NIBRS data from "number of offenders" to "number of incident offenses""
Currently the summary statement for states or agencies that report NIBRS reads as:

<img width="601" alt="screen shot 2017-07-19 at 10 16 49 am" src="https://user-images.githubusercontent.com/15899668/28380246-7bccc2a2-6c6b-11e7-96f5-4bf79c41656e.png">

This number (4,475) is technically incorrect, as it refers to the number of offenders reported for that crime type and time range and not incident

[2017-07-19 17:36] LarryBafundo commented on #258
relates to https://waffle.io/18F/crime-data-explorer/cards/596e6601bfd74c002c6ad841

[2017-07-19 19:17] jeremiak commented on #236
This is the swagger file used by the API docs: https://github.com/18F/crime-data-api/blob/master/crime_data/static/swagger.json

[2017-07-19 19:21] #254 closed, assigned to jeremiak

[2017-07-19 19:38] jeremiak commented on #206
Going to close this since the API docs are using the Swagger UI framework and will require more time and investigation. I've opened https://github.com/18F/crime-data-frontend/issues/1169 to track

[2017-07-19 19:39] #206 closed, assigned to jeremiak

[2017-07-19 19:39] jeremiak commented on #207
API related a11y problems are tracked in https://github.com/18F/crime-data-frontend/issues/1169

[2017-07-19 19:39] #207 closed, assigned to jeremiak

[2017-07-19 19:41] #257 closed, assigned to jeremiak

[2017-07-19 20:43] #205 closed, assigned to jeremiak

[2017-07-19 20:57] RyanSibley commented on #258
Started definitions here: https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

Copy so far:

##Arrest data
National arrest data is estimated by the FBI and dates back to 1995. Arrest data contains monthly counts of arrests for various offenses broken down by age and sex or age and race. Not all agencies report race and ethnicity for arrests but they must report age

[2017-07-19 21:06] LarryBafundo commented on #258
thanks @RyanSibley !

[2017-07-20 20:15] #258 closed, assigned to RyanSibley, LarryBafundo

[2017-07-20 20:16] #223 closed, assigned to brendansudol

[2017-07-20 21:25] LarryBafundo commented on #69
This issue includes the following tasks:

Edit (@cacraig): Added point estimate where (1pt = 1 day, 2, 3, 5, 8pt = >1 sprint)

Edit (@cacraig): Restructured bullets - clarified some things - added estimates. Sorry to Hijack your comment @LarryBafundo
- [x] Our first step is to upload the 2015 data provided by CJIS to the 18F database that powers the CDE. This can be time-consuming, as we’ll look t

[2017-07-20 21:26] LarryBafundo commented on #69
@cacraig please update the tasks above as we move through the various steps.

[2017-07-20 21:28] LarryBafundo opened #260 "Make SHR dataset available for download"
Relates to the write-up here: https://waffle.io/18F/crime-data-explorer/cards/596e6601bfd74c002c6ad841

[2017-07-20 21:33] #236 closed, assigned to bdstout1617

[2017-07-20 21:34] #127 closed, assigned to nobody

[2017-07-21 17:16] bdstout1617 commented on #256
Ok here is a list of the 64 agencies that share the coordinates in the lake (icpsr_lat = 41.760392 AND icpsr_lng = -81.724217) for Cleveland, OH:

 Seven Hills Police Department
 Brook Park Police Department
 East Cleveland Police Department
 Maple Heights Police Department
 Oakwood Village Police Department
 Lakewood Police Department
 Parma Heights Police Department
 Middleburg Heights Police De

[2017-07-21 19:18] bdstout1617 commented on #256
22 agencies that share the coordinates in the lake (icpsr_lat = 43.017652 AND icpsr_lng = -87.481549) for Milwaukee, WI:

State Fair Park Police
 Brown Deer Police Department
 Bayside Police Department
 Cudahy Police Department
 Fox Point Police Department
 Oak Creek Police Department
 West Milwaukee Police Department
 River Hills Police Department
 South Milwaukee Police Department
 Hales Corners

[2017-07-21 19:29] bdstout1617 commented on #256
11 agencies that share the coordinates in the lake (icpsr_lat = 42.942346 AND icpsr_lng = -86.655342) for Holland, MI:

Grand Haven Police Department
 Ferrysburg Police Department
 Spring Lake-Ferrysburg Police Department
 Coopersville Police Department
 Hope College
 Zeeland Police Department
 State Police: Ottawa County
 Holland Police Department
 Hudsonville Police Department
 Ottawa County She

[2017-07-21 19:37] bdstout1617 commented on #256
3 agencies that share the coordinates in the lake (icpsr_lat = 47.080077 AND icpsr_lng = -86.564108) for Munising, MI:

 Alger County Sheriff's Office
 Munising Police Department
 State Police: Alger County

SET icpsr_lng =  -86.649955 WHERE icpsr_lng = -86.564108;
SET icpsr_lat = 46.408595 WHERE icpsr_lat = 47.080077;

[2017-07-24 16:27] cacraig commented on #69
@LarryBafundo - That second bullet is a bit loaded - I'm going to add some updated information on this process.

[2017-07-24 20:54] jeremiak commented on #259
I shouldn't have closed this as @LarryBafundo is going to accept it and determine if its done once it is deployed.

[2017-07-25 17:39] bellsworth1 opened #261 "Explorer view cache issue"
When you are looking at the CDE. On the Explorer page.  You select a state and the page is displayed.  Then from the same page, select another state.  I selected a few states and it kept adding trend lines, for the multiple states, to the graph.  For example, it displays Kentucky burglary rate, but the paragraph under it says New Jersey, which was the first state I chose.

[2017-07-25 17:50] jeremiak commented on #261
Thanks for the report @bellsworth1! I can replicate this bug and will start to fix it now

[2017-07-25 18:56] LarryBafundo commented on #259
@jeremiak let's keep this in review until we get some feedback from CJIS and others. Working on it...

[2017-07-25 19:00] LarryBafundo commented on #261
![image001](https://user-images.githubusercontent.com/15899668/28588909-e3441efc-7130-11e7-9fde-7252cf822b59.jpg)

[2017-07-26 18:40] LarryBafundo commented on #69
@cacraig when you have a chance, can you provide ore detail on on step #2?

[2017-07-26 18:46] LarryBafundo commented on #259
verified on production, closing.

[2017-07-26 18:46] #259 closed, assigned to jeremiak

[2017-07-29 03:10] cde-feedback-bot opened #262 "User feedback"
## What brought you to the site and how can we improve your experience here?
I was viewing details for an agency in SF. I tried to clear the agency (by using the "X" button to the right of the agency name) to look at the state of CA but the explorer continued to show the SF agency. I tried to refresh the page but continued to see the SF agency on the right. I also reselected CA from the dropdown m

[2017-07-31 17:44] #261 closed, assigned to jeremiak

[2017-07-31 18:42] LarryBafundo commented on #262
noting the UX comment, but we haven't been able to reproduce the rest of what is described here. we'll keen an eye on it. thanks!

[2017-07-31 18:44] #256 closed, assigned to bdstout1617

[2017-08-01 17:06] cde-feedback-bot opened #263 "User feedback"
## What brought you to the site and how can we improve your experience here?
FBI training in phoenix

## General feedback about the site?
When viewing an agency it would be helpful to compare the agency trend to the state and national trend.

## Using this data for something cool? Tell us about it!

[2017-08-01 18:50] cde-feedback-bot opened #264 "User feedback"
## What brought you to the site and how can we improve your experience here?
Just browsing

## General feedback about the site?
Looks new

## Using this data for something cool? Tell us about it!

[2017-08-01 19:13] #264 closed, assigned to nobody

[2017-08-01 19:17] cde-feedback-bot opened #265 "User feedback"
## What brought you to the site and how can we improve your experience here?
Improvement: When looking at a State Page -- It would be nice if the map that displays the state would be clickable -- IE I can click the surrounding states.

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-01 19:17] cde-feedback-bot opened #266 "User feedback"
## What brought you to the site and how can we improve your experience here?
undefined

## General feedback about the site?
undefined

## Using this data for something cool? Tell us about it!
undefined

[2017-08-01 19:20] cde-feedback-bot opened #267 ""Submit Feedback" component is caching information improperly"
## What brought you to the site and how can we improve your experience here?
"Submit Feedback" component is caching information improperly. Once  a User submits feedback it does not clear the feedback components contents.

1. User enters feedback into text areas. 2. User clicks Submit. 3. Success Message is displayed. 4. User closes the feedback component.  5. Opens the feedback component and the

[2017-08-01 19:42] #266 closed, assigned to nobody

[2017-08-01 20:08] cde-feedback-bot opened #268 "Banner issue ("skip content")"
## What brought you to the site and how can we improve your experience here?
Bug: When clicking on the Flag within the Banner "An official website of the United State government" a "Skip Content" button appears but does nothing. Also note when the button is displayed the Location Drop Down Select changes focus.

## General feedback about the site?

## Using this data for something cool? Tell us ab

[2017-08-01 20:10] cde-feedback-bot opened #269 "User feedback"
feedback

[2017-08-01 20:13] cde-feedback-bot opened #270 "Open external links in another tab and set focus to that tab"
## What brought you to the site and how can we improve your experience here?
IDEA: Open External Links in another tab and set focus to that tab.

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-01 20:16] cde-feedback-bot opened #271 "Increase grid font size"
## What brought you to the site and how can we improve your experience here?
Improvement: Improve font of y and x axis for the Crime grid. Font is within the grid is currently small and difficult to read unless zoomed in.

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-01 22:43] jeremiak commented on #261
@LarryBafundo This should be fixed on `master` now

[2017-08-01 23:55] LarryBafundo commented on #268
![Screen Shot 2017-08-01 at 4.55.12 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6454f26b7191a37cf1172e4f5e5d5ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbed5727a39841c95df64ae74e54a313326ae5732431.png)

[2017-08-01 23:55] #269 closed, assigned to nobody

[2017-08-02 00:05] #198 closed, assigned to jeremiak

[2017-08-02 00:47] jeremiak commented on #267
@jpwentz and I are going to pair on this tomorrow

[2017-08-02 14:57] cde-feedback-bot opened #272 "User feedback"
## What brought you to the site and how can we improve your experience here?

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-02 19:26] #272 closed, assigned to nobody

[2017-08-02 19:46] #267 closed, assigned to jeremiak

[2017-08-02 22:07] cacraig commented on #69
We are rocking so far, but a little behind from where I was hoping to be at this point.  The NIBRS 2015 data, and the process for updating it in the future is finished. We are currently waiting on the update of the NIBRS incident dump archives to finish generating for 2015. The next step will be updating the other RETA dataset, and finishing the process for it. After that we can expose it on the f

[2017-08-03 17:48] LarryBafundo opened #273 "Remove SHR download link & description from production (hot fix)"
We haven't finalized the SHR dataset, but show the download link and description on production. We should remove both until we're ready to make this data available via the CDE.

[2017-08-03 17:52] LarryBafundo commented on #260
marking this as blocked for now, as we'll need Colin to come free from the 2015 update before we try picking this up.

[2017-08-03 17:54] #51 closed, assigned to nobody

[2017-08-03 18:52] #273 closed, assigned to jeremiak

[2017-08-03 20:27] jpwentz commented on #225
Not seeing the issue.

[2017-08-04 13:54] TechInnovationOffice opened #274 "New York City Data"
If a person wanted to look at crime rates in New York City, how would they do that? I know NYC spans multiple counties, but I could not find it under any of them (Bronx, Kings, New York, Queens, Richmond).

[2017-08-04 16:41] jpwentz commented on #274
Then the User should search agency based upon " New York City Police Department" under unassigned county.

[2017-08-04 17:13] TechInnovationOffice commented on #274
Thanks!

[2017-08-04 17:15] #274 closed, assigned to nobody

[2017-08-04 17:46] bellsworth1 opened #275 "State Dropdown Order"
In the Explorer view. Not sure how the state drop downs are sorted. Some states appear to be in alphabetical order, while others seem to be reverse order.  For instance, North Carolina is the first listed for states that start with "N", not Nebraska.

[2017-08-07 12:19] jpwentz commented on #1
@amberwreed Can we get a screenshot of this -- I am hoping to start work on this today.

[2017-08-07 12:21] jpwentz commented on #271
This as been fixed.

[2017-08-07 12:21] #271 closed, assigned to nobody

[2017-08-07 15:16] #268 closed, assigned to jeremiak

[2017-08-07 16:12] jpwentz commented on #1
Need some more details on this issue -- It is going to be difficult to display all of this information on one grid due to the range difference between larceny and homicide.

[2017-08-07 16:12] jpwentz commented on #1
Can utilize the http://localhost:6005/api-proxy/estimates/states/ri?per_page=200 endpoint to gather the data from the grid.

[2017-08-07 22:05] cde-feedback-bot opened #276 "User feedback"
## What brought you to the site and how can we improve your experience here?
US Territory Data csv download is broken. File is named undefined and contains two files. A readme and an exec file called undefined as well.

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-09 17:14] jeremiak commented on #275
Thanks for the bug report @bellsworth1! It turns out that our states were ordered alphabetically by their postal abbreviation. We got it fixed in 1199 (above ^^) and it is currently deployed to our `master` deployment: https://crime-data-explorer-master.fr.cloud.gov/

It will get shipped to our production environment (https://crime-data-explorer.fr.cloud.gov/) with the next release. Historically,

[2017-08-09 17:14] #275 closed, assigned to nobody

[2017-08-10 01:21] jeremiak commented on #276
Fixed by https://github.com/18F/crime-data-frontend/pull/1201

[2017-08-10 01:21] #276 closed, assigned to nobody

[2017-08-10 15:03] jeremiak commented on #1
Here is the most recent design from @amberwreed. Not that there will not be three lines lines in the time series because we don't show this view for agencies, just states, so the lines will be (at most) just the state and the national trend lines
![chicago all violent crime](https://user-images.githubusercontent.com/780941/29176978-75ef66c6-7dbb-11e7-9bf0-79163b9ed8ca.png)

Here are some concerns/

[2017-08-14 17:06] LarryBafundo commented on #1
hey @jeremiak, @jpwentz, sorry for not getting to this sooner.

1) my hunch is that the Y axis for the different charts won't be an issue, as long as they're appropriately labeled. the goal of this view isn't to promote comparisons between the different crime rates, but to provide a drill-down perspective of the types of crimes that make up "all violent" or "all property" crime.

2) considering th

[2017-08-14 17:14] LarryBafundo commented on #1
@jeremiak in regards to #2, i suggest making the chart title clickable, or adding a icon next to the name, that indicates that the user can drill-down into that view

[2017-08-14 18:10] jeremiak commented on #1
I changed the title to reduce the scope and reduce the risk that we build this feature and it isn't very effective. We will tackle the state and national level perspectives first and then re-evaluate the level of effort and utility of bringing this view to the agency level.

[2017-08-15 13:41] cde-feedback-bot opened #277 "Fix typo for national view"
## What brought you to the site and how can we improve your experience here?
Work

## General feedback about the site?
On the Browser page – the very first sentence is missing a few words?  It says - Violent crime rates for the nation are derived from both and reports voluntarily submitted to the FBI. (Doesn’t make sense). – It actually says this for all violent crime categories.

When a state is

[2017-08-15 15:20] LarryBafundo commented on #277
thanks for the feedback:

looks like we have a typo in the introductory statement for the nation, regardless of what crime is selected. the text currently reads as:

 <crime type> rates for the nation are derived from both...reports voluntarily submitted to the FBi."

here's a screenshot of the issue:

<img width="709" alt="screen shot 2017-08-15 at 8 09 26 am" src="https://user-images.githubuserc

[2017-08-15 15:21] LarryBafundo opened #278 "Remove Georgia from list of incident reporters"
Georgia does not submit NIBRS data but appears in the drop-down for bulk incident data on https://crime-data-explorer.fr.cloud.gov/downloads-and-docs. We should remove GA from the front-end so it doesn't appear as a selectable item in the list.

[2017-08-15 15:36] jeremiak commented on #278
An implication of this is that Georgia should not show NIBRS elements on the Explorer view and the about page map should show Georgia as only a SRS submitter.

@LarryBafundo is this true?

[2017-08-15 15:44] LarryBafundo commented on #278
@jeremiak nope. revising this.

[2017-08-16 11:58] cde-feedback-bot opened #279 "User feedback: Suggest adding a timestamp to downloads"
## What brought you to the site and how can we improve your experience here?
Would like to have a time stamp inserted on all downloads available on the Crime Data Explorer site.

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-16 13:47] cde-feedback-bot opened #280 "Say when a state started reporting NIBRS data"
## What brought you to the site and how can we improve your experience here?

## General feedback about the site?
when reviewing Town of Madison PD https://crime-data-explorer.fr.cloud.gov/explorer/agency/WI0131000/aggravated-assault, I noticed the following  sentence is very inaccurate and could lead to confusion/misuse of data without proper notes/disclaimers/context

The Town of Madison PD bega

[2017-08-16 16:34] cacraig commented on #69
The 2015 data update is finished. I am just now working on the script to automate as much as possible, and documenting the steps needed to update the CDE in the future.

[2017-08-16 18:47] cde-feedback-bot opened #281 "User feedback"
## What brought you to the site and how can we improve your experience here?

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-08-17 19:49] #281 closed, assigned to nobody

[2017-08-18 15:18] cde-feedback-bot opened #282 "User feedback"
## What brought you to the site and how can we improve your experience here?
it appears as if the state of California is not an option on the downloads and documentation, perhaps there is a glitch between the explorer and the downloads documentation tabs?

## General feedback about the site?

## Using this data for something cool? Tell us about it!
The data is very limited, therefore, I would not

[2017-08-18 20:31] #278 closed, assigned to nobody

[2017-08-18 20:32] #108 closed, assigned to nobody

[2017-08-18 20:44] LarryBafundo commented on #280
@cacraig, @jeremiak: This is a good point. We could be clearer about the methodology we use for calculating NIBRS dimensions, like "victim's relationship to offender", and what time range that data is based on.

In regards to the latter, we currently say that the totals for our various dimensions are drawn from the time-range selected for the search, typically a 10-year range. But this isn't alway

[2017-08-18 20:45] LarryBafundo commented on #279
i like this is idea, what do you think @jeremiak?

[2017-08-18 21:06] LarryBafundo opened #283 "Prevent searches for data earlier than 1995"
Justin pointed out how you can change the URL for a search to view data prior to 1995. in the case below, he changed the parameters to 1960 to 2014. Since we're limited to showing estimated data for trends, we should prevent searches for data earlier than 1995.

![Screen Shot 2017-08-18 at 2.00.58 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/

[2017-08-21 12:35] harrisj commented on #280
I think one of the last things I added to cde_agencies was [a field to represent when the "current" NIBRS run had started](https://github.com/18F/crime-data-api/pull/614). This allows us to handle cases where agencies report NIBRS in 1991-1992 and then start up again in 2007. It doesn't handle cases where an agency is reporting off and on for the last 10 years (but not sure how often that happens

[2017-08-21 15:25] cde-feedback-bot opened #284 "Allow comparisons of multiple cities/states"
## What brought you to the site and how can we improve your experience here?
news report

## General feedback about the site?
easy to navigate.  Would be nice if more than one city could be selected at once. Also, 8if the data set was up to 2016.

## Using this data for something cool? Tell us about it!

[2017-08-21 20:27] LarryBafundo opened #285 "NIBRS data not showing for DC (staging)"
On staging (and presumably on production once the next deployment finishes) NIBRS data isn't being displayed for DC. I haven't noticed this problem with other mixed NIBRS states, like Wisconsin or Ohio, but DC has at least 1 agency that participates in NIBRS (transit police) and so we should be showing the NIBRS dimensions for relevant queries.

This is what it says on staging currently:

![Screen

[2017-08-21 20:29] LarryBafundo opened #286 "Fix formatting of horizontal axis for trend charts"
Adding an extra column for "2015" to the horizontal axis has caused some spacing issues for our trend charts when viewing data over a 10 year timeframe. See example below:
![Screen Shot 2017-08-21 at 1.15.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6456f26b7191a379f1132e4f5c5

[2017-08-21 20:38] LarryBafundo opened #287 "Include methodology for how the CDE computes NIBRS dimensions"
User feedback indicates that it's not clear how some of the dimensions are being calculated and how their totals are related. For example, we had an earlier question around how we calculate the total number of victim relationships to offender. We should consider explaining how these totals are derived to minimize confusion in the future.

[2017-08-21 20:45] LarryBafundo opened #288 "Define when a state reports NIBRS to provide context for results"
Currently when providing a breakdown of NIBRS data for an agency or state - number of victims, offenders, etc. - we show an aggregate of those totals based on the search timeframe selected (typically 10 years). However, a state or agency could have reported for just a year or two within that timeframe, depending on when they started reporting NIBRS, or their participation in the UCR program.

We s

[2017-08-21 20:52] LarryBafundo commented on #288
This would require us to update our implementation to account for NIBRS start/stop dates and how this information is presented.

[2017-08-21 20:56] LarryBafundo commented on #288
related to: https://waffle.io/18F/crime-data-explorer/cards/59944d14ef7c54002a5ff838

[2017-08-22 17:27] jpwentz opened #289 "FIOU 508 Compliance"

[2017-08-22 21:19] cde-feedback-bot opened #290 "User feedback"
## What brought you to the site and how can we improve your experience here?
ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd

[2017-08-23 17:56] #290 closed, assigned to nobody

[2017-08-23 18:08] jpwentz commented on #279
Time stamps on the hosted files or time stamp added to the files that CDE generates ?

[2017-08-23 18:11] jeremiak commented on #279
I like this idea. I'm not sure if the generation date or the date that new data was uploaded is more important, though I'm inclined to think it is the latter.

I think it could be nice to have the timestamp in the downloaded file as well as the site just so that it is easy to find that information regardless of how you're analyzing the data from the CDE.

[2017-08-24 11:05] jpwentz commented on #283
Fixed by issue 1205

[2017-08-24 11:05] #283 closed, assigned to jpwentz

[2017-08-24 12:59] jpwentz commented on #285
This is a multi-part issue - 1. the issue shown above 2. Washington DC Thumbnail now showing 3. Downloads still containing "District on Columbia"

[2017-08-24 18:54] jpwentz opened #291 "Agency View Broken on Master"

[2017-08-24 18:55] jpwentz commented on #291
Cannot view any Agency Details for an Offense.
![agency_breakage.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5983695b43bd2f001a1b611c/125516c66e82c728ace21e0d46e9939f2d819a968dfbba42af5cf7916b0a65633b0ba92e7391a172fd1723040a5b1aab135e5943f5f8df2ba6b535748e0d5debd07f4366846c4ff8e7df46f554f832815d86b7b68b49c0eb3b25e7828e493d16050ac4.png)

[2017-08-24 18:57] jeremiak commented on #291
Steps to replicate:

1. Load the CDE on master (crime-data-explorer-master.fr.cloud.gov)
2. Select a state
3. Search for any agency in that state and select it
4. See bug

[2017-08-24 22:14] cde-feedback-bot opened #292 "the URL for the CDE isn't typical for a modern website"
## What brought you to the site and how can we improve your experience here?
Saw a shout-out about this in an 18F email newsletter.

## General feedback about the site?
I think it's a great resource, but I found the map hard to use for New England and DC. Also, when hovering over the states on the map, I expected something to happen when I clicked on them. Instead, it just says the name of the sta

[2017-08-24 22:44] LarryBafundo commented on #69
closing this! @cacraig

[2017-08-24 22:44] #69 closed, assigned to cacraig

[2017-08-24 22:58] LarryBafundo opened #293 "Update text to reflect new 2015 data"
With the 2015 update we need to update the text to reflect the latest state of the data. I've listed out the cases below.

[2017-08-24 23:04] LarryBafundo commented on #293
Here's the new text to add to the downloads & documentation page:
https://crime-data-explorer.fr.cloud.gov/downloads-and-docs

Uniform Reporting Participation Data - "Download this dataset to see how many law enforcement agencies have reported crime data to the FBI by state and year from 1960–2015."

Cargo theft - "Download this dataset to see totals for cargo thefts from 2013–2015."

Human traffi

[2017-08-25 14:27] LarryBafundo opened #294 "Shinston, WV not showing 2014 data or NIBRS details"
The summary chart for Shinston, WV is missing 2014. Even if the agency didn't report that year, we should indicate that with the "missing data icon" that we use for other scenarios like this. Also, West VA is a NIBRS-only state and no NIBRS data is available for this agency.

<img width="702" alt="screen shot 2017-08-25 at 7 26 52 am" src="https://user-images.githubusercontent.com/15899668/2971843

[2017-08-25 15:21] #291 closed, assigned to jpwentz

[2017-08-25 15:24] LarryBafundo opened #295 "Need to update additional datasets with 2015 data"
The following datasets still need to be updated with 2015 data:

1) hate crime - only goes up to 2014

2) assaults on police - only goes up to 2014 data [we need this data from Justin before we can regenerate it]

3) police employee data - only goes to 2013

[2017-08-25 15:42] jeremiak commented on #291
@jpwentz Can you add some tests to the util so that this sort of bug is caught in the future?

[2017-08-28 14:08] jpwentz commented on #294
This is not an issue -- this Agency did not report for 2014.

[2017-08-28 17:23] jpwentz commented on #295
I believe I addressed this the other day the URL path just changed from what was used in 2013 to new urls.

[2017-08-29 16:30] #277 closed, assigned to jpwentz

[2017-08-29 17:46] #1 closed, assigned to jeremiak, jpwentz

[2017-08-29 18:45] #285 closed, assigned to nobody

[2017-08-29 21:35] LarryBafundo opened #296 "Agency sparklines missing on master"
On master the agency spark lines do not populate. See example and screenshot below:

<img width="862" alt="screen shot 2017-08-29 at 1 53 37 pm" src="https://user-images.githubusercontent.com/15899668/29845393-78582f4a-8cc7-11e7-9971-061b0e4879b9.png">

[2017-08-29 21:48] LarryBafundo commented on #280
I responded to this individual and created separate issues based on their feedback

[2017-08-30 16:34] cacraig commented on #288
I don't think there is any backend work needed for this. The NIBRS data is broken down by year in all cases.

Simple solution: Determine if a year is missing, we would just scan over the result set, and get a list of years not present.
Better (but involves a new API) solution: Build an inventory API that returns the distinct number of reporting years for a given state/agency.

[2017-08-30 19:24] #296 closed, assigned to nobody

[2017-08-31 00:10] edrubin opened #297 "Empty zip files from batch downloader (esp. 2012)"
A large set of the files I downloaded from the batch downloader yield empty folders upon downloading and unzipping.

- Alabama is missing 2012
- Colorado is missing 1996 and 2012
- Connecticut is missing 1998
- Illinois is missing 2012
- Mississippi is missing 2012
- Nebraska is missing 2012
- New Hampshire is missing 2012 and 2013
- Oregon is missing 2012 and 2013
- Pennsylvania is missing 2012 a

[2017-08-31 14:46] jeremiak commented on #297
Thanks for this bug report @edrubin, we'll check it out

[2017-08-31 19:39] #213 closed, assigned to nobody

[2017-09-01 17:49] edrubin commented on #297
The empty-zip-file issue seems to come in two flavors:

1. Upon unzipping, the folder is entirely empty (_e.g._, AL in 2012).
2. Upon unzipping, the folder contains the 6 NIBRS CSVs, but each CSV is empty (except for column names). Examples: AL, 1993–2005.

[2017-09-07 14:21] cde-feedback-bot opened #298 "User feedback"
## What brought you to the site and how can we improve your experience here?
I produce the Oklahoma UCR report.

## General feedback about the site?
So far, this is awesome! It will be SO, SO helpful!

## Using this data for something cool? Tell us about it!

[2017-09-07 20:38] cde-feedback-bot opened #299 "Add county perspective"
## What brought you to the site and how can we improve your experience here?
In the location menu you can search by the state and then only the agency.  Would it be possible to add a feature where you can see the crime stats at the county level?  I'm a crime analyst for my county and it would make things a lot easier than clicking on 52 municipalities individually to see overall stats for a quick

[2017-09-12 12:47] bellsworth1 opened #300 "Update Human Trafficking paragraph"
On the Downloads and Documentation page, Human Trafficking has 2015 data in the download. However, the description paragraph says only "2013-2014" data is in the dataset, should be "2013-2105".

[2017-09-12 16:40] cde-feedback-bot opened #301 "Confused as to how the number of offenders & victims can be higher than number of incidents"
## What brought you to the site and how can we improve your experience here?
Interested in crime data

## General feedback about the site?
Great! One thing is a little confusing. In the information available about offenders and victims, sometimes the number of offenders and victims is higher than the number of reported incidents. It would be helpful to explain how this can occur. Also, how can the

[2017-09-15 15:48] LarryBafundo commented on #293
verified on production, closing

[2017-09-15 15:48] #293 closed, assigned to nobody

[2017-09-15 15:49] LarryBafundo commented on #289
@jpwentz can you please elaborate on what this ticket is about and its status? thanks

[2017-09-15 15:52] LarryBafundo commented on #295
@cacraig, @jpwentz what's the status of this? the datasets outlined above only go up to 2014 and 2013 on production.

[2017-09-15 15:54] LarryBafundo commented on #294
@jpwentz understood, but we should show the "no data icon" for 2014 in that case, not skip it in entirely.

cc: @jeremiak

[2017-09-15 15:54] LarryBafundo commented on #286
this looks good on production; closing

[2017-09-15 15:54] #286 closed, assigned to jpwentz

[2017-09-15 15:57] LarryBafundo commented on #300
this has been addressed; closing

[2017-09-15 15:57] #300 closed, assigned to nobody

[2017-09-15 18:46] LarryBafundo opened #302 "Potential inaccuracies with participation report"
The following is from internal (CJIS) feedback:

"I was in CDE and downloaded the CSV for the Uniform Crime Reporting Program Participation Data.  I sorted the data first by state and then by year, the first thing I noticed is that in 2015 Alabama has 52 NIBRS participating agencies, which is incorrect they only have 1.  Alaska is not even NIBRS certified and they have several listed as participat

[2017-09-15 18:49] LarryBafundo commented on #302
Lets spend some time looking into this, as it seems that we tend to have more reporting entities for the CDE than the UCR program expects. Assuming the data is correct, might this be a result of UCR referring to the number of reporting agencies in a state, versus the number of ORIs within a state? But even if that were true, how would it explain scenarios where we have agencies reporting data for

[2017-09-18 14:46] harrisj commented on #302
Yep, I see it in the `participation_rates` table

| state_name           |   nibrs_participating_agencies |
|----------------------|--------------------------------|
| Alabama              |                             52 |
| Alaska               |                              8 |
| Arizona              |                             11 |
| Arkansas             |                             19 |

W

[2017-09-18 15:19] harrisj commented on #302
So, I'm not really finding any issues in the queries that are used to build things like the `agency_participation` table. Can you possibly try rerunning what is in the `dba/after_load/participation_table.sql` file and see if it persists? I'd do it myself, but I don't want to mess with the DB if you are doing some loading stuff.

[2017-09-18 15:24] harrisj commented on #302
I guess I should clarify that the problem seems to be that `nibrs_participated` is being set to `1` for agencies which are covered by another agency and that agency is not actually in the `nibrs_agency_reporting` table. That said, I don't really see how this is happening because when I manually rerun the select that builds the `agency_participation` I don't see this behavior. Let me look for a lit

[2017-09-18 15:30] harrisj commented on #302
Never mind, this does seem to be a bug in how the agency_participation table is being generated

[2017-09-18 15:33] harrisj commented on #302
Yes, there seems to have been some sort of error in how `agency_participation` was generated, but I can't seem to replicate it.

Agency participation for agency_id=128 in Alabama

|   year |   nibrs_months_reported |   nibrs_participated |   covered |
|--------|-------------------------|----------------------|-----------|
|  2,016 |                       0 |                    1 |         1 |
|  2

[2017-09-18 16:42] jpwentz commented on #294
see github for image of fix.

[2017-09-18 16:43] jpwentz commented on #294
https://github.com/18F/crime-data-frontend/pull/1219

[2017-09-18 19:10] cacraig commented on #297
We had released some fixes for this a week or two ago. I'm not sure if everything has been addressed on this list. I'm looking into it. Initially, it looks like 2012/2013 files are fixed.

[2017-09-18 21:55] #297 closed, assigned to cacraig

[2017-09-18 23:02] LarryBafundo opened #303 "Spacing issues for the all violent/property crime views on production"
On product we currently have an issue where the header & text for population data gets cut off for each of the crime types within the all violent/all property view.

See screenshot:

![Screen Shot 2017-09-18 at 3.59.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772a6455fb6b7191a37b

[2017-09-18 23:21] jeremiak commented on #303
Im not sure this is a bug. This is the way our site is displayed on mobile and the component acts in the same way because it is really narrow here.

Perhaps we could try just making all the scrollbars more obvious so its clear that the next isnt cut off, just scrolled to the right?

[2017-09-18 23:28] LarryBafundo commented on #303
yeah you're right. although its not obvious that you can scroll over to the population data. but we have a lot of space to work with, couldn't we just condense the columns for rate, totals, and population so it all fits without scrolling?

[2017-09-19 12:11] jpwentz commented on #303
I tried fixing it with CSS and no dice.

[2017-09-20 13:50] bellsworth1 opened #304 "Jackson PD Mississippi listed as wrong county"
In the CDE, Jackson PD is listed as Madison County. Jackson is in Hinds County.  I spot checked some other agencies in MS and didn't notice others that are listed improperly. Jackson does spill into Madison and Rankin Counties, but is primarily located in Hinds.

[2017-09-20 14:00] bellsworth1 opened #305 "Selecting year for All Violent and Property Crimes"
Issue brought to my attention, when you select a year from the pull down menu, the year that you selected can change if you unintentionally mouse over the line chart.  The date you previously selected changes. Users noted it as being frustrating.

[2017-09-20 21:05] #122 closed, assigned to nobody

[2017-09-21 18:30] #294 closed, assigned to nobody

[2017-09-21 18:40] LarryBafundo commented on #288
relates to https://waffle.io/18F/crime-data-explorer/cards/59a96b7312d232004dd5f678

[2017-09-21 18:40] #288 closed, assigned to nobody

[2017-09-21 18:48] LarryBafundo commented on #304
this may have to do with our implementation for agencies that span multiple counties. the approach we (18F & the product owner at CJIS) decided on was to identify a "primary county" for the agency, with "primary county" being based on the proportion of total population covered by the agency.

is that correct @harrisj?

[2017-09-21 18:52] LarryBafundo commented on #305
this is as designed, as we want to make it easy for users to interact with the chart and access the data in multiple ways (e.g., drop-down, time series, download)

[2017-09-25 18:35] harrisj commented on #304
You are correct in that we assign the primary county based on the one with the highest population. That said, this does seem to be a bug, since this is the actual population counts for the last few years

 data_year | county_name | population
-----------|-------------|------------
|      2016 | HINDS       |     169880|
|      2016 | MADISON     |        627|
|      2016 | RANKIN      |          1

[2017-09-26 01:25] LarryBafundo commented on #282
This is because the bulk downloads are for states that report NIBRS. CA is still SRS data only

[2017-09-26 01:28] LarryBafundo commented on #263
We currently don't support this as state trends are based on rates (incidents per 100,000) and agencies are based on simple counts reported. This is because population data at the agency level can be unreliable.

[2017-09-26 01:32] #128 closed, assigned to nobody

[2017-09-26 01:33] #124 closed, assigned to nobody

[2017-09-27 16:01] bellsworth1 commented on #304
FYI, feedback from a CDE user:
I realize your website is under development but thought I’d point out that San Antonio Police Department is actually in Bexar County, Texas, not Medina County (https://crime-data-explorer.fr.cloud.gov/explorer/agency/TXSPD0000/violent-crime). Thanks for the great interactive website! I will be sharing it with our partners.

[2017-09-27 16:51] LarryBafundo commented on #304
thanks @bellsworth1

[2017-09-28 05:50] nrjones8 opened #306 "Potentially bad data in Police Employee Data - Oregon, 2011"
The "Police Employee Data" from the [Downloads and Docs page](https://crime-data-explorer.fr.cloud.gov/downloads-and-docs) gives officer counts and officer / 1000 people rates for each state over a number of years. These numbers generally increase over time (as police forces have grown since the 1970s), but I came across one year of data that looks wrong. In Oregon, the dataset contains:

* 2010:

[2017-09-28 15:56] jeremiak commented on #305
@jpwentz Had an interesting design suggestion for this: if the year drop down is open, we ignore the mouse position for selecting the year. Once the drop down closes again, the mouse position is taken into account and works as it currently does.

[2017-09-29 14:50] cacraig commented on #302
I rebuilt this table on the production database. This can be closed @LarryBafundo

[2017-09-29 14:50] #302 closed, assigned to cacraig

[2017-09-29 15:00] harrisj commented on #302
So, I just ran the numbers for 2015

|   year | state_name           |   nibrs_participating_agencies |
|--------|----------------------|--------------------------------|
|  2,015 | Alabama              |                              0 |
|  2,015 | Alaska               |                              0 |
|  2,015 | Arizona              |                              0 |
|  2,015 | Arkansas

[2017-09-29 15:04] harrisj commented on #302
Yes, this looks to be correct. For some reason, 2015 was a brutal year for NIBRS participation with only 4 agencies reporting 12 months of data (will file another issue for that). But here are the agencies in Arizona and Alabama for instance

| state_name   | agency_ori   | agency_name                          |   nibrs_months_reported |
|--------------|--------------|-----------------------------

[2017-09-29 15:06] harrisj opened #307 "Weird NIBRS participation dip in 2015"
So, for some reason, it seems like almost all agencies do not have a full 12 months of NIBRS reporting in 2015. This might be a bug or a data integrity issue or something else, but the effect is quite dramatic

|   year |   participating_agencies |   nibrs_participating_agencies |
|--------|--------------------------|--------------------------------|
|  2016 |                   19,296 |

[2017-09-29 15:10] harrisj commented on #307
So this is how agencies reported NIBRS months in 2015

|   nibrs_months_reported |   count |
|-------------------------|---------|
|                       1 |   1,017 |
|                       2 |     537 |
|                       3 |     378 |
|                       4 |     253 |
|                       5 |     218 |
|                       6 |     206 |
|                       7 |     149 |
|

[2017-09-29 15:16] harrisj commented on #304
I've made the fix in the DB (not sure how it happened, but rebuilding the table fixed it), and this should be visible once @jeremiak regenerates a file for the frontend

[2017-09-29 15:20] harrisj commented on #307
And zooming in further, here is the `nibrs_month` table for Hoover, AL in 2015

|   agency_id |   data_year |   month_num | reported_status   |
|-------------|-------------|-------------|-------------------|
|          61 |       2,015 |           1 | I                 |
|          61 |       2,015 |           2 | I                 |
|          61 |       2,015 |           3 | I                 |

[2017-09-29 15:25] harrisj commented on #307
Hoover seems to have a complete set of nibrs_month records, but the larger issue seems to be an overall drop in the number of records in the `nibrs_month` table for that year

|   data_year |   count |
|-------------|---------|
|       2013 | 267,984 |
|       2014 | 269,412 |
|       2015 | 112,860 |
|       2016 | 271,728 |

[2017-11-06 18:27] #289 closed, assigned to jpwentz

[2017-11-06 18:32] #295 closed, assigned to cacraig

[2017-11-06 18:34] LarryBafundo commented on #295
closing this as we'll track any dataset changes as either tasks for discovery or through the new Jira board

[2017-11-06 18:39] LarryBafundo commented on #304
looks like Jackson PD (MS) is still showing up as in Madison County instead of Hinds. @harrisj thinks he fixed this issue in the DB, but that the file needs to be regenerated on the FE.

Link: https://crime-data-explorer.fr.cloud.gov/explorer/state/mississippi/violent-crime

![Screen Shot 2017-11-06 at 10.39.55 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413f

[2017-11-06 18:44] LarryBafundo commented on #303
closing this as we're going to focus this board on tasks related to discovery; bug fixes & enhancements should be tracked in the new Jira board managed by CJIS

[2017-11-06 18:44] #303 closed, assigned to jeremiak

[2017-11-06 18:47] #279 closed, assigned to nobody

[2017-11-06 18:48] LarryBafundo commented on #287
closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:48] #287 closed, assigned to nobody

[2017-11-06 18:48] LarryBafundo commented on #260
closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:48] #260 closed, assigned to nobody

[2017-11-06 18:50] LarryBafundo commented on #7
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:50] #7 closed, assigned to nobody

[2017-11-06 18:50] LarryBafundo commented on #89
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:51] LarryBafundo commented on #67
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:51] #67 closed, assigned to nobody

[2017-11-06 18:51] #89 closed, assigned to nobody

[2017-11-06 18:53] LarryBafundo commented on #202
Closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:53] #202 closed, assigned to nobody

[2017-11-06 18:56] LarryBafundo commented on #305
closing as we are going to focus this board on tasks related to the discovery effort; enhancements and new feature work will be tracked on the Jira board managed by CJIS

[2017-11-06 18:56] #305 closed, assigned to nobody

[2017-11-06 19:00] jpwentz commented on #306
CIUS Details:

State | Total lawenforcementemployees | Totalofficers | Totalcivilians | Number of agencies | 2011estimated population

OREGON | 10,057 | 5,502 | 610 | 1,721 | 2,224 | 213 | 3,837,283
-- | -- | -- | -- | -- | -- | -- | --

[2017-11-06 19:02] jpwentz commented on #306
Total should be 6112 for 2011 based upon CIUS

[2017-11-06 19:04] jpwentz commented on #306
Total based upon CIUS for 2012 should be 6057 total--- so it appears we need more information to how to determine this information.

[2017-11-06 19:05] jpwentz commented on #306
https://ucr.fbi.gov/crime-in-the-u.s/2012/crime-in-the-u.s.-2012/tables/77tabledatadecpdf/table_77_full_time_law_enforcement_employess_by_state_2012.xls

[2017-11-06 19:10] harrisj commented on #306
I will look into this one shortly

[2017-11-06 19:18] jpwentz commented on #306
We have tracked down the issue -- the data from UCR was incorrect for the following rows that were ingested with the ddocname - 2011_OR0240800, 2011_OR0240500 , 2011_OR0240300

Those rows are incorrect data hence making the total offs. IE OR0240500 has 9000 female officers.

[2017-11-06 21:26] LarryBafundo commented on #307
@harrisj this seems like a separate issue from what we were discussing earlier - that the business line officially determines which states reports NIBRS based on the state of their respective programs. this should be reflected on the "how states report" map on the about page: https://crime-data-explorer.fr.cloud.gov/about.

But do you have a sense what is behind these dips in participation? Is it

[2017-11-07 12:25] jpwentz commented on #306
I updated the rows in the database with this issue -- I will start to determine what other updates I need to run then work with @harrisj to generate the new file.

[2017-11-07 19:33] jpwentz commented on #307
PER UCR:

select count(distinct RA.agency_id) from
NIBRS_MONTH NM
JOIN REF_AGENCY RA ON RA.AGENCY_ID = NM.AGENCY_ID
WHERE NM.DATA_YEAR = 2015
and RA.AGENCY_STATUS = 'A'
AND NM.REPORTED_STATUS IN ( 'I', 'Z')
6673
U	16576
I	6444
Z	1098

[2017-11-07 19:40] harrisj commented on #307
@jpwentz can you rerun that so it just gives me a count of total nibrs_month records in 2015? The issue is not that agencies aren't in there at all, but many are missing months of representation in nibrs_month in 2015

[2017-11-07 19:43] jpwentz commented on #307
I will request that from Justin -- I think CDE concept of participation is not accurate. It looks like that should be defined by the status in the REFA.csv.

[2017-11-07 20:19] LarryBafundo commented on #307
@jpwentz can you elaborate on what you mean by that?

[2017-11-07 20:21] harrisj commented on #307
Currently, we define participation by an agency in a given year as "reported for 12 months or was covered by an agency that reported for 12 months". We have participation metrics for RETA (using reta_month) and NIBRS (using nibrs_month). Any feedback would be welcome if there is a different way we should be doing that.

[2017-11-07 20:28] jpwentz commented on #307
5954
12 months for I or Z coming from nibrs_month table in UCR

select COUNT(*)
FROM
(
select distinct RA.ORI from
NIBRS_MONTH NM
JOIN REF_AGENCY RA ON RA.AGENCY_ID = NM.AGENCY_ID
WHERE NM.DATA_YEAR = 2015
and RA.AGENCY_STATUS = 'A'
AND NM.REPORTED_STATUS IN ( 'I', 'Z')
HAVING SUM(NM.MONTH_NUM) = 78
GROUP BY RA.ORI
)

[2017-11-07 20:50] jpwentz commented on #307
select distinct ra.ori from
NIBRS_MONTH NM
JOIN REF_AGENCY RA ON RA.AGENCY_ID = NM.AGENCY_ID
WHERE NM.DATA_YEAR =  XXXX
and RA.AGENCY_STATUS = 'A'
AND NM.REPORTED_STATUS IN ( 'I', 'Z')

2013 - 6423
2014 - 6628
2015 - 3216
2016 -  6919

We need to get an answer on how to determine this information -- We can use the above script and have it update the agency_participation table.

@harrisj your thoug

[2017-11-07 21:24] jpwentz commented on #307
2015 only has report status of U and I --- 2016 has report status of U I and Z

[2017-11-07 21:31] harrisj commented on #307
Excellent. So we've confirmed the 2015 data is truncated in some fashion, although it is still to be determined if it's because the CSV was incomplete or there was an issue loading it

[2017-11-08 17:16] jpwentz commented on #307
2015 NIBRS_M csv deliver to 18F contained NIBRS_M rows with report_status of Z -- but were not ingested.

GIT Repo history does not show this file changing but may not have existed in the repo until after the 2015 data was ingested. It will be difficult to determine the deltas from 2015 script to 2016 script.

I have a copy of the data and it can be re-ingested at any point.

[2017-11-08 17:22] jpwentz commented on #307
Also note that 2015 Data has dates defined for rows of report_status Z and 2016 does not have those date columns populated -- I would assume the failure occurred here.

[2017-11-08 22:34] LarryBafundo commented on #307
@jpwentz got it; if our immediate priorities are to ensure that the data displayed by the CDE is accurate should we talk to Cindy about prioritizing the reimport of the 2015 data relatively soon? do you need assistance from us to do that?

[2017-11-09 12:06] jpwentz commented on #307
@LarryBafundo It will not be all of the 2015 data -- it will only be the tables that utilize NIBRS_MONTH. It would be helpful to have some insight on which tables those are -- and then assistance with creating the subset script for just ingesting that.

[2017-11-09 16:35] harrisj commented on #307
AFAIK, this would mean that we reload those fields for 2015 in `nibrs_month` but that we then have to rebuild a few tables that depend on nibrs_participation:

* `agency_participation`
* `participation_rates`
* `cde_agencies`

I think the other tables are probably fine since some of them use the "current year" and I think that is 2016 which would be unchanged.

[2017-11-11 03:49] LarryBafundo commented on #304
hey @jeremiak any updates on this? still seeing it as Hinds on production.

[2017-11-12 21:46] jeremiak commented on #304
@LarryBafundo 1284 needs to be merged and then we need to do a release for this

[2017-11-15 22:27] LarryBafundo opened #308 "Expand the presence of NIBRS in the CDE"
This area focuses on how the CDE can highlight the value of NIBRS and make it easier to work with and understand.

[2017-11-15 22:28] LarryBafundo opened #309 "Improve context & caveats"
This area relates to how the CDE can provide improved context & caveats for interpreting the data, including footnotes for specific aspects of the data.

[2017-11-15 22:29] LarryBafundo opened #310 "Explore alternatives to current data visualizations"
This area focuses on how we might improve on how we visualize existing elements and what new elements might be added to the interface in the future.

[2017-11-15 22:30] LarryBafundo opened #311 "Enable other views of the data"

[2017-11-15 22:31] LarryBafundo opened #312 "Facilitate grouping & mapping of the data"

[2017-11-15 22:31] LarryBafundo opened #313 "Improve API infrastructure"
This area focuses on how we might optimize the API for use at scale.

[2017-11-15 22:32] LarryBafundo opened #314 "Explore opportunities for enabling comparisons of the data"
This area focuses on how we might facilitate data comparisons, such as how 2 states with similar population sizes compare in terms of homicide rates. It would also consider the extent to which comparison can be made responsibly and how this should be messaged to users.

[2017-11-15 22:32] LarryBafundo opened #315 "Consider opportunities for highlighting selected aspects of the data, or "data stories""
This area focuses on the possibility of highlighting selected aspects of the UCR dataset based on commonly held questions about crime. It would also consider the extent to which the FBI can responsibly provide a supporting narrative to go along with this data.

[2017-11-15 22:32] LarryBafundo opened #316 "Allow for users to flag or request data"
This area focuses on opportunities for improving the feedback loop between the CDE and the user community, so that the CDE product team can be more aware of potential data quality issues and which datasets are in demand.

[2017-11-15 22:35] #311 closed, assigned to nobody

[2017-11-15 23:11] LarryBafundo opened #317 "Explore value & feasibility of including readme & data dictionary in bulk downloads"
We heard that people would like to have some of the supplementary resources, like a data dictionary, available in the download itself so they can easily pass it along to other users, like a data analysis team.

[2017-11-15 23:13] LarryBafundo opened #318 "Consider adding a visual/flow map for how UCR data is collected"
We heard from one participant that works with many open data platforms that some offer a visual that explain how data is collected and made available for production. This helps provide context for how the data may be used and what some of the limitations may be

[2017-11-15 23:14] LarryBafundo opened #319 "Explore showing NIBRS distributions over time"

[2017-11-15 23:15] LarryBafundo opened #320 "Define a list of specialized datasets to be available for download based on commonly held questions about crime"
What types of datasets might we want to add to the downloads and documentation page?

We can't easily determine what is most interesting to the community based on user research, so we should start by making a few educated guesses based on the types of inquires CJIS receives. From there, we should consider how we can collect feedback from the community regarding what new datasets they would like to

[2017-11-15 23:16] LarryBafundo opened #321 "Explore value & feasibility of making bulk downloads time series"
We heard that users find a single year's view of the data to be limiting and value a historical view to facilitate analysis. Having a file that aggregates all of the available incident data for a given state would also make this data easier to work with.

[2017-11-15 23:16] LarryBafundo opened #322 "Explore adding a preview of bulk data to the interface"
How can we help users get a sense of the datasets they're interested in prior to download? What metadata is important to show in this context and what data do we have available to work with? How does something like this fit within the context of our current interface design?

[2017-11-15 23:17] LarryBafundo opened #323 "Consider adding new dimensions to existing NIBRS offenses in the interface"
Are there certain dimensions that are better to show for certain types of crime? Or are they all equally relevant and showing more is better?

[2017-11-15 23:18] LarryBafundo opened #324 "Consider incorporating SHR & Hate Crime data into the interface"

[2017-11-15 23:19] LarryBafundo opened #325 "Evaluate value & feasibility of including agency location data & participation data in bulk downloads"
We know that users value locality when viewing crime data. Unfortunately details like zipcode or city/county aren't included with the incident data that is submitted to the UCR program. However, we do know the location of the agencies/ORIs that contribute this data.

Can we add an agency_location column to these datasets and will that facilitate analysis in meaningful ways? Are there limitations t

[2017-11-16 00:03] LarryBafundo opened #326 "Consider improvements for the "supplemental resources" - data dictionary & NIBRS diagram"
We should explore ways to make our existing resources more user friendly. For example, are there ways we can improve on the current depiction of the NIBRS data structure? Is the list of data elements per segment actually necessary? How usable is our data dictionary & how do we make it easy to update to account for future changes?

[2017-11-16 00:22] LarryBafundo commented on #322
some initial ideas:

Provide a sense of the first ten rows of the dataset
Link to or add feature for pulling in census data or other helpful geographical data
Even more (or more prominent) call outs about participation and coverage

and a similar approach we may want to draw inspiration from: https://datacatalog.cookcountyil.gov/Courts/State-s-Attorney-Felony-Cases-Disposition-Outcomes/cqdb-r84f

[2017-11-16 00:58] LarryBafundo commented on #323
Other dimensions available: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=908372027

[2017-11-16 16:20] harrisj commented on #307
So I kinda dropped the ball on following up on this one. Do we have a new file to try loading?

[2017-11-16 17:39] jeremiak commented on #321
Started to pull all West Virginia NIBRS downloads together from 2008 through 2016 here: https://github.com/18F/crime-data-prototypes/tree/master/demos/multi-year-nibrs

[2017-11-16 22:06] LarryBafundo commented on #320
Here is a list of the most common data request CJIS receives:

·         Gang related offenses - i.e. a recent request for gang related murder
·         Offenses cleared by arrest and by exceptional means – type of exceptional clearance.
·         Location of an incident – murders at a residence and the weapon used; sex assault at schools; church violence.
·         Incidents around the holidays a

[2017-11-16 22:11] LarryBafundo commented on #320
These could be potential starting points for new datasets, but i think this leaves out other  perspectives that are likely to be useful for the general public - like handgun violence, specific types of drugs and their patterns, etc.

I think we should work with Cindy to develop a short-list of priority datasets and then think through how they should be defined and eventually added to the CDE as do

[2017-11-16 22:46] LarryBafundo commented on #326
suggest that we get rid of page 1 of this document: https://crime-data-explorer.fr.cloud.gov/pdf/NIBRS-attributes-and-map.pdf. Page 2 achieves the goal of explaining the structure of NIBRS and its related elements and does it more effectively than just presenting these elements as a list. What people are probably looking for from page 1 is an explanation of what these terms mean (which they can ge

[2017-11-16 23:25] LarryBafundo opened #327 "Review existing content of bulk downloads with CJIS"
Before we recommend more expansive changes to the bulk dataset, let's be sure that what we're including all of the right things in the first place. Let's also use this card to track if any improvements to formatting can be made.

[2017-11-16 23:30] LarryBafundo commented on #317
This will have to be done as part of regenerating all of the bulk files, but is dependent on a number of other tasks (like updating the data dictionary itself) before that can happen.

[2017-11-16 23:31] LarryBafundo commented on #323
Similar to https://waffle.io/18F/crime-data-explorer/cards/5a0cca77a3adbc004f283156 I think we just need to sit down with CJIS and think through what is worth adding and why based on historical inquiries about the data.

[2017-11-17 23:38] harrisj commented on #321
Yeah, it gets large. Since 2006, there have 743,637 incidents in NIBRS, with 823,195 offenders for instance. I feel like for a state like California or Texas it would 2-3x as large

[2017-11-18 00:13] harrisj commented on #320
So, in the slides about NIBRS they mentioned that one of the challenges of NIBRS is that it isn't inherently categorical like SRS and these examples of queries show why. Some of them follow logical top-down queries (like homicides or assault) that might be further refined with filters based on the offenders or victims (ie, child abuse or narcotics seizures). But there are also the queries that bas

[2017-11-18 15:55] LarryBafundo commented on #324
Older thread where we asked questions about how hate crime values are derived: https://github.com/18F/crime-data-api/issues/265

[2017-11-18 19:34] harrisj commented on #321
We could also continue segmented NIBRS by offense family if individual files/datasets get too large. Here are the NIBRs offense families

| Offense Family |
|-|
| Arson                                    |
| Assault Offenses                         |
| Burglary/Breaking & Entering             |
| Counterfeiting/Forgery                   |
| Destruction/Damage/Vandalism of Property |
| Drug/Narcoti

[2017-11-19 21:26] LarryBafundo commented on #321
thanks; let's see what we can learn from the new format and testing this week and then we can explore other ways of making it available in the future. i think you're right that trying to do everything in one file without some kind of partitioning isn't going to be sustainable, so maybe we do what you're suggesting instead.

[2017-11-21 00:37] LarryBafundo opened #328 "2016 data missing from agency view"
While preparing for this week's user interviews I noticed that 2016 data is missing from the agency view.

In the explorer this is presented as such, with 2016 always being presented with the "no data" icon:

![Screen Shot 2017-11-20 at 4.39.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0

[2017-11-21 01:00] LarryBafundo opened #329 "Minor changes to population & participation download"
A couple of proposed (minor) changes to the state participation and population download available via the Explorer.

The current report has a column called "county_name" which is always blank and unnecessary since we are doing a roll-up of all agencies within the state for a given year. We also show the state participation rate (based on the total number of agencies and the number of agencies repo

[2017-11-21 01:08] LarryBafundo commented on #307
@jpwentz is this something you can take on? its a pretty visible issue on production.

[2017-11-21 16:37] harrisj commented on #328
I'll look into it, but it doesn't seem to be an issue on the participation side

|   year |   reported |   count |
|--------|------------|---------|
|  2,014 |          0 |   7,034 |
|  2,014 |          1 |  15,298 |
|  2,015 |          0 |   6,945 |
|  2,015 |          1 |  15,581 |
|  2,016 |          0 |   7,185 |
|  2,016 |          1 |  15,461 |

[2017-11-21 17:03] #328 closed, assigned to harrisj, jpwentz

[2017-11-21 17:06] harrisj commented on #328
The issue was a hardcoded constant in the API database code. Ugh!

[2017-11-24 19:20] LarryBafundo commented on #322
@AvivaOskow when you have a chance, can you link to the latest mockups here and outline the aspects you would like to continue exploring/refining?

[2017-11-27 01:58] AvivaOskow commented on #322
![11 22-prototype_v3-dd_pg1](https://user-images.githubusercontent.com/21244661/33247475-58b2d7ce-d2ec-11e7-94f2-824e52dfaf2c.jpg)

![11 22-prototype_v3-dd_pg2](https://user-images.githubusercontent.com/21244661/33247485-6c9902c2-d2ec-11e7-9033-a0172e6f9003.jpg)

![11 22-prototype_v3-dd_pg3](https://user-images.githubusercontent.com/21244661/33247498-7e69d2ec-d2ec-11e7-8d57-412531738434.jpg)

![11

[2017-11-27 17:46] LarryBafundo opened #330 "A few IE rendering issues in the Explorer"
One of our participants reported some issues when using IE and posted the following screenshots comparing the Explorer in IE and Chrome.

I followed up with them to ask what version of IE they're running. Will update the issue when I know.

![Screen Shot 2017-11-27 at 9.47.24 AM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e

[2017-11-27 23:23] LarryBafundo commented on #325
closing this for now as it looks like we can associate the ORIs that are reported with incident data with agency names and agency names with "agency location." this would help consumers better understand how reported instances of crime differ across a state.

similarly we could include things like participation and population in the downloads themselves, but are exploring ways to highlight them as

[2017-11-27 23:23] #325 closed, assigned to LarryBafundo

[2017-11-27 23:32] LarryBafundo commented on #321
some additional questions to explore if we still want to move in this direction.

--how big is too big when it comes to file size? are there clear limits to what our users can download and work with? how might we test this?
--if we want to reduce file size by breaking one large file into smaller, more manageable pieces, what partitioning strategy makes the most sense (e.g. crimes against persons v

[2017-11-27 23:44] LarryBafundo commented on #322
Some additional questions to explore in sprint 2:

--what problem does the download preview solve?
--what context is most important to highlight and why?
--are metrics like population, agency participation, and population appropriate measures of the reliability/integrity of bulk NIBRS data?  should they also be applied to the more specialized datasets available on the downloads & documentation pag

[2017-11-27 23:47] LarryBafundo commented on #327
@harrisj let's use this card to track the questions and outcomes associated with our call on Thursday, which will cover a range of topics:

--how we should interpret the differences between the NIBRS file format & how this same data is represented in the database
--review of the data elements currently represented in our bulk reports and how those totals are represented.
--review of the data eleme

[2017-11-27 23:53] LarryBafundo commented on #327
also for Thursday let's touch on the specialized datasets we might start adding to the download page (a separate issue tracked here: https://waffle.io/18F/crime-data-explorer/cards/5a0cca77a3adbc004f283156)

[2017-11-27 23:58] LarryBafundo commented on #307
@jpwentz want to catch-up on this?

![Screen Shot 2017-11-27 at 4.23.31 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76226456f46b7191a37cf110284f5c5e5ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbed5727a19141c95df74ae94f5da01

[2017-11-28 00:05] LarryBafundo opened #331 "Review methodologies for tabulating NIBRS totals in the Expl"
We're having a working session wth CJIS on Thursday to talk through this. Will also copy the agenda/talking points in the thread here.

[2017-11-28 00:07] LarryBafundo opened #332 "Explore opportunities for including footnotes in the database"
Needs more definition - we can come back to this as we get ready for interviews (most likely with CJIS staff) next week.

[2017-11-28 00:07] LarryBafundo opened #333 "Explore opportunities for facilitating more regular & targeted updates (corrections) to the data"

[2017-11-28 00:11] LarryBafundo opened #334 "Develop memo on the business value of iterative releases"
Let's use this card to track our thinking around how we might articulate the business value of iterative releases & usability testing to senior leaders at CJIS and make it a goal to include as part of the Sprint 2 output.

Working document here: https://docs.google.com/document/d/1xYI6jLlab-vRPX-N438Fs2uHKp9u3kgKEyQJnX7m5mY/edit

[2017-11-28 12:03] jpwentz commented on #307
@LarryBafundo As mentioned previously we need to re-ingested the 2015 NIBRSM data. It looks like it failed during ingestion based upon my above comments. I will work with @harrisj on creating the scripts to just handle importing agencies.

[2017-11-28 17:56] LarryBafundo commented on #307
thanks @jpwentz

[2017-11-28 19:48] LarryBafundo commented on #330
@jeremiak the participant was using the MS Edge browser that is integrated with Windows 10 Enterprise when they took these screenshots.

[2017-11-28 20:04] jeremiak commented on #330
@LarryBafundo I just tried crime-data-explorer.fr.cloud.gov on MS Edge on Windows 10 (granted not enterprise edition) and it seems to work just fine. Perhaps this was a result of 2016 data not being returned by the API? Would it be possible to check with the participant and see if they are still having this problem?

[2017-11-29 21:34] LarryBafundo commented on #331
Agenda:

[Agenda for NIBRS Methodology Meeting.pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58eff7b413fc500020d0c89c/125516c66e82c728ace21e0d46c9939f2d8682e989e6ad038a74d2a61a060a763d0cac2f7f89ec2fa60256040a1b17f2164a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbed5727a19e41c95df74ae84454a6153560e07f2431.pdf)

[2017-11-29 21:52] LarryBafundo commented on #321
this is an ongoing question that is somewhat dependent on the following:

https://waffle.io/18F/crime-data-explorer/cards/5a1ca85f7fc9aa0121da7a6b

https://waffle.io/18F/crime-data-explorer/cards/5a1ca85f7fc9aa0121da7a6b

Before we decide on how we want to package this information (single year or time series) we need to figure out how we should be working with/counting this data in the first place

[2017-11-29 21:56] #322 closed, assigned to AvivaOskow

[2017-11-29 21:56] LarryBafundo opened #335 "Advance preview concept"
Building off the concepts we tested in sprint 1 (https://waffle.io/18F/crime-data-explorer/cards/5a0ccae32eedf0003196c86d) how might we refine and evolve the preview concept?

Specific areas to explore:

1) What geographical context can we provide that helps frame the contents of a dataset? Specifically, how might notions like population covered and or population density be represented in a map? W

[2017-11-29 22:07] LarryBafundo commented on #330
i'll check; thats a good point.

[2017-11-30 21:52] LarryBafundo opened #336 "Memo for developing a content security policy"
Mike asked us to develop a memo (bullet points are fine) that explain what a content security policy is (CSP), why its important, and high-level recommendations for developing one.

I'm not sure what the timeline is, but he said it would help inform their ATO process.

@jeremiak let me know if we need more specifics, or if you would like to reach out to Mike directly.

[2017-12-01 15:49] jeremiak commented on #336
Lifted from the [18F front end guide regarding CSPs](https://github.com/18F/frontend/blob/1dfaf1bb1a8db8758654e5ddcc59159a51370104/pages/security/csp.md):

We should implement this, at least in the front end application. It is a relatively straightforward task and should be quick. Essentially, we want to tell the browser which URLs it is OK to load content on the Crime Data Explorer from. Currentl

[2017-12-01 15:51] LarryBafundo commented on #336
thanks @jeremiak

[2017-12-07 01:47] LarryBafundo commented on #331
Methodologies here: https://docs.google.com/document/d/1FHJkxM50Bk6T5MvtPaaZYhEFFZM0xTq1wo38Gmbmnfk/edit

We need CJIS to review and let us know if they need to change going forward. We're also exploring how we can provide access to the methodologies alongside the data that is presented by the CDE.

[2017-12-07 01:50] LarryBafundo commented on #327
closing this as its being folded into the new direction for a short-term fix for the bulk downloads

[2017-12-07 01:50] #327 closed, assigned to harrisj, LarryBafundo

[2017-12-07 01:51] LarryBafundo commented on #320
let's try to tackle this while we're onsite next week

[2017-12-07 01:51] LarryBafundo commented on #321
we still need to explore this, both in terms of the temporary and longterm solutions

[2017-12-07 01:52] #330 closed, assigned to jeremiak

[2017-12-07 01:53] LarryBafundo commented on #335
@AvivaOskow let's update this issue with the latest thinking/assets for the preview concept at the end of the sprint.

[2017-12-07 01:53] LarryBafundo commented on #333
let's tackle this and https://waffle.io/18F/crime-data-explorer/cards/5a1ca8aa59ded70129def5ad while we're onsite as well

[2017-12-18 15:23] #304 closed, assigned to jeremiak

[2017-12-18 15:34] LarryBafundo commented on #334
@jeremiak let's try to sync back up on this this week if possible.  it's something we can put into practice during the 4th and final sprint.

[2017-12-18 15:35] LarryBafundo commented on #320
this will be a focus for sprint 4 -- moving to backlog for now

[2017-12-18 15:36] LarryBafundo commented on #335
@AvivaOskow closing this out; let's create a new ticket for the next round of iterations for this and other concepts we'll explore in S3

[2017-12-18 15:36] #335 closed, assigned to AvivaOskow

[2017-12-18 15:37] LarryBafundo commented on #321
in the interest of getting a short-term fix ready ASAP, we're going to with a fully normalized, single year approach for now. we should consider the feasibility of a time series & denormalized approach in the future. closing for now.

[2017-12-18 15:37] #321 closed, assigned to LarryBafundo

[2017-12-18 15:38] LarryBafundo commented on #331
we still need to do this; hopefully we can get to it over the course of S3.

[2017-12-18 15:41] #332 closed, assigned to LarryBafundo

[2017-12-18 15:41] #333 closed, assigned to nobody

[2017-12-18 15:41] LarryBafundo commented on #326
closing this as we have several updates to the supplemental resources in the pipeline. these will be pushed out as part of the normalized bulk downloads.

[2017-12-18 15:41] #326 closed, assigned to nobody

[2017-12-18 16:50] harrisj opened #337 "Modify NIBRS bulk download menus to match availability"
~We need to remove some states like Illinois and Alabama that don't really report NIBRS as a state.~ We are now including all states that report some NIBRS. Otherwise, the downloads should match this list:

- [ ] Alabama: 1991-1993, 2006-2016
- [x] Arizona: 2004-2016
- [x] Arkansas: 1999-2016
- [x] Colorado: 1992-1994, 1997-2016
- [x] Connecticut: 1998-2016
- [x] District of Columbia: 2000-2016
-

[2017-12-18 16:58] jeremiak commented on #337
We can do that pretty easily. The data we use is in [`ucr-program-participation.json`](https://github.com/18F/crime-data-frontend/blob/master/public/data/ucr-program-participation.json) so we can adjust it to reflect all of the dates above. The biggest wrinkle I see is that we currently have no way to handle a case like Colorado where there is a gap in the reporting period but I could think about

[2017-12-19 17:54] jeremiak commented on #336
Both of the technical fixes have been done and merged but they still need to be released. @LarryBafundo maybe we can push for a release at the end of this sprint and have Cindy review everything? We can always push it out earlier than the end of the sprint if desired.

Was there any feedback from Mike about how this might affect the ATO timeline?

[2017-12-19 18:56] LarryBafundo commented on #336
sounds good, let's aim for the end of this sprint

[2017-12-21 15:12] LarryBafundo commented on #337
just a reminder that we should include any data we have available for non-NIBRS certified states like AL and IL. We're also missing DC.

[2017-12-21 15:39] harrisj commented on #337
I'm going to go edit the issue above to include AL, IL and DC ranges. Ideally we should have this be something provided by the API, but I'll file a separate issue for that for future people to consider

[2017-12-21 15:47] harrisj commented on #337
Okay, I have now updated to add 3 states that were missing. I still ahve to upload to S3

[2017-12-21 19:35] jeremiak commented on #337
Reopening this since more states/ranges got added

[2017-12-21 20:37] harrisj commented on #337
All files have been uploaded to S3

[2017-12-22 19:46] harrisj commented on #307
With the latest data from CJIS, this has been fixed

|Year|  Agencies | NIBRS Agencies |
|-|-|-|
|2016	|19296	|7420|
|2015	|19319	|7262|
|2014	|18660	|6960|
|2013	|18327	|6649|

[2017-12-22 19:53] LarryBafundo commented on #307
yay!

[2017-12-22 19:53] #307 closed, assigned to jpwentz

[2017-12-22 20:17] harrisj commented on #307
To follow up, I have rebuilt the following downloads `agencies.csv` and `ucr_participation.csv` and uploaded to S3. We could potentially rebuild all the NIBRS bulk downloads and reupload, but not as urgent, since those don't cover 2015 and 2016 yet.

[2018-01-05 03:00] harrisj commented on #337
Sorry but I need to reopen this one. On further investigation, there are some NIBRS data holes for Alabama and Illinois that need to be reflected in the downloads menu. Sorry again. Let me know when this is done and I will reupload the zips as appropriate

[2018-01-16 15:56] jeremiak opened #338 "Move project to the new FBI repo"
The FBI will get their own set of repos soon for them to continue working on this project. The current repos will stay within the 18F organization but we need to mirror the set up for the new FBI repos.

The move will be complete when:
- [ ] There are at least two new repositories (api and frontend) within the FBI Github organization
- [ ] All repos are integrated with CircleCI to continue running

[2018-01-16 23:44] #334 closed, assigned to jeremiak, LarryBafundo

[2018-01-16 23:47] LarryBafundo commented on #331
this was done in sprint 3; @RyanSibley is now working to rewrite the copy in more accessible terms

[2018-01-16 23:47] #331 closed, assigned to LarryBafundo

[2018-01-16 23:47] #317 closed, assigned to LarryBafundo

[2018-01-16 23:47] #319 closed, assigned to nobody

[2018-01-16 23:48] LarryBafundo commented on #329
i'm going to close this out in favor of a more expansive description of proposed changes to the population and participation download

[2018-01-16 23:48] #329 closed, assigned to nobody

[2018-01-17 00:32] LarryBafundo opened #339 "Updated related resources on the download page"
We need to update the links for the related resources on the download and documentation page.

The asset for "NIBRS data diagram" should change to: https://docs.google.com/spreadsheets/u/1/d/1HOR7s7SpaW_ajc-tK9w5N1X_0XZxDgWPb0DohttzwmQ/edit?usp=drive_web

And we need to add the data dictionary CJIS provided: https://docs.google.com/spreadsheets/u/1/d/1HOR7s7SpaW_ajc-tK9w5N1X_0XZxDgWPb0DohttzwmQ/ed

[2018-01-17 13:13] jpwentz commented on #339
Do not have access to Google Drive.

[2018-01-17 13:27] jpwentz commented on #339
These files will need added to the s3 bucket -- and added as links Documents and Downloads under Resources?

[2018-01-17 15:40] jeremiak commented on #339
@LarryBafundo Those two links are exactly the same. Should that file just be the "data dictionary" and we can keep https://crime-data-explorer-master.fr.cloud.gov/pdf/NIBRS-data-diagram.pdf as the data diagram?

[2018-01-17 15:41] jpwentz commented on #339
either way -- I just need to files you guys wanted uploaded

[2018-01-17 15:43] LarryBafundo commented on #339
[nibrs_diagram.pdf](https://github.com/18F/crime-data-explorer/files/1639575/nibrs_diagram.pdf)

[2018-01-17 15:43] LarryBafundo commented on #339
[NIBRS_DataDictionary.xlsx - Data Dictionary (1).pdf](https://github.com/18F/crime-data-explorer/files/1639578/NIBRS_DataDictionary.xlsx.-.Data.Dictionary.1.pdf)

[2018-01-17 15:44] LarryBafundo commented on #339
@jpwentz, @jeremiak i uploaded the data dictionary and yep, it looks like we already updated the NIBRS diagram, so that is good to go.

[2018-01-17 15:48] jpwentz commented on #339
Adding it to Downloads Page now