[2017-04-13 04:47] amberwreed opened #1 "Implement an "All violent crime" and "All property crime view" for national and state level views"
Build out view that includes all violent crime or property crime and mini-trend lines of all the sub categories of crime. Include the interactivity between charts that was explored through the prototype.

https://crime-data-prototypes.fr.cloud.gov/demos/city-explore/

[2017-04-13 19:33] amberwreed opened #2 "Incident details: Add ethnicity to offender/victim demographics"
Display ethnicity detail in addition to race in the NIBRS details.

[2017-04-13 19:34] amberwreed opened #3 "Incident details: Display all race & ethnicity elements even if they have 0 reported"
Display elements, such as offender/victim ethnicity and race, even if they have 0 reported.

[2017-04-13 19:35] amberwreed opened #4 "Incident details: Race and Ethnicity displays"
Check OMB's guidelines for displaying race and ethnicity to ensure the CDE is in compliance.

[2017-04-13 19:36] amberwreed opened #5 "Explore & prototype pathways for agency navigation (search)"
Explore and implement designs for allowing users to navigate to a specific agency.

[2017-04-13 19:38] amberwreed opened #6 "Content: Data may differ or change"
As a user, I understand how and why data may differ in the CDE over time or in comparison to state publications.

[2017-04-13 19:40] amberwreed opened #7 "Add NIBRS dimensions based on offense selected (needs definition)"
As a user, I see varying NIBRS attributes by crime type. For example, if I look at Homicides, I may see weapon types or for Motor Vehicle theft, I may see types of vehicles stolen.

[2017-04-13 19:41] amberwreed opened #8 "Content: Review table 8 footnotes"
Review table 8 footnotes to make sure we are accounting for everything the FBI tells users of the UCR data.

[2017-04-13 19:42] amberwreed opened #9 "Incidents details: Relationship to offender"
As a user, Relationship to offender categories are organized in a logical manner and facilitate easier interpretation of the data.

[2017-04-13 19:43] amberwreed opened #10 "Incident details: Location"
Change name of "Incident Location" to reflect the data source that the information is being pulled from. If it is from an offense table it should be Offense location. Pair with @jharris

[2017-04-13 19:45] amberwreed opened #11 "Content: Define agency or jurisdiction"
Review UCR manuals definition of jurisdiction to craft a definition of agency and add it to the site where appropriate.

[2017-04-13 19:46] amberwreed opened #12 "Content: Incident details: Remove year range from title"
As a user, I am mislead when I see a year range in the incident title and that differs for when NIBRS data is available.

[2017-04-13 19:48] amberwreed opened #13 "Incident details: Make dynamic numbers bold"
As a user, I notice dynamic numbers in the incident details description because they are bold.

[2017-04-13 19:49] amberwreed opened #14 "Content: Considerations for interpretation"
Consider adding content provided by the Idaho state rep on agency level pages and in the readme or about pages.

Considerations for Interpretation: Crime activity in a particular community can be deceiving unless specific factors are examined and taken into consideration before conclusions are made. Some conditions affecting the type and volume of crime are:* population size, density, and degree o

[2017-04-13 19:50] amberwreed opened #15 "Content: Glossary definitions"
Add definitions for cleared, reported, estimated data

[2017-04-13 19:52] amberwreed opened #16 "Agency perspective: Refine overview content"
As a user, I understand what I am looking at when viewing an agency. Consider adding a sentence that speaks to what the state and national trends are.

[2017-04-13 19:53] amberwreed opened #17 "Agency perspective: Explore adding state and national data to agency page"
As a user, I view agency data in context because i have a sense of how it compares to state and national trends, even if the numbers are in a different format.

[2017-04-13 19:55] amberwreed opened #18 "Agency perspective: Navigation with no data available"
As a user, when I search for an agency that does not participate or has no data available, the agency name appears light grey in the dropdown. (Will this ever happen?) If we don't have data why would it be in the list?

[2017-04-13 19:56] amberwreed opened #19 "Agency perspective: Refine bar chart"
Refine bar chart design. Address issues around cleared and reported. Considerations: covered by agencies, population...

[2017-04-13 19:58] amberwreed opened #20 "Agency perspective: Incident details table"
Implement incident details table. Aviva, please add a link to the annotated table files.

[2017-04-13 20:49] amberwreed opened #21 "Agency perspective: About the data"
As a user, I am given information I need to responsibly interrupt the data from the explorer view. Consider whether we need to add considerations for interpretation or other caveats based on the granularity of the data. Also, this is the only place we are showing raw data. Should that be explained?

[2017-04-13 20:51] amberwreed opened #22 "Agency perspective: Link to agency NIBRS download"
Refine design for download button. Aviva, please link to your updated file.

[2017-04-13 20:53] amberwreed opened #23 "Agency perspective: Design for "covered by""
As a user, I am aware when an agencies data includes that of other agencies. I am able to see a list of agencies that an agency covers. If I search for an agency that is covered by another, I am sent to the page of the agency that covers it. If an agency is covered by for less than 12 months but reports 12 months of data, the additional data is aggregated into the covered by agency. (Verify with C

[2017-04-13 20:55] amberwreed opened #24 "Estimated data: Refine estimation text"
As a user, I understand that I am viewing estimated data for states and the nation. I can dig deeper to find out the methodology behind the FBI's estimations.

[2017-04-13 20:55] amberwreed opened #25 "Review trend charts after adding estimated data"
If necessary, refine trend chart design based on estimated data.

[2017-04-13 20:59] amberwreed commented on #25
Update designs to match new box and header style.
Label lines
Move rates label to above the chart or closer to rates to clarify what the numbers refer to.

[2017-04-14 00:07] amberwreed opened #26 "Content: Estimated data"
Add definition / methodology as a glossary item. (This may be a repeat of another issue.)

[2017-04-14 00:08] amberwreed opened #27 "Content: API documentation"
As a user of the API, I understand what the endpoints will return. Pair with Jeremia and Jacob.

[2017-04-14 00:10] amberwreed opened #28 "Sprint 10 research plan"
Draft a research plan to better understand:
1. Users needs when navigating to an agency
2. Usability and effectiveness of the content on the agency page
3. The impact of variations in data types to the user experience.

[2017-04-14 00:13] amberwreed opened #29 "Pre-launch test plan"
Develop a plan and timeline for pre-launch testing and validation of the site content with expert users.

[2017-04-14 00:13] amberwreed opened #30 "CJIS visit planning"
Define goals, make plan, prepare necessary materials.

[2017-04-14 15:24] #26 closed, assigned to nobody

[2017-04-14 15:38] amberwreed commented on #29
Duplicate

[2017-04-14 15:38] #29 closed, assigned to nobody

[2017-04-14 16:07] AvivaOskow opened #31 "Explore new design for header divider lines"
Thin lines as header dividers sometimes look strange with shorter paragraph content—explore other design options for header styles/dividers

[2017-04-14 16:31] AvivaOskow opened #32 "Explore loading state for intro paragraph on Explorer"
There is a loading icon for the visualizations, but not for the intro paragraph, so there is a jump from landing to when it loads which makes the page look broken. We should explore an option maybe similar to facebook's content loading visual.

http://cloudcannon.com/deconstructions/2014/11/15/facebook-content-placeholder-deconstruction.html

[2017-04-14 16:34] AvivaOskow commented on #31
Examples:
https://www.simple.com/

https://login.gov/security/

[2017-04-14 16:37] AvivaOskow commented on #31
<img width="1276" alt="screen shot 2017-04-14 at 12 11 45 pm" src="https://cloud.githubusercontent.com/assets/21244661/25049271/09843bd2-210f-11e7-8e83-86654a22efec.png">

<img width="1190" alt="screen shot 2017-04-14 at 12 11 56 pm" src="https://cloud.githubusercontent.com/assets/21244661/25049272/0d953da2-210f-11e7-8fbc-79c5bae21b12.png">

[2017-04-14 16:45] AvivaOskow opened #33 "Update Trend and NIBRS chart designs to match latest spec"
Annotated files coming...

[2017-04-14 16:48] AvivaOskow commented on #33
![explorer content_updated_4 5 17](https://cloud.githubusercontent.com/assets/21244661/25049601/a79edc90-2110-11e7-8fba-f8f5c27333e3.jpg)

[2017-04-14 17:13] AvivaOskow opened #34 "Trend chart exploration—try year dots"

[2017-04-14 17:14] AvivaOskow commented on #34
<img width="906" alt="screen shot 2017-04-14 at 1 14 56 pm" src="https://cloud.githubusercontent.com/assets/21244661/25050234/3b6a4718-2114-11e7-8152-0cc9c0283029.png">

[2017-04-14 17:15] AvivaOskow opened #35 "Adjust red line for lists to match line height of text"

[2017-04-14 17:16] AvivaOskow commented on #35
<img width="250" alt="screen shot 2017-04-14 at 1 17 07 pm" src="https://cloud.githubusercontent.com/assets/21244661/25050276/86e14fa2-2114-11e7-90e1-4e67864f4196.png">

[2017-04-14 17:17] AvivaOskow opened #36 "About: adjust content"

[2017-04-14 17:17] AvivaOskow commented on #36
<img width="1048" alt="screen shot 2017-04-14 at 1 18 31 pm" src="https://cloud.githubusercontent.com/assets/21244661/25050313/bb8e90e8-2114-11e7-9048-0920c7f73258.png">

[2017-04-14 17:18] AvivaOskow opened #37 "Explore new glossary icon"
@brendansudol and I discussed that our current glossary icon feels kind of heavy and looks more like a rectangle than a book. We want to explore another, lighter and more book-y option, similar to FEC perhaps.

[2017-04-14 17:19] AvivaOskow opened #38 "Download & docs: reduce first column font size"

[2017-04-14 17:19] AvivaOskow commented on #38
Good opportunity for @Aviva to try a pull request

[2017-04-14 20:16] LarryBafundo commented on #5
@amberwreed can we list out the search parameters under consideration?

assuming we are thinking about (within the context of a state): agency name, city/town, county, and  zipcode - and for zipcode, taking a centoid approach, where we will surface agencies associated with nearby zipcodes within a radius to be defined. the latter point depends on the viability of the crosswalk file that Jacob will

[2017-04-14 20:18] LarryBafundo commented on #18
Seems like this may happen - if a person searches for their local agency but they don't report 12 months worth of data. However, this brings up the question of whether or not we want to indicate if an agency is covered by another agency, in addition to showing what agencies are covered by another.

[2017-04-14 20:21] LarryBafundo commented on #16
@RyanSibley / @amberwreed can we please include the part about whether an agency is designated as "urban" or "rural" and test that with users next week? i'm interested in learning if users find that context useful, especially when they may not know much about the agency they are viewing data for.

on a related note, @RyanSibley and @harrisj, we will need to firm up our proposed approach for coming

[2017-04-14 20:24] LarryBafundo commented on #23
@amberwreed let me know if we need to schedule a call next week with Cindy to talk through any questions related to the design.

[2017-04-14 20:47] LarryBafundo opened #39 "Make territory data accessible via the CDE as a download"
As a user, I can access data for US territories that participate in the UCR program via the CDE.

[2017-04-14 20:48] LarryBafundo opened #40 "Explore & define opportunities for improving the download experience"

[2017-04-14 20:48] LarryBafundo opened #41 "Add new geographical perspectives"

[2017-04-14 20:48] LarryBafundo opened #42 "Add new crime types to the explorer"

[2017-04-14 22:39] amberwreed commented on #23
"covered by" seems low on the priority list but I think we should schedule
weekly or bi-weekly (2x per week) with Cindy to ask random statistical
questions that come up. We can frame them as reviewing the app if necessary.

On Fri, Apr 14, 2017 at 1:24 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-04-17 15:18] jeremiak commented on #35
This is now deployed to https://crime-data-explorer.fr.cloud.gov

[2017-04-17 15:18] jeremiak commented on #34
This is now deployed to https://crime-data-explorer.fr.cloud.gov

[2017-04-17 15:32] AvivaOskow commented on #37
<img width="755" alt="screen shot 2017-04-17 at 11 30 30 am" src="https://cloud.githubusercontent.com/assets/21244661/25093717/7e9de964-2361-11e7-8523-a60e09be15b5.png">

[2017-04-17 16:42] AvivaOskow commented on #31
@amberwreed @brendansudol what do you think about something like this?

![home_ao-divider try-5](https://cloud.githubusercontent.com/assets/21244661/25095876/85e15fc6-236b-11e7-840a-c96d17e10199.jpg)

[2017-04-17 16:52] #35 closed, assigned to AvivaOskow

[2017-04-17 16:52] RyanSibley commented on #8
The story is:

As a user I want to know anything that might prevent me from making comparisons or completing analyses.

To try to address this Jeremia has suggested  writing a script to pull all footnotes from the table 8 DB. The footnotes contain caveats and anomalies, but they aren't available in one place. We'll decide once we have the info where and how to make it available.

[2017-04-17 16:53] AvivaOskow commented on #34
@amberwreed what do you think? I'm cool with it.

[2017-04-17 16:59] jeremiak commented on #8
To add to what @RyanSibley said above, the footnotes are included in the excel spreadsheets downloads but aren't structured. But we can definitely pull them out with a script and then try to match them up with the relevant state, city or crime type. I started pulling footnotes from 2006 by hand here but its a bit of a cumbersome process:
https://docs.google.com/document/d/1rMe2zguesfwRfSpX27Gfu44d

[2017-04-17 19:58] LarryBafundo commented on #34
looks good to me.

[2017-04-17 19:59] amberwreed commented on #34
Sorry! I really really don't like this. Can we discuss @brendansudol ?

[2017-04-17 21:21] jeremiak commented on #36
@AvivaOskow this is now deployed to https://crime-data-explorer.fr.cloud.gov/

[2017-04-18 03:43] LarryBafundo commented on #25
relates to https://waffle.io/18F/crime-data-explorer/cards/58ee4de1c889df00311904cf

[2017-04-18 03:44] LarryBafundo commented on #28
@amberwreed can we schedule a time to review the plan prior to Friday?

[2017-04-18 03:45] LarryBafundo commented on #30
Starting to develop a preliminary agenda here (still early): https://docs.google.com/document/d/1CxUWUNaTyQZZvuVz7lhGCSt-mVCgdAe3Tt9FQZ6pC3g/edit

Goal is to get something that we can share with the client rounded out by tomorrow (Tuesday)

[2017-04-18 04:23] amberwreed commented on #28
Yes. @RyanSibley and @AvivaOskow and I have planning meeting Thursday. I'll invite you as optional and send you an invite to review / dry run Thursday afternoon.

[2017-04-18 18:56] RyanSibley commented on #15
see #687

[2017-04-19 21:12] #30 closed, assigned to LarryBafundo

[2017-04-19 21:25] LarryBafundo commented on #18
we're not going to handle this in the CDE

[2017-04-19 21:25] #18 closed, assigned to nobody

[2017-04-20 18:12] amberwreed commented on #28
https://docs.google.com/document/d/1uOLvkBEhN6rZO6xo2CtdCnHJlZS1ntcmP1Ge1ILDVNk/edit#

[2017-04-21 23:01] #5 closed, assigned to harrisj, brendansudol, amberwreed

[2017-04-21 23:01] #21 closed, assigned to RyanSibley, LarryBafundo, AvivaOskow

[2017-04-21 23:04] #28 closed, assigned to RyanSibley, amberwreed, LarryBafundo

[2017-04-21 23:05] #16 closed, assigned to RyanSibley

[2017-04-21 23:05] #19 closed, assigned to nobody

[2017-04-24 23:43] LarryBafundo commented on #17
@amberwreed have we considered replacing the national trend line on the agency view with a county trend? this may be down the road, but comparing agency totals with state and county data may be more meaningful.

[2017-04-24 23:44] #17 closed, assigned to nobody

[2017-04-24 23:45] LarryBafundo commented on #24
@RyanSibley okay to move this into in progress? otherwise, let's move it to the top of the content column.

[2017-04-24 23:48] LarryBafundo commented on #32
moving this to the design column until we've firmed up the desired approach here

[2017-04-24 23:49] LarryBafundo commented on #23
we are going to punt on this

[2017-04-24 23:49] #23 closed, assigned to nobody

[2017-04-24 23:53] #34 closed, assigned to AvivaOskow

[2017-04-25 00:00] #41 closed, assigned to nobody

[2017-04-25 00:07] LarryBafundo opened #43 "Provide context for questions for Cynthia"
We setup a recurring call with Cynthia to discuss technical questions that either affect our implementation, or which will help us build confidence in how data is presented by the CDE.

We said we would send the discussion topics in advance, but should provide necessary context when doing so, by for instance, explaining how we propose defining urban vs. rural so they can weigh in.

https://docs.go

[2017-04-25 14:55] AvivaOskow opened #44 "Update trend chart to new spec"
Annotated file here

https://drive.google.com/open?id=0B9bDBpzeNNaXektaaVlsOVBKNHM

![trend chart_4 25 17](https://cloud.githubusercontent.com/assets/21244661/25392184/f900f1fc-29a5-11e7-84c5-4c80e4322577.png)

[2017-04-25 19:27] #33 closed, assigned to nobody

[2017-04-25 19:29] LarryBafundo opened #45 "agency view: add programmatically-generated overview text"
As a user I can view introductory text about the agency I’m viewing that explains what data type it reports (SRS or NIBRS) and whether it is classified as urban or suburban.

Note:

We need to specify how we will determine if an agency is classified as urban or suburban.

[2017-04-25 19:30] LarryBafundo opened #46 "agency view: implement related links"
As a user I can view the agency website as a related link for the agency I'm viewing for.

[2017-04-25 19:30] LarryBafundo opened #47 "agency view: show state and national sparklines"
As a user, I can compare agency data with state and national trends for that offense.

Notes:

Clicking on these trend lines will take you to the page for that result (either the state or national perspective).

[2017-04-25 19:33] LarryBafundo opened #48 "agency view: view agency counts as a bar chart"
As a user, I can view the number of offenses reported and cleared for the agency I am viewing based on the time range I’ve selected.

Notes:

--The default view is 10 years
--Historical data is limited to 1995
--Users can select individual years within the range to view counts for that year
--if the agency reports SRS data only, this will be the only chart displayed on the page. If the agency repo

[2017-04-25 19:34] LarryBafundo opened #49 "agency view: download agency offense data as a CSV (bar chart downloads)"
As a user I can download the agency data displayed on the page as a CSV. This issue covers two separate download actions, one for the bar chart (counts) and another for the aggregated NIBRS dimensions (table). The formatting of the CSVs should be similar to how we handle these downloads at the state level, with the exception being that the agency counts will include a column for clearance.

[2017-04-25 19:35] LarryBafundo opened #50 "agency view: view aggregated agency incident data as a table"
As a user, I can view related incident data for the agency I am viewing, assuming that agency submits NIRBS data.

[2017-04-25 19:36] LarryBafundo opened #51 "agency view: download incident-level data as a CSV"
As a user, I can download all incident data I am viewing for a given agency and year form the explorer view.

[2017-04-25 19:37] #25 closed, assigned to LarryBafundo

[2017-04-25 19:38] LarryBafundo opened #52 "Complete 18F accessibility review"
Need to do this prior to launch. Considering scheduling within the next couple of sprints.

[2017-04-25 19:58] #20 closed, assigned to nobody

[2017-04-25 20:01] AvivaOskow commented on #48
@LarryBafundo @brendansudol and I were discussing if the default view should be 10 years, or the most recent year highlighted, like how we do for the trend chart for state and nation (although we do the opposite for the histograms)

[2017-04-25 20:03] AvivaOskow commented on #48
![agency view_sprint 10-test](https://cloud.githubusercontent.com/assets/21244661/25405245/b3eed482-29d0-11e7-8e78-3913c43ff175.png)

[2017-04-26 00:28] jeremiak commented on #32
We've also shipped a semi fix for this where the same loading indicator is now used for the paragraphs so there might still be a jump when the data comes in but at least the user is aware that something is loading there

[2017-04-26 16:28] RyanSibley opened #53 "Add urban, rural and suburban to the glossary"
Glossary additions:

Urban - An area is defined as urban if it is flagged as part of the core city within a Metropolitan Statistical Area as determined by the FBI. Metropolitan Statistical Areas are defined by the Census Bureau.

Suburban - An area is defined as suburban if it is part of a Metropolitan Statistical Area but not flagged as the core city as determined by the FBI. Metropolitan Statist

[2017-04-26 16:43] jeremiak commented on #39
I'd like to reframe this as adding "tribal agencies and territory data to the API and data downloads" and be very explicit that it isn't more visualization views for now.

[2017-04-26 17:01] amberwreed opened #54 "Stakeholder research plan"

[2017-04-26 17:02] AvivaOskow opened #55 "Pilot testing: Implement design enhancements for feedback tool"
- Colors
- Spacing
- Buttons

[2017-04-26 17:02] amberwreed opened #56 "Agency navigation: Improve usability"
Options that appear need to be clearer what the options listed are (if you search county and all the towns in that county show up, we need to say that’s why those are there, etc.)

[2017-04-26 17:03] amberwreed opened #57 "Explore opportunities for filtering search results by agency type & population tier"
Agency type should be a dropdown to choose from

[2017-04-26 17:04] AvivaOskow commented on #55
<img width="497" alt="screen shot 2017-04-26 at 1 04 43 pm" src="https://cloud.githubusercontent.com/assets/21244661/25446872/f230d6b8-2a80-11e7-8baf-31dcacfc9812.png">

[2017-04-26 17:05] amberwreed opened #58 "Explore opportunities for displaying search results"
Explore design, placement, and size of results

[2017-04-26 17:05] amberwreed opened #59 "Design: Agency navigation: Map"
Explore the value of providing a pin on the map when selecting a specific agency.

[2017-04-26 17:06] amberwreed opened #60 "Design: Display of data availability"
Explore the difference between 0 reported and data unavailable.

[2017-04-26 17:07] amberwreed opened #61 "NIBRS download button"
Explore design and content to made the download button more useful.

[2017-04-26 17:08] amberwreed opened #62 "Explore & refine pathways for agency navigation"
Explore the usefulness of being able to narrow down searches by population size.

[2017-04-26 17:09] amberwreed opened #63 "Downloads: Facilitate analysis"
Explore how we can slice the NIBRS data in ways that best facilitate analysis.

[2017-04-26 17:11] amberwreed opened #64 "Design: Bar chart: Show totals"
Show totals for full time range when a single year isn’t selected.

[2017-04-26 17:32] AvivaOskow commented on #47
<img width="688" alt="screen shot 2017-04-26 at 1 31 46 pm" src="https://cloud.githubusercontent.com/assets/21244661/25447864/bba35b6c-2a84-11e7-8369-3aa080c8bfef.png">

[2017-04-26 18:15] #22 closed, assigned to AvivaOskow

[2017-04-26 18:29] amberwreed commented on #15
cleared
reported
suburban
urban
rural
estimated
unestimated

[2017-04-26 18:31] RyanSibley commented on #11
See the UCR manual for the def of jurisdiction

[2017-04-26 18:32] #10 closed, assigned to nobody

[2017-04-26 18:33] RyanSibley commented on #6
https://docs.google.com/document/d/1Lq1pTh0d5mthbTepCNW2owJ5O4OTpDDljjh16uKE81c/edit#

[2017-04-26 18:34] RyanSibley commented on #12
content implementation task

[2017-04-26 18:35] #9 closed, assigned to RyanSibley

[2017-04-26 18:45] AvivaOskow opened #65 "Design: Agency View: Annotate NIBRS tables"
Annotated file here: https://drive.google.com/open?id=0B9bDBpzeNNaXWHRYVERFeEhEenM

[2017-04-26 18:46] AvivaOskow commented on #65
Annotate Nibrs table and share to FE Devs

[2017-04-27 00:21] LarryBafundo commented on #57
@amberwreed is this a design task? we're not planning to implement search in this sprint.

[2017-04-27 00:25] LarryBafundo commented on #59
I'm personally against this idea, as I think it will only reinforce the view that crime reported by a single agency is representative of crime in a location.

[2017-04-27 19:59] LarryBafundo commented on #65
@AvivaOskow once you add the tables to this issue we can close it out.

[2017-04-27 21:14] LarryBafundo commented on #51
this will work in a similar way to how we facilitate the download of incident data at the state level - it's essentially allowing users to download the numbers behind the chart. in later iterations, we'll want to explore how we can allow users to get more detailed agency/incident data via the API.

[2017-04-27 21:15] LarryBafundo commented on #51
@amberwreed we may need to consider the impact of this on the current design. for example, separate download buttons for different parts of the incident table, or a single download action that returns the data in pieces.

[2017-04-27 21:15] LarryBafundo commented on #55
hey @AvivaOskow can you briefly outline the design fixes/enhancements you want to make to the feedback tool here?

[2017-04-27 21:19] LarryBafundo commented on #61
this should take into account both the short-term and long-term solutions for downloading incident data at the agency level.

[2017-04-27 21:57] AvivaOskow commented on #65
@brendansudol @jeremiak

[2017-04-28 15:24] AvivaOskow commented on #20
https://drive.google.com/open?id=0B9bDBpzeNNaXWHRYVERFeEhEenM

[2017-04-28 16:50] #65 closed, assigned to AvivaOskow

[2017-04-28 16:50] LarryBafundo commented on #65
closing this out as we have a task for the implementation the tables

[2017-04-28 16:59] RyanSibley commented on #24
I'm working with @jeremiak to implement this copy.

[2017-04-28 17:10] RyanSibley opened #66 "Download experience improvements"
I'm trying to sort out all the things I need to do here: https://docs.google.com/a/gsa.gov/document/d/1vt14iaUVm1aGF6RSRb3hV0Rns9Qs2LvGF15ngCWmQw4/edit?usp=sharing

Feel free to comment or link to other GH issues.

[2017-04-28 17:11] LarryBafundo opened #67 "Add incident endpoint"
We need to explore how we can expose incident-level data via the API. Our current design for the agency view envisions users being able to download the bulk incident data reported by the selected agency for a given year.

Considering the number of agencies that exist, it would be ideal if the API can expose this information on demand, rather than pre-generating the files like we currently do with

[2017-04-28 17:12] LarryBafundo opened #68 "Remove arson from CDE interface"
We should remove arson as a selectable offense in the CDE interface because arson does have estimated totals.

Similarly, we need to make sure that our totals for  "all property crime" do not include arson counts.

[2017-04-28 17:17] LarryBafundo opened #69 "Add 2015 data to the CDE"
This is likely not something we can do prior to launch due to a number of factors, such as needing to get the data from CJIS (via hard disk) and complexity associated with the update -- however, we'll want to outline a strategy for updates prior to the end of the engagement.

[2017-04-28 20:22] #53 closed, assigned to jeremiak, RyanSibley

[2017-04-28 20:44] AvivaOskow commented on #55
@jeremiak @LarryBafundo @amberwreed see design for review below. This is annotated and ready to go, although @RyanSibley might want to change the wording of the questions still.

<img width="741" alt="screen shot 2017-04-28 at 4 42 48 pm" src="https://cloud.githubusercontent.com/assets/21244661/25546639/f1814042-2c31-11e7-929b-ff38db539e41.png">

[2017-05-01 15:05] LarryBafundo commented on #68
latest guidance from the FBI is to keep arson as a selectable offense, so i'm going to close this and create a new issue for including a caveat that explains how we're using it .

[2017-05-01 15:05] #68 closed, assigned to nobody

[2017-05-01 15:07] LarryBafundo opened #70 "Explain that arson does not include estimated data"
CJIS wants to keep arson as a selectable offense in the CDE. However, since arson is not estimated, we can't keep it in the estimated totals for the state and national perspectives.

We'll need to explain this somewhere in the CDE so that users understand that arson is not estimated and that arson isn't included in the state and national estimated totals (example: all property crime)

[2017-05-01 16:06] harrisj commented on #70
Okay, we could just switch to using the `/counts/` endpoint for getting arson statistics for this page (We probably need to rebuild the `reta_month_offense_subcat_summary` table it depends on to remove some records and agencies that don't report for 12 months). Alternatively, we could look to build a denormalized view based entirely on the arson tables (for instance, instead of NIBRS details, focu

[2017-05-01 20:24] RyanSibley commented on #15
https://docs.google.com/document/d/1d2l7aLsOJpVGjCkREpUP6izuM2rkCpsiS6eZ4WuMAF8/edit

[2017-05-01 20:36] RyanSibley commented on #14
https://docs.google.com/document/d/13ZRCwqDcMzmzIc1tlntJTMIVKa7M0DyGSjrv8a39SZ8/edit

[2017-05-01 20:37] RyanSibley commented on #6
"Sometimes the data available through the Crime Data Explorer differs from the data available directly from states because of adjustments or amendments to the data that happen after the FBI publishes its annual reports. Please reach out to the FBI If you have questions."

[2017-05-01 21:52] LarryBafundo opened #71 "Add a 404 page"
We should add a custom 404 page when a page isn't available.

[2017-05-02 17:01] LarryBafundo commented on #57
@amberwreed confirmed that we do have the capability to differentiate agency types using flags from the database:

For example, a search result could be broken down as follows, with "city type" referring to city and township police departments. You can see from this list how agencies can have overlapping jurisdictions.

City    2
2    County    3
3    University or College    2
4    State Police

[2017-05-02 17:12] RyanSibley commented on #24
https://docs.google.com/document/d/1Lq1pTh0d5mthbTepCNW2owJ5O4OTpDDljjh16uKE81c/edit#

[2017-05-02 17:33] LarryBafundo commented on #2
this is an implementation task & the data is already available for the front-end team.

[2017-05-02 17:35] LarryBafundo commented on #70
hey @RyanSibley can we try to tackle this in the current sprint? we can consider another content task(s) in exchange.

[2017-05-02 18:09] LarryBafundo opened #72 "Pilot testing: Add analytics to site"

[2017-05-02 18:10] LarryBafundo commented on #72
We plan to start pilot testing as early as next week and should enable google analytics tracking before we do.

[2017-05-02 19:10] RyanSibley opened #73 "Add Readme to the Repo"

[2017-05-02 20:30] LarryBafundo opened #74 "NIBRS attributes don't add up to the presented total"
When viewing NIBRS data in the CDE, the individual counts for the various attributes don't add up to the total displayed. Also, the downloaded version of the data is slightly different, although matches the total displayed in the CDE.

For example, search by West VA / homicide / 2004-2014:

Notice that for race of offender, there were 813 reported offenders. However, if you add up the counts for t

[2017-05-02 20:42] LarryBafundo commented on #74
FYI - Sammy pointed this out while prepping Mr. Nicholas for an upcoming demo of the CDE.

[2017-05-03 02:52] amberwreed opened #75 "Homepage: Clickable map"
As a user, I can click on a state from the homepage and be taken directly to the state with violent crime as the default view.

[2017-05-03 02:53] amberwreed opened #76 "Homepage: Crime selector"
As a user, the crime selector is defaulted to violent crime, so that I can easily view results after picking a state.

[2017-05-03 16:55] #43 closed, assigned to LarryBafundo

[2017-05-05 18:49] #72 closed, assigned to jeremiak

[2017-05-05 20:47] #55 closed, assigned to jeremiak

[2017-05-05 22:28] LarryBafundo commented on #60
reminder to ask @harrisj & @cacraig if we have a way of determining whether or not an agency has reported 0 of something, or if it hasn't reported anything at all.

[2017-05-05 22:28] #64 closed, assigned to nobody

[2017-05-05 22:46] cde-feedback-bot opened #77 "User feedback"
## What brought you to the site and how can we improve your experience here?
Testing in advance of release

## General feedback about the site?
a

## Using this data for something cool? Tell us about it!
b

[2017-05-05 22:46] #77 closed, assigned to nobody

[2017-05-06 20:04] cde-feedback-bot opened #78 "User feedback: fix broken footer links"
## What brought you to the site and how can we improve your experience here?
test

## General feedback about the site?
I click on explorer at the bottom of the page at get this error
404
Sorry, we can’t seem to find that page.

## Using this data for something cool? Tell us about it!

[2017-05-08 17:20] cde-feedback-bot opened #79 "User feedback"
## What brought you to the site and how can we improve your experience here?
I went to the FBI Uniform Crime Reporting customer service ledger and wrote down 4 data requests from outside entities. I logged into the Beta Site to see if I could find the data. 1. 2014 arrest data under 18 for prostitution for the nation. 2. National data by month for violent crime. 3. Number of DUI arrests by state a

[2017-05-08 19:45] #76 closed, assigned to brendansudol

[2017-05-09 15:40] jeremiak opened #80 "API: Document estimations model"
The estimations model employed by the FBI is applied to the Return A offense type data and has the potential to change the data. So that we can be as precise as possible, make the data usable for subsequent analysis, and adhere to the [UCR Data Quality Guidelines](https://ucr.fbi.gov/data-quality-guidelines-new) we should document the model used in the estimations process.

**Proposed acceptance c

[2017-05-09 16:53] jeremiak opened #81 "Remove references to "crime""
The data we are using is not, legally speaking, crime data. It is data of offenses known to law enforcement that represent events that may or may not be crimes. Given the constitutional obligation to a presumption of innocence and that this data set has no information regarding convictions or indictments, it isn't representing crime or criminals.

Framing this data as "crime data" or, worse, as th

[2017-05-09 16:57] cde-feedback-bot opened #82 "User feedback"
## What brought you to the site and how can we improve your experience here?
selected to use and participate in the search and feedback

## General feedback about the site?
Searched WV State Police

## Using this data for something cool? Tell us about it!
Searched Sex offenders in my city and surrounding area

[2017-05-09 18:00] #12 closed, assigned to RyanSibley

[2017-05-09 18:08] #75 closed, assigned to nobody

[2017-05-09 18:25] LarryBafundo commented on #45
we likely have some changes to the state & agency overviews based on the results of this week's testing.

[2017-05-09 18:34] LarryBafundo commented on #57
changing the focus of this issue to look at how we can group agencies by population type / tier instead, as it doesn't seem like we can reliably classify some agencies as urban or rural becaus e of the coverage issue and jurisdictions spanning large geographical areas that may include both rural and urban areas.

cc: @harrisj

[2017-05-09 18:43] LarryBafundo commented on #39
@jeremiak latest direction is to show tribal lands as agencies as part of the agency view. territories can be addressed as a stand-alone download and the API

[2017-05-09 18:47] jeremiak commented on #39
What is an example of a tribal ORI that I can look at in the API?

[2017-05-09 19:50] RyanSibley opened #83 "Write dataset description for estimated data"
https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

[2017-05-09 20:00] amberwreed commented on #81
It'd be helpful if you can call out specific places in the text you are suggesting we make changes to.

I agree with most of your points but we are showing reported vs. cleared so there is some data about arrests in the interface and I think more in the downloads and the database once endpoints are created.

The larger issue that this should not be thought of "as the de-facto national crime data s

[2017-05-09 20:16] #6 closed, assigned to RyanSibley

[2017-05-09 20:18] #14 closed, assigned to RyanSibley

[2017-05-09 20:48] #58 closed, assigned to amberwreed

[2017-05-09 21:08] LarryBafundo commented on #51
this will be dependent on the incident API work that will soon be underway

[2017-05-09 21:08] LarryBafundo opened #84 "Sprint 16 Divider"

[2017-05-09 21:11] LarryBafundo opened #85 "Update designs to include tribal data as part of the agency view"
Need to include "type" as a selectable criteria for "agency type"

[2017-05-09 21:12] LarryBafundo opened #86 "View selected agency location on a map"
As a user, I can view a map of the state with a pin in the county where an agency is located. for DC and agencies that aren't associated with a county, the pin should default to the middle of the map.

[2017-05-09 21:19] AvivaOskow opened #87 "Explore new placement of incident details download button"
Download button: Location of the download all incidents button, seemed to get lost in testing. Consider where content can be added to explain what you can do with downloads.

[2017-05-09 21:22] AvivaOskow commented on #87
From most recent agency prototype

<img width="656" alt="screen shot 2017-05-09 at 5 20 37 pm" src="https://cloud.githubusercontent.com/assets/21244661/25873276/e09a737c-34db-11e7-8ea1-cffc445d575f.png">

One suggestion, try moving back into header

<img width="658" alt="screen shot 2017-05-09 at 5 20 46 pm" src="https://cloud.githubusercontent.com/assets/21244661/25873303/f9745e58-34db-11e7-9905-

[2017-05-09 21:31] AvivaOskow opened #88 "Chart Legend: "Legacy" and "Revised" labels should have glossary links, like Population"
Sprint 11 feedback, for Rape specifically, explore access to glossary definitions from legend, like how we have for population

[2017-05-09 21:32] AvivaOskow opened #89 "Agency view: search refinements (consideration for post launch)"
Let's use this card to to capture potential refinements for search for after launch.

[2017-05-09 21:33] AvivaOskow commented on #89
**From testing**

<img width="248" alt="screen shot 2017-05-09 at 5 33 05 pm" src="https://cloud.githubusercontent.com/assets/21244661/25873733/9c729948-34dd-11e7-8e2a-c265c081b23f.png">

<img width="251" alt="screen shot 2017-05-09 at 5 33 10 pm" src="https://cloud.githubusercontent.com/assets/21244661/25873732/9c670902-34dd-11e7-98f6-6eebf9076a3e.png">

[2017-05-09 21:36] LarryBafundo commented on #46
reminder to talk to Jacob about availability of police employee data at the agency level.

[2017-05-09 21:40] AvivaOskow opened #90 "Explorer overview: Refine overview text to focus participation and move “voluntary” to the first sentence."

[2017-05-09 21:40] LarryBafundo opened #91 "Download all offender & victim data together as a CSV"
As a user, I want to download all aggregated NIBRS data with a single download action and as a single zip-file with multiple CSVs.

[2017-05-09 21:41] AvivaOskow opened #92 "Agency bar chart overview: Add an explanation for why rates are not given at an agency level"
Feedback from sprint 11 user testing

[2017-05-09 21:41] AvivaOskow opened #93 "About the data on explorer: Change title of About the data to be crime and location specific."
Feedback from sprint 11 user testing

[2017-05-09 21:42] AvivaOskow opened #94 "About page or homepage: Explain hierarchy of UCR, SRS and NIBRS"
Feedback from sprint 11 user testing

[2017-05-09 21:44] AvivaOskow opened #95 "Homepage or About page: Provide clear direction on what the CDE is good for - access enabling analysis"
Feedback from sprint 11 user testing

[2017-05-09 21:44] AvivaOskow opened #96 "Fix: Flip the order of larceny and motor vehicle theft in the hierarchy rule paragraph"
Feedback from sprint 11 user testing

[2017-05-09 21:45] AvivaOskow opened #97 "Fix: Double check that we are using the right data in the rape trend chart sentence. Says incidents. Should we be using victim?"

[2017-05-09 21:46] amberwreed opened #98 "Design 404 page"

[2017-05-09 21:51] amberwreed opened #99 "Sprint 12 divider"

[2017-05-09 21:51] AvivaOskow commented on #56
@amberwreed do you feel like we solved this with this last sprint?

[2017-05-09 21:52] LarryBafundo commented on #40
Ryan started a list here: https://docs.google.com/a/gsa.gov/document/d/1vt14iaUVm1aGF6RSRb3hV0Rns9Qs2LvGF15ngCWmQw4/edit?usp=sharing

[2017-05-09 21:52] #66 closed, assigned to jeremiak, RyanSibley

[2017-05-09 21:52] LarryBafundo commented on #66
this is covered by another issue; @RyanSibley moved the link to your gdoc into that one as well

[2017-05-09 21:53] #63 closed, assigned to nobody

[2017-05-09 21:54] AvivaOskow opened #100 "Explorer About the Data: explore new design so it feels less boilerplate-y"
Feedback from sprint 11 user testing

[2017-05-09 21:54] #56 closed, assigned to nobody

[2017-05-09 21:54] AvivaOskow opened #101 "Develop one pager for pilot testing"

[2017-05-09 21:54] #61 closed, assigned to nobody

[2017-05-09 21:55] AvivaOskow commented on #101
![bc555083-c633-4087-97d5-aa85e0a8c237](https://cloud.githubusercontent.com/assets/21244661/25874472/b705edc0-34e0-11e7-8466-0add5ca68162.JPG)

[2017-05-09 22:14] LarryBafundo opened #102 "Unclassified race data"
For some states & offenses we have race data that is unclassified in both the explorer and the downloads. see screenshot below.

for this example i searched Tennessee. Most offenses returned cases like this, although not all of them. I did not see the same issue for West Virginia, so the problem doesn't seem to be incredibly consistent.

[2017-05-09 22:19] LarryBafundo commented on #102
For some states & offenses we have race data that is unclassified in both the explorer and the downloads. see screenshot below.

for this example i searched Tennessee. Most offenses returned cases like this, although not all of them. I did not see the same issue for West Virginia, so the problem doesn't seem to be incredibly consistent.

[2017-05-09 22:19] LarryBafundo commented on #102
<img width="733" alt="screen shot 2017-05-09 at 3 15 36 pm" src="https://cloud.githubusercontent.com/assets/15899668/25875184/f0b0b03e-34ca-11e7-94ad-b4702c7aa1cf.png">

[2017-05-09 22:21] LarryBafundo opened #103 "Other data classification has a unknown artifact associated with it"
When viewing victim relationship to offender and location type data, the "other" data classification has an unknown artifact associated with it. See example below. The artifact is a set of parentheses with a number, but this number does not relate to the actual number  the "other" classification represents.

[2017-05-09 22:23] LarryBafundo commented on #103
<img width="818" alt="screen shot 2017-05-09 at 3 18 59 pm" src="https://cloud.githubusercontent.com/assets/15899668/25875280/748adda8-34cb-11e7-9a72-913356773330.png">

[2017-05-10 00:36] LarryBafundo opened #104 "Bulk NIBRS reports lack an incident ID to associate agencies within incident data"
Currently we provide access to NIBRS data reported by a state for a given year. Due to the volume of data this information is provided in several reports, with each report representing a segment of the NIBRS data structure (i..e, incident, offender, victim, etc.)  Together, these reports can be joined using incident IDs.

The "agency" report does not include a column with incident IDs, which may m

[2017-05-10 04:50] #78 closed, assigned to jeremiak

[2017-05-10 16:24] #62 closed, assigned to amberwreed

[2017-05-10 16:26] #59 closed, assigned to amberwreed

[2017-05-10 16:26] #57 closed, assigned to amberwreed

[2017-05-10 16:32] LarryBafundo commented on #60
Need to ask Cindy/CJIS about this during the sprint review.

[2017-05-10 16:36] amberwreed commented on #83
@RyanSibley I added some comments to the google doc.

[2017-05-10 16:45] LarryBafundo commented on #46
let's just start with the agency website for now, as the use of police employee data is questionable at this level and participation is not applicable for an agency perspective.

[2017-05-10 16:52] LarryBafundo commented on #80
@jeremiak does this just refer to the API documentation, or also the interface?

[2017-05-10 17:38] amberwreed commented on #54
https://docs.google.com/document/d/1PkBmgaNm6z4wZSFqYaT2rwc8FuUm72rtdYs8Qi_c2qY/edit

[2017-05-10 17:44] jeremiak commented on #80
I think this applies broadly to the CDE. Right now the estimations model is opaque but it is important for understanding what the data means. So I think this content should be in the CDE but linked to from the API documentation.

[2017-05-10 17:53] LarryBafundo opened #105 "Work with CJIS on placement of CDE logo"

[2017-05-10 18:04] LarryBafundo opened #106 "Make data available for aggregated NIBRS counts"
This task is in support of enabling the agency incident table: https://github.com/18F/crime-data-explorer/issues/50

[2017-05-10 18:05] cde-feedback-bot opened #107 "User feedback"
## What brought you to the site and how can we improve your experience here?
Tes

## General feedback about the site?

## Using this data for something cool? Tell us about it!

[2017-05-10 18:12] cde-feedback-bot opened #108 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing

## General feedback about the site?
See all Downloads - is this working properly?  must log out completely out of CDE to retrieve other agencies other info

## Using this data for something cool? Tell us about it!

[2017-05-10 18:38] cacraig commented on #104
You can close this per our conversation earlier - The agency files have the ORI (or agency_id) fields that are joined on from any field containing an ORI (or agency_id). Incidents, for example, have a one to many relationship with Agency. So incidents have an ORI field to join with Agencies.

Incident.ori   <-(many)------(one)->  Agency.ori

[2017-05-10 18:43] cde-feedback-bot opened #109 "The difference between rates and total volume reported isn't clear to the casual user"
## What brought you to the site and how can we improve your experience here?
Part of FBI CJIS beta test (week of May 8-12)

## General feedback about the site?
1. Many of the downloads get stuck downloading the first thing you request. (e.g., if you download the Hate Crime .csv it gives you that if you ask for a different data set.)
2. The site does not provide much context for the casual user as

[2017-05-10 18:44] LarryBafundo commented on #104
okay going to close this as its not applicable then

[2017-05-10 18:44] #104 closed, assigned to nobody

[2017-05-10 18:58] LarryBafundo commented on #50
@amberwreed will provide revised designs for this

[2017-05-10 20:18] RyanSibley commented on #83
OK I edited it a bit more.

[2017-05-10 20:33] LarryBafundo opened #110 "Arson & theft trend charts aren't populating (hot fix)"
The arson & theft trend charts aren't populating. The case with arson is due to the switch to estimated data and arson not being estimated. We need to figure out what is going on with theft.

[2017-05-10 20:39] LarryBafundo opened #111 "Link to API documentation is broken"
The link https://crime-data-api.fr.cloud.gov/swagger-ui/ goes to a 404

[2017-05-10 20:43] #107 closed, assigned to nobody

[2017-05-11 06:28] amberwreed commented on #44
@brendansudol @jeremiak Here are pngs that call out all the things I still see with the trend chart. I'd be happy to set up a time to pair on this @brendansudol so that we can finish this off and answer any questions / think of possible other solutions if implementation is difficult.

[2017-05-11 06:29] amberwreed commented on #44
![trend chart_revised](https://cloud.githubusercontent.com/assets/13576520/25935557/7e8c0fa8-35d8-11e7-9cab-5e80dfaf42ec.png)
![trend chart implemented](https://cloud.githubusercontent.com/assets/13576520/25935559/803bfd40-35d8-11e7-88a1-0e801c2c2d51.png)

[2017-05-11 06:31] amberwreed commented on #44
@brendansudol I just realized this is still open so maybe you haven't merged your code to master.  I'm moving it to "to do" but I may be wrong. Let's chat tomorrow.

[2017-05-11 13:32] cde-feedback-bot opened #112 "User feedback"
## What brought you to the site and how can we improve your experience here?
Test page GDonewar

## General feedback about the site?
Test page

## Using this data for something cool? Tell us about it!
test page

[2017-05-11 13:46] jeremiak commented on #44
@amberwreed Sorry, it was merged but our automated deploy failed. It should be deployed now to https://crime-data-explorer.fr.cloud.gov
<img width="1205" alt="screen shot 2017-05-11 at 9 45 16 am" src="https://cloud.githubusercontent.com/assets/780941/25952402/91256d66-362e-11e7-8cc5-08e429b0e5c7.png">

[2017-05-11 13:58] #111 closed, assigned to jeremiak

[2017-05-11 14:37] brendansudol commented on #44
yes, sorry about that, looks like you were looking at an older version -- would you mind reviewing again based on latest deploy (https://crime-data-explorer.fr.cloud.gov/explorer/state/alabama/burglary)? also happy to discuss over video too :)

[2017-05-11 15:30] AvivaOskow commented on #89
**UPDATED**

Removed urban-rural distinction, increased results type size, added "all" checkbox, added "Tribal"

<img width="319" alt="screen shot 2017-05-11 at 11 28 46 am" src="https://cloud.githubusercontent.com/assets/21244661/25957837/35b748b4-363d-11e7-9256-c4ca46cc19f9.png">

<img width="319" alt="screen shot 2017-05-11 at 11 28 57 am" src="https://cloud.githubusercontent.com/assets/2124466

[2017-05-11 15:32] AvivaOskow commented on #85
In #89

[2017-05-11 15:32] #85 closed, assigned to nobody

[2017-05-11 15:33] AvivaOskow commented on #89
@amberwreed I'm moving intro review for feedback

[2017-05-11 15:55] amberwreed commented on #89
@AvivaOskow Looks good to me. A minor suggestion would be exploring what it looks like to have all checked but to grey back the rest of the checks. I think something like this helps users understand that "all" controls the checks and gives them clues how to turn it off.

[2017-05-11 15:59] brendansudol opened #113 "Code cleanup: "violent crime" api data lookup"
for estimates data, violent crime uses the key "violent_crime", but for nibrs, the explorer_offense key for violent crime, i think, is simply "violent" -- can we unify this?

[2017-05-11 16:01] brendansudol commented on #113
cc: @harrisj @cacraig

[2017-05-11 16:08] amberwreed commented on #44
Let's set up a meeting today. We can easily skip over the items that have
already been completed.

On Thu, May 11, 2017 at 7:37 AM, Brendan Sudol <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-05-11 18:13] LarryBafundo opened #114 "Related UCR links are not active"
on the about page, the related UCR links don't go anywhere. They should link to the appropriate UCR resources

[2017-05-11 18:13] LarryBafundo commented on #114
<img width="1064" alt="screen shot 2017-05-11 at 11 08 11 am" src="https://cloud.githubusercontent.com/assets/15899668/25964790/e6af52f4-363a-11e7-8790-0e2cf5ad4093.png">

[2017-05-11 19:11] LarryBafundo commented on #47
we should keep working on these, but please note that the final implementation will likely differ from this design based on the results of last week's testing. generally speaking, want to include the state and national trend lines shown here so that they provide context for the agency counts below, but we don't want to confuse people and make them thing that they can compare a count with the rates

[2017-05-11 19:15] LarryBafundo commented on #24
@RyanSibley do we need a separate issue to account for arson? unlike the other offenses, arson is not estimated and so we'll need to explain that its handled separately at the national and state levels.

[2017-05-11 19:19] LarryBafundo commented on #110
theft is working, @jeremiak & @brendansudol are currently working on arson.

[2017-05-11 19:22] cde-feedback-bot opened #115 "It isn't clear that the NIBRS dimensions doesn't always reflect a breakdown of all incidents reported by a state"
## What brought you to the site and how can we improve your experience here?
CSMU request

## General feedback about the site?
I like the look and it's easy to use.  I'm just don't see how you can display the hybrid states (states with both NIBRS and Summary data) together.  When I see the total offenses for say rape and then look below at the rape incident details in OH - the average person looki

[2017-05-11 19:37] cde-feedback-bot opened #116 "User feedback"
## What brought you to the site and how can we improve your experience here?
beta review

## General feedback about the site?
I am reviewing TN and I know that TN is all NIBRS but the Type of Crimes listed are only summary.  I want to see the NIBRS offenses because summary is not giving the true picture for this state.  Example, I want to see how many sodomy were reported in 2014 in the state of T

[2017-05-11 19:48] LarryBafundo commented on #3
Moving this to the backlog for now as we haven't figured out how to handle this quite yet from a technical perspective and we have more pressing needs at the moment. if this can be handled in the interim with a content addition or footnote, let's try that.

cc: @RyanSibley, @amberwreed

[2017-05-11 19:48] LarryBafundo commented on #3
also relates to https://waffle.io/18F/crime-data-explorer/cards/5900d3ac8a45d10026758b80

[2017-05-11 19:59] jeremiak commented on #24
Yes, let's make a separate card so we can close this one out.

[2017-05-11 20:46] #110 closed, assigned to jeremiak, brendansudol

[2017-05-11 20:55] LarryBafundo opened #117 "Footer: Add FBI/CDE logos and "mandatory links""
- Privacy Policy - They can link to https://www.fbi.gov/privacy_policy unless they are going to do something different.
- Freedom of Information Act - Link to https://www.fbi.gov/services/records-management/foipa
- USA.gov - https://www.usa.gov/
- Accessibility - It's not on the required list but good to have. They can link to https://www.fbi.gov/accessibility unless they are going to handle this

[2017-05-12 01:45] amberwreed commented on #44
@brendansudol Awesome! This is really looking great. Here are the remaining things I noticed. I know you are working on the labels. I added thoughts here but can talk more tomorrow. Also, the links that I called out can be put in a new issue.

[2017-05-12 01:46] amberwreed commented on #44
![trend chart 5 11 17](https://cloud.githubusercontent.com/assets/13576520/25978905/1ec8aa3e-367a-11e7-9e4b-e8ad6b3cd438.png)

[2017-05-12 01:47] amberwreed commented on #44
@RyanSibley Please paste in the correct copy. It will likely adjust for rape after 2013 but we can deal with that separately.

[2017-05-12 01:48] amberwreed commented on #44
@AvivaOskow Please take a look and see if you notice anything I missed.

[2017-05-12 03:58] amberwreed commented on #15
@RyanSibley I wonder if we need definitions for rural, suburban, and urban in the glossary if we are moving away from using those terms in the interface. What do you think?

[2017-05-12 04:11] amberwreed commented on #50
Here's a link to the latest table files. @jeremiak Let me know if you need them annotated. Happy to put the time in if it is helpful. https://drive.google.com/open?id=0B5cw7Ca2CjsyTldlSU9kVS1peTQ

[2017-05-12 04:12] amberwreed commented on #50
![victim demographics](https://cloud.githubusercontent.com/assets/13576520/25982117/7dcd8356-368e-11e7-8119-a11169dbc49e.png)
![offender demographics](https://cloud.githubusercontent.com/assets/13576520/25982118/7f9d1106-368e-11e7-8e33-2e7de80572af.png)
![relationship to offender](https://cloud.githubusercontent.com/assets/13576520/25982119/81d88630-368e-11e7-9b89-c14ba29106ea.png)
![location type

[2017-05-12 05:13] amberwreed opened #118 "Agency view: Adjust map location to match latest design"
As a user, I see a map of the nation, state, or state of an agency to the right of the overview text. The UCR resource links are below the overview text.

[2017-05-12 05:14] amberwreed opened #119 "Add trend chart legend for rape definitions"
Add legend for revised rape and legacy rape trend line

[2017-05-12 05:16] amberwreed opened #120 "Content: Agency bar chart"
Provide an explanation for rape specific to the year and kind of data the agency is reporting.

[2017-05-12 05:17] amberwreed opened #121 "Add links to glossary for trend chart legends"
Provide links to the definition of rate, legacy rape, revised rate, total, and population from the top of the trend chart legend.

[2017-05-12 05:19] amberwreed opened #122 "Add icon for external links"
As a user, when I click on a new link, a new tab is opened and I am not taken away from the CDE.

(If there is objection to this, let's discuss.)

[2017-05-12 05:21] amberwreed opened #123 "Change "offense location" to "location type" (NIBRS dimension title)"
User research with a UCR data expert suggested changing the title "Location type" to "Offense location" in the incident-level details because it is more accurate.

[2017-05-12 15:12] jeremiak commented on #122
I have an objection to this. Links opening in the same window/tab is the default behavior for browsers and the browsers provide built in mechanisms for opening content in a new tab. I don't want to change our users' browser default behavior and frustrate them over a small thing like all links opening in new tabs.

I think there are very few reasons why opening a link in a new tab is a good pattern

[2017-05-12 16:29] cde-feedback-bot opened #124 "User feedback"
## What brought you to the site and how can we improve your experience here?
test site

## General feedback about the site?
When downloading bulk downloads, if one file is opened and then closed when opening another download the original download is pictured.

## Using this data for something cool? Tell us about it!
testing

[2017-05-12 16:58] cde-feedback-bot opened #125 "User feedback"
## What brought you to the site and how can we improve your experience here?
Pilot testing - having issues with downloads (first download appears for every download clicked.)   Bulk downloads need more of the data elements associated with the respective programs - Cargo theft and Hate Crime have no offense data.  Human trafficking is a total and not the offenses.

## General feedback about the sit

[2017-05-12 18:06] AvivaOskow commented on #89
@amberwreed @LarryBafundo

@brendansudol and I walked through the interactions and made some decisions today, he has the files now and is getting started. There is one piece I want to discuss with you Amber, I'll reach out via slack.

And here is the design per your suggestion for "all" checked

<img width="318" alt="screen shot 2017-05-12 at 2 06 23 pm" src="https://cloud.githubusercontent.com/as

[2017-05-12 20:07] RyanSibley commented on #44
This is the most recent copy:

`In 2014, [Tennessee]'s burglary rate was [559.3] incidents per 100,000 people. The rate for that year was [higher] than that of the United States.`

`Source: FBI, Estimated data for [Illinois], [2004–2014].`

[2017-05-12 20:21] RyanSibley commented on #15
Oh gosh. Very good point. I'll cross them out in the doc.

[2017-05-12 20:26] RyanSibley commented on #70
I'm starting on this now. Sorry I couldn't get to it in the previous sprint.

[2017-05-12 22:49] LarryBafundo commented on #105
Can we please plan to sync up about this on Monday? Would be good to get some ideas in front of them sooner rather than later so that they know we're addressing it.

[2017-05-12 22:56] LarryBafundo commented on #123
@brendansudol not sure if we need an issue for this as its a characteristic of the new design, but we don't want to forget this change.

[2017-05-12 22:59] LarryBafundo commented on #118
@brendansudol not sure if we need an issue for this as its a characteristic of the new design, but we don't want to forget this change.

[2017-05-12 23:04] LarryBafundo commented on #88
@AvivaOskow we have a task for implementing this in to do, so going to close this...unless there's design work that needs to be done.

[2017-05-12 23:04] #88 closed, assigned to nobody

[2017-05-12 23:07] LarryBafundo commented on #103
closing this as its not actually an issue.

[2017-05-12 23:07] #103 closed, assigned to nobody

[2017-05-12 23:09] AvivaOskow commented on #105
![home_logo_1](https://cloud.githubusercontent.com/assets/21244661/26019816/820908f6-3746-11e7-932a-213188988246.jpg)

![home_logo_2](https://cloud.githubusercontent.com/assets/21244661/26019815/8208258a-3746-11e7-83f3-487b34d56b03.jpg)

![home_logo_3](https://cloud.githubusercontent.com/assets/21244661/26019818/820c8aa8-3746-11e7-9105-2a9bbbff55ce.jpg)

![home_logo_4](https://cloud.githubusercont

[2017-05-12 23:10] AvivaOskow commented on #105
@LarryBafundo @amberwreed 5 options here

[2017-05-12 23:11] AvivaOskow commented on #105
My preference is definitely the ones in the footer!

[2017-05-14 23:48] #101 closed, assigned to amberwreed, LarryBafundo

[2017-05-14 23:50] LarryBafundo commented on #105
@AvivaOskow, @amberwreed okay to show them the options with the circular logo (#2 & #5), with a preference for #5?

[2017-05-15 15:27] AvivaOskow commented on #105
@LarryBafundo @amberwreed I would suggest maybe 2, 4, and 5, since 4 at least uses their whole logo, so we aren't only showing ones where we've changed it?

[2017-05-15 17:10] RyanSibley opened #126 "Content for 404 page"
content to accompany Aviva'a design. See #98

[2017-05-15 18:56] AvivaOskow commented on #118
Any thoughts on these? @amberwreed @brendansudol

I changed the background state color to #DFE6ED so it doesn't blend in the with background, but was playing around with some other border treatments (or none)

<img width="627" alt="screen shot 2017-05-15 at 2 53 28 pm" src="https://cloud.githubusercontent.com/assets/21244661/26074141/b9b4ee0c-397e-11e7-8632-06e257a49771.png">

<img width="628" alt

[2017-05-15 21:19] LarryBafundo commented on #60
closing this in favor of: https://waffle.io/18F/crime-data-explorer/cards/58efd2c4f1da5a001ade0ec0

[2017-05-15 21:19] #60 closed, assigned to nobody

[2017-05-15 21:24] amberwreed commented on #105
@LarryBafundo We're not quite ready to show these. We want to try 1 other thing. Also, we'd like to present them and not have them "sent" over so we can talk about some of the considerations.

[2017-05-15 21:26] #15 closed, assigned to RyanSibley

[2017-05-15 21:53] AvivaOskow commented on #105
@amberwreed @LarryBafundo

Super simplified version, just with their font (I started trying to do a simplified vector version ala FEC, but need to come back to it Tuesday morning).

<img width="631" alt="screen shot 2017-05-15 at 5 52 27 pm" src="https://cloud.githubusercontent.com/assets/21244661/26081121/6950402e-3997-11e7-84cf-7646782bd756.png">

[2017-05-15 21:54] jeremiak commented on #81
I agree that I should provide examples to make my point a bit clearer, since talking about this in the abstract is a bit hard.

For example, here is how I would propose that we change the text/copy of the trend chart component. The initial pass is just replace "rate" with "reported rate" where appropriate to drive home the point that this data is predicated on reporting from the community to law e

[2017-05-15 22:01] LarryBafundo commented on #7
Some ideas here: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=908372027

[2017-05-15 22:02] #42 closed, assigned to nobody

[2017-05-15 22:05] LarryBafundo opened #127 "Sprint 17 (Transition)"
this issue serves as a divider for tasks/ideas that would be considered after the initial launch of the CDE

[2017-05-15 22:12] LarryBafundo commented on #86
Lowering the priority of this story, as it does not seem to serve a strong user need at the moment.

[2017-05-15 22:21] #27 closed, assigned to nobody

[2017-05-15 22:56] RyanSibley commented on #4
We're fine. I believe this issue relates to the people are doing the collected and how they carry that out. We could ask Cindy, though. I'm closing for now.

https://www.census.gov/quickfacts/meta/long_RHI225215.htm

[2017-05-16 15:04] AvivaOskow commented on #105
@LarryBafundo @amberwreed  Here's another, more detailed vector version of theirs:

<img width="828" alt="screen shot 2017-05-16 at 11 02 24 am" src="https://cloud.githubusercontent.com/assets/21244661/26112981/47dbe25a-3a27-11e7-93e3-2cf27a868932.png">

Basically took the inside of theirs and simplified (took out the FBI and CDE language since that is right next to it in the header and is too sma

[2017-05-16 15:49] AvivaOskow commented on #118
any feedback on these options @LarryBafundo @amberwreed @brendansudol ?

[2017-05-16 16:53] LarryBafundo commented on #105
I like it, but i don't think they're going to let us use anything other than what was approved by the AD.

@amberwreed can we plan to present our options for how we'll handle the logo for this Thursday's core team call?  We can send our proposal with the status report and talk through it.

[2017-05-16 17:23] cde-feedback-bot opened #128 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing

## General feedback about the site?
frustrating once one document is loaded, user has to logout of CDE and enter additional search information

## Using this data for something cool? Tell us about it!
Searching

[2017-05-16 18:54] LarryBafundo commented on #94
@AvivaOskow, @RyanSibley what do we mean by this?

[2017-05-16 21:38] LarryBafundo opened #129 ""Rape" as a selectable offense should map to other NIBRS offenses"
We heard today that "rape" as a selectable offense should map to not only the NIBRS offense, "rape", but also to 11C, sexual assault with an object, and 36A, incest.

[2017-05-16 21:39] LarryBafundo commented on #129
cc: @harrisj

[2017-05-16 21:50] jeremiak opened #130 "Change police employee data to reflect that data starts in 1971"
The "Police Employee Data" download has empty values from 1960-1970, which make the downloaded CSV (at first glance and until one scrolls down) feel wrong or inaccurate. Since the data starts in 1971, we should drop the rows that have no data and change the data set description

[2017-05-16 22:38] LarryBafundo opened #131 "Problems downloading bulk files with IE"
CJIS is reporting problems downloading bulk datasets with IE 11. They describe the issue as follows:

1) download the hate crime dataset (or any other dataset to start with)
2) attempt to download subsequent datasets
3) notice that all subsequent downloads return the "hate crime" dataset, instead of the dataset selected.
4) the only way to get out of this state is to leave or refresh the page and

[2017-05-16 22:41] LarryBafundo commented on #131
@jeremiak given the visibility of this issue for our partners, what do you think about tackling this early on in the sprint? at the very least, it would be good to get a handle on potential root causes and likely LOE for resolving it.

[2017-05-17 00:24] amberwreed commented on #83
@RyanSibley This looks good. Let's get it in the app.

[2017-05-17 00:30] amberwreed commented on #105
@LarryBafundo I don't think we should use time Thursday to discuss this. I think it's a good idea to set up a preliminary meeting to discuss progress.

[2017-05-17 00:31] amberwreed commented on #105
@AvivaOskow can you link to the file on drive.

[2017-05-17 00:35] LarryBafundo commented on #105
just looking to get a resolution. i dont think we have many options. we cant modify the logo in any significant ways.

[2017-05-17 13:41] AvivaOskow commented on #105
@amberwreed I made a folder here
https://drive.google.com/open?id=0B9bDBpzeNNaXQVZmOHdJSW1Ocjg

[2017-05-17 14:00] cde-feedback-bot opened #132 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing

## General feedback about the site?
easy to manipulate, however, site won't go from one download to another topic at times

## Using this data for something cool? Tell us about it!
research

[2017-05-17 20:02] amberwreed commented on #3
@LarryBafundo I think we should always show all options for the demographics setting but location type or relationship to victim should be limited to what is returned with values.

[2017-05-17 21:11] amberwreed commented on #105
@LarryBafundo Let's schedule a meeting with Lori and Sammy tomorrow to review logo options. Could be before the meeting with the core team. Here are my preferences in order from left to right.

[2017-05-17 21:12] amberwreed commented on #105
![screen shot 2017-05-17 at 2 06 54 pm](https://cloud.githubusercontent.com/assets/13576520/26176384/cf77243e-3b0a-11e7-9641-c6c65608cb99.png)

[2017-05-17 21:45] amberwreed commented on #45
@LarryBafundo This should be closed.

[2017-05-17 21:45] #45 closed, assigned to RyanSibley

[2017-05-17 21:48] amberwreed commented on #121
@RyanSibley Need definition for rate and UCR population

[2017-05-17 21:50] amberwreed commented on #46
@LarryBafundo What do you think about using the state police employee data here? Also, let's start by using the state UCR program instead of the agency site which may or may not have a website.

[2017-05-17 21:53] amberwreed commented on #83
@jeremiak This is ready for implementation.

[2017-05-17 21:54] amberwreed commented on #87
@LarryBafundo I think we should move this to the backlog because we are prioritizing the downloads over the incident endpoint.

[2017-05-17 22:00] LarryBafundo commented on #46
yeah, agency website is not going to work.

[2017-05-18 16:32] jeremiak commented on #83
Where does this content go? We don't currently offer a dataset containing estimated data within "Downloads and Docs" so I'm unsure where to put this.

[2017-05-18 18:38] cde-feedback-bot opened #133 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing

## General feedback about the site?
state profile listed for each state is a good search tool  One stop shopping

## Using this data for something cool? Tell us about it!

[2017-05-18 19:27] LarryBafundo commented on #80
@jeremiak this is what CJIS directed us to: https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/tables/table-5/table_5_crime_in_the_united_states_by_state_2015.xls/@@template-layout-view?override-view=data-declaration

[2017-05-18 20:32] LarryBafundo commented on #80
latest update from CJIS, looks like more detail: https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/resource-pages/2015-methodology_final

[2017-05-18 21:17] RyanSibley opened #134 "Content: add required links to footer"
Determine which links to include using this resource then have the FBI team check off on them. https://www.digitalgov.gov/resources/required-web-content-and-links/

[2017-05-19 17:01] cde-feedback-bot opened #135 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing/research

## General feedback about the site?
human trafficking research

## Using this data for something cool? Tell us about it!

[2017-05-19 18:45] RyanSibley opened #136 "fix change in rape definition in charts"
Check grammar first, then fix in code base.

[2017-05-19 20:15] RyanSibley commented on #70
Working on this here: https://docs.google.com/document/d/1qHSGRc-7MINeK7cg731maLmk_BsKjdf16Z78UB17f9k/edit

[2017-05-22 13:43] RyanSibley commented on #120
https://docs.google.com/document/d/1D31avh8AL2ahoMcKE0Be9mws8BLT5LDAVs50xrg55i8/edit#heading=h.a8n1gn34anbj

[2017-05-22 13:45] RyanSibley commented on #119
Who should this be assigned to?

[2017-05-22 13:46] RyanSibley commented on #70
@jeremiak you can feel free to implement this and I can continue to iterate if it needs work.

[2017-05-22 13:48] RyanSibley commented on #46
This is what we decided on for resources on the agency page.

Resources
-About [rape] data
- State UCR program
- FBI UCR program

[2017-05-22 13:49] #46 closed, assigned to RyanSibley

[2017-05-22 13:51] RyanSibley commented on #93
@brendansudol @jeremiak flagging you for visibility. We've made the `about the data` sections dynamic, and should now be `About [crime (homicide, arson, property theft)] data`

[2017-05-22 14:59] RyanSibley commented on #83
I think the idea is that we will have a download for estimated data. @jeremiak cc @harrisj

[2017-05-22 16:45] RyanSibley commented on #92
`Crime rates for agencies aren’t available due to a lack of reliable population data.`

https://docs.google.com/document/d/1D31avh8AL2ahoMcKE0Be9mws8BLT5LDAVs50xrg55i8/edit#

[2017-05-22 16:45] #92 closed, assigned to nobody

[2017-05-22 17:15] #47 closed, assigned to brendansudol

[2017-05-22 19:05] LarryBafundo commented on #134
this is related to the following implementation task: https://github.com/18F/crime-data-explorer/issues/117

[2017-05-22 19:06] LarryBafundo commented on #117
@AvivaOskow when you're ready, please post a screenshot of the revised footer with logo placement here:

[2017-05-22 20:09] RyanSibley commented on #126
https://docs.google.com/a/gsa.gov/document/d/1I2GNUu9GNUHpc__ZjNpPzKT-gs41eDv-rC5RH8WThCs/edit?usp=sharing

[2017-05-22 20:09] RyanSibley commented on #98
https://docs.google.com/a/gsa.gov/document/d/1I2GNUu9GNUHpc__ZjNpPzKT-gs41eDv-rC5RH8WThCs/edit?usp=sharing

[2017-05-22 20:10] RyanSibley commented on #134
Privacy Policy
FOIA
usa.gov
accessibility

[2017-05-22 20:11] #134 closed, assigned to RyanSibley, AvivaOskow

[2017-05-22 22:43] AvivaOskow commented on #117
<img width="801" alt="screen shot 2017-05-22 at 5 40 59 pm" src="https://cloud.githubusercontent.com/assets/21244661/26331343/10ae1160-3f16-11e7-9d38-e277c5d50733.png">

**Red option**
<img width="794" alt="screen shot 2017-05-22 at 5 42 03 pm" src="https://cloud.githubusercontent.com/assets/21244661/26331356/1d9ad188-3f16-11e7-8558-4289e04783e7.png">

[2017-05-22 22:44] jeremiak commented on #117
@AvivaOskow how would this stack on a smaller/mobile display?

I can imagine it going (from top to bottom):
- Two logos
- Site title
- The two right menu lists turning into one long menu list

Did you have something else in mind?

[2017-05-23 01:24] LarryBafundo commented on #119
@amberwreed can you please post you a screenshot of the legend for legacy and revised rape here?

[2017-05-23 01:25] LarryBafundo commented on #119
@RyanSibley this is an implementation task. we have a separate issue for adding the glossary definitions for these terms.

[2017-05-23 01:28] LarryBafundo commented on #80
@jeremiak do you think we can get to this by the end of the current sprint so that we can roll the API out for expanded feedback as soon as possible? i'm wondering if we can simply link to the documentation we were directed to by CJIS (see comment/link above).

[2017-05-23 01:29] #4 closed, assigned to RyanSibley

[2017-05-23 01:35] LarryBafundo commented on #114
@RyanSibley as we address this issue let's also hit: https://waffle.io/18F/crime-data-explorer/cards/58ee4de1c889df003119050e

[2017-05-23 01:36] LarryBafundo commented on #113
@brendansudol did we ever take care of this?

[2017-05-23 01:42] LarryBafundo commented on #1
@amberwreed can you please post a screenshot of the all violent/all property crime view here?

[2017-05-23 01:45] LarryBafundo opened #138 "Adjust title of "LEOKA" dataset as an available dataset"
On the about the data page we are still referring to "LEOKA" data as "Law enforcement officers killed and assaulted." CJIS prefers that we refer to it as currently described in the downloads and documentation page:

"Assaults on Law Enforcement OfficersSee totals for officers who were killed or assaulted in the line of duty from 1974–2014."

[2017-05-23 01:47] LarryBafundo commented on #138
<img width="1027" alt="screen shot 2017-05-22 at 6 37 45 pm" src="https://cloud.githubusercontent.com/assets/15899668/26335192/1d58b646-3f1f-11e7-8165-0d0901ec35c7.png">

[2017-05-23 01:58] LarryBafundo commented on #136
@RyanSibley can you elaborate on what this issue is about?

[2017-05-23 02:00] LarryBafundo opened #139 "Add 2015 data"

[2017-05-23 02:01] LarryBafundo commented on #139
closing, duplicate of existing issue

[2017-05-23 02:01] #139 closed, assigned to nobody

[2017-05-23 02:07] LarryBafundo opened #140 "Add ASR arrest & national estimated datasets"
As a user I can download national arrest data by state and year based on the ASR tables, as well as national estimated data for the offenses made available by the CDE explorer.

[2017-05-23 02:14] LarryBafundo opened #141 "Rename field headings for explorer view downloads"
Currently, when a user downloads NIBRS chart data from the explorer view, the headings for the various dimensions reads as: "key and count." We should rename the "key" heading to better reflect the attribute it is representing.

[2017-05-23 02:18] LarryBafundo opened #142 "Include all segments & data with bulk downloads"
Currently we allow users to download incident data for a given state and year and provide this information in a series of CSVs, one for each NIBRS segment. These CSVs may be joined via a pivot table using an incident ID or ORI # in order to analyze the many to many relationships associated with NIBRS data. Going forward we need to include all of segments in these reports, including the administrat

[2017-05-23 02:24] LarryBafundo commented on #142
<img width="499" alt="screen shot 2017-05-22 at 7 29 38 pm" src="https://cloud.githubusercontent.com/assets/15899668/26335947/382a006a-3f24-11e7-9ebc-83baa6145e0c.png">

[2017-05-23 02:24] LarryBafundo opened #143 "Adjust column headings of the LEOKA dataset"
We removed reference to LEOKA in the dataset name and description, but the download still has columns titled “LEOKA_assault”, “LEOKA_felony”, “LEOKA_accident”. We should remove "LEOKA" from those headings and call them "officers_assault" and so on.

[2017-05-23 02:26] LarryBafundo opened #144 "Add offense type to hate crime download"
Let's add "offense type" along with count and bias motivation to the hate crime download.

[2017-05-23 02:30] LarryBafundo commented on #39
Let's use this as a model for formatting the territory download: https://docs.google.com/spreadsheets/d/1ngCQpU6bR9Yk4ygDApS52arjGZdj8MtZa0ta5DjzsTc/edit#gid=993326901

[2017-05-23 02:33] LarryBafundo opened #145 "Additional tweaks for API documentation (needs definition)"
We split-out these task from a previous issue in order to close out the first round of improvements to the API UI.

•	 Come up with a sensible set of top-level tags and put API methods in one and only one tag each.
•	 Define ordering of the API tags and if we want to show all methods fully expanded on load.
•	 See if we can figure out some design/messaging to make the "Authenticate" and "Try It Ou

[2017-05-23 14:47] #138 closed, assigned to RyanSibley

[2017-05-23 15:26] RyanSibley commented on #94
@LarryBafundo this is the idea to add some copy that explains UCR is the umbrella term and it encompasses SRS and NIBRS reports. Do you think this is something I should do?

[2017-05-23 15:51] LarryBafundo commented on #94
@RyanSibley it seems lower on the list of priorities. i think where you have it in the content backlog is about right. it also seems like something that would best fit on the about page, rather than home.

[2017-05-23 15:57] #40 closed, assigned to amberwreed, LarryBafundo

[2017-05-23 15:58] LarryBafundo commented on #40
I captured the highest value opportunities for improving the download experience at the bottom of this document and added stories for them to the backlog for future prioritization:

https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

[2017-05-23 16:01] RyanSibley commented on #83
Maybe we can add it to the glossary? I'll do that for now.

[2017-05-23 16:14] RyanSibley commented on #114
#775

[2017-05-23 16:41] #120 closed, assigned to RyanSibley

[2017-05-23 16:41] #83 closed, assigned to RyanSibley

[2017-05-23 17:41] RyanSibley opened #146 "add special sentences that account for rape in the charts on the national and state level"

[2017-05-23 19:30] #99 closed, assigned to nobody

[2017-05-23 21:13] AvivaOskow commented on #98
<img width="834" alt="screen shot 2017-05-23 at 3 54 01 pm" src="https://cloud.githubusercontent.com/assets/21244661/26376521/64433cc6-3fd2-11e7-875a-9bc250bb1d4b.png">

**Questions**
If we have the links for _Submit feedback_ and _Contact us_ , what should those link to? I would think submit feedback would open the feedback tool, but what should contact us do?

Also, @RyanSibley and I were discus

[2017-05-23 21:17] AvivaOskow commented on #117
@jeremiak I'm working on the design for this now, but yes, you have the basic idea

[2017-05-23 21:17] AvivaOskow commented on #105
Can I close this? Designs for footer placement are in #117 @LarryBafundo @amberwreed

[2017-05-23 21:18] LarryBafundo commented on #105
i think so since we received approval last week

[2017-05-23 21:19] #105 closed, assigned to AvivaOskow

[2017-05-23 21:46] AvivaOskow commented on #117
<img width="322" alt="screen shot 2017-05-23 at 4 45 10 pm" src="https://cloud.githubusercontent.com/assets/21244661/26377755/445075be-3fd7-11e7-874c-44185db4f2aa.png">

[2017-05-23 23:17] LarryBafundo opened #147 "Add arrest data as a NIBRS dimension"
As a user, I want to view corresponding arrest data for the offenses I am viewing at the state and agency levels.

[2017-05-23 23:19] LarryBafundo opened #148 "Replace human trafficking & cargo theft data sets"
CJIS would like to replace the datasets we currently make available for human trafficking and cargo theft with something that more closely matches what is reported by the UCR program, even if that means we pursue a short-term fix that does not involve data from our database.

[2017-05-23 23:21] LarryBafundo commented on #148
Need to work with Lori to understand what they can provide us and how we can best display it. One option is to simply use what is already made available from the UCR website.

[2017-05-23 23:23] LarryBafundo opened #149 "Mention "updates to the data" as part of "what's coming""
We plan to launch with 2014 data, but we'll want users to know that more recent data (among other updates) are on the way. Let's specifically mention this in the text under "more to come" in the about the data section of the CDE.

[2017-05-23 23:24] LarryBafundo commented on #149
<img width="912" alt="screen shot 2017-05-23 at 4 22 11 pm" src="https://cloud.githubusercontent.com/assets/15899668/26380585/5b1729e4-3fd4-11e7-926a-9b037378dee9.png">

[2017-05-24 11:36] #114 closed, assigned to RyanSibley

[2017-05-24 11:37] #24 closed, assigned to jeremiak, RyanSibley

[2017-05-24 11:43] RyanSibley opened #150 "Implement arson overview and chart copy"
If @brendansudol or @jeremiak can point me to the arson pages/copy in the repo I can implement this myself.

https://docs.google.com/a/gsa.gov/document/d/1qHSGRc-7MINeK7cg731maLmk_BsKjdf16Z78UB17f9k/edit?usp=sharing

[2017-05-24 15:06] jeremiak commented on #118
@LarryBafundo I don't think this is in progress for dev, does the progress refer to the design?

[2017-05-24 15:08] jeremiak commented on #44
I believe this is done and deployed. Moving to design review

[2017-05-24 15:15] LarryBafundo commented on #118
its moving the state icon from the left to the right as shown in the image above. looks like you've already done it from what i saw yesterday.

[2017-05-24 15:16] LarryBafundo commented on #118
@jeremiak we have a separate issue for the agency map location / pin drop, which is not part of the current sprint.

[2017-05-24 15:16] jeremiak commented on #118
Got it, sorry, I read it as including the agency location dot for some reason. Yup, I'm going to move this to design review then

[2017-05-24 15:26] #126 closed, assigned to RyanSibley

[2017-05-24 15:41] LarryBafundo opened #151 "Agency view: implement advanced search"
As a user, I want to be able to filter my search results by agency type, such as school/university, and automatically view results alphabetically and sorted by county.

[2017-05-24 15:47] LarryBafundo opened #152 "Agency view: finish integrating bar charts"
This task includes the ability to download displayed information as a CSV

[2017-05-24 15:49] LarryBafundo commented on #152
@harrisj depending on our priorities this next sprint, can we talk about the merits of  implementing a better solution for aggregating the sub offenses on the backend versus the front end?

[2017-05-24 15:50] LarryBafundo opened #153 "Agency view: finish integrating NIBRS tables"
Similar to #152, this task includes being able to download presented data as a formatted CSV.

[2017-05-24 15:51] LarryBafundo opened #154 "Agency view: design polish"
This task refers to general cleanup & design fixes for the agency view.

[2017-05-24 15:52] LarryBafundo commented on #154
@amberwreed once we're a bit further along with the core implementation, will you pair with the front end team to align around priorities?

[2017-05-24 15:53] LarryBafundo opened #155 "Performance & Scalability Tasks"
A placeholder for performance optimization work that we'll need to take on in sprint 13. We need to identify the biggest bottlenecks and begin implementing the highest value optimizations to improve performance.

[2017-05-24 15:54] LarryBafundo commented on #155
cc: @cacraig

[2017-05-24 16:45] #3 closed, assigned to nobody

[2017-05-24 16:46] LarryBafundo commented on #3
this change has been made in the API, but may have affected our front end implementation, as we'll now need to account for the extra fields in the API request

[2017-05-24 16:48] jeremiak commented on #49
This looks mostly done. Remaining tasks that I can see:

- [ ] Rename download to reflect the agency and offense type
- [ ] Make sure the CSV file has a `.csv` file extension

[2017-05-24 16:53] amberwreed commented on #36
@jeremiak This looks great. @AvivaOskow and @RyanSibley This is not super usable. Can we work with CJIS to get an email address for the data questions. A street address isn't helpful. Also, being dropped into a github for a technical question is jarring. Can we also ask CJIS if they have an email for technical questions or if we should launch the feedback tool? Let's talk about ways to make this a

[2017-05-24 16:54] #50 closed, assigned to brendansudol, amberwreed

[2017-05-24 17:28] amberwreed commented on #118
@AvivaOskow I think it looks good in the app so I will close this.

[2017-05-24 17:28] #118 closed, assigned to brendansudol

[2017-05-24 17:31] amberwreed commented on #70
@LarryBafundo @brendansudol @jeremiak The content looks good but it is not implemented. Do you have a new card for implementation? I'll move this into to do for now.

[2017-05-24 17:41] amberwreed commented on #48
![bar chart revisions](https://cloud.githubusercontent.com/assets/13576520/26417247/7aa9bc60-406d-11e7-8bcd-81a287dce744.png)

[2017-05-24 17:43] RyanSibley commented on #70
@amberwreed I created #150 yesterday. I'll close this one.

[2017-05-24 17:43] #70 closed, assigned to RyanSibley

[2017-05-24 17:44] RyanSibley commented on #150
cc @amberwreed

[2017-05-24 17:47] amberwreed commented on #48
@AvivaOskow and @brendansudol The bar chart is looking great. Because we don't provide an aggregate view for the time range, I would prefer that we highlight the most recent year and show the other years in a deselected state.

Related to #154

[2017-05-24 17:47] #93 closed, assigned to RyanSibley

[2017-05-24 17:49] jeremiak commented on #152
I'd like to talk about this once we know the other things we're looking at for this sprint. At this point in the project, I don't know if we should be doing aggregation client side. The reason is because it just papers over a usability problem with the API that other folks are going to run into. Better to just fix the API IMO

[2017-05-24 17:50] AvivaOskow commented on #48
@amberwreed , Brendan and I planned for these interactions a while ago, along the lines of that, but I don't think what we discussed has been implemented in the current chart, so let's go back over those @brendansudol ?

[2017-05-24 17:50] amberwreed commented on #44
@jeremiak and @RyanSibley Looks good but Estimated needs to be capitalized. Ryan, is this something you are able to fix?

[2017-05-24 17:52] AvivaOskow commented on #48
Also, slight update to the screenshot you shared above @amberwreed (also in #714 )

<img width="529" alt="screen shot 2017-05-24 at 12 42 43 pm" src="https://cloud.githubusercontent.com/assets/21244661/26417813/d19d399a-407f-11e7-949a-86cbc5eb569c.png">

[2017-05-24 17:54] jeremiak commented on #44
Changed in above PR. Once that is merged, should be good to go

[2017-05-24 17:55] amberwreed commented on #44
Awesome! We can close after merge.

[2017-05-24 17:56] AvivaOskow commented on #36
@amberwreed this is also something @RyanSibley and I were discussing yesterday in relation to our 404 page design #98 , because we want to include a contact there, but haven't determined where that link would go. Should we create some sort of form or does it open an email (I personally am not a fan of those interactions), but I agree, we should create an actual experience around this if we have th

[2017-05-24 17:56] jeremiak commented on #155
Let's make this card something like "Investigate performance optimizations" so we can have a place to keep the conversation going about what possible optimizations we can make and the cost benefit analysis of them. Then we can make separate issues in the relevant repos to tackle individual tasks

[2017-05-24 18:00] amberwreed commented on #100
@RyanSibley I think your content edits take care of this. Can you please link to changes?

[2017-05-24 18:01] AvivaOskow opened #156 "Bug: Map covers glossary when opened"
In most recent deployment of explorer view, when glossary is opened, the map stays in front and covers it, instead of going behind.

[2017-05-24 18:01] amberwreed opened #157 "Visual design style guide"

[2017-05-24 18:01] AvivaOskow commented on #156
<img width="728" alt="screen shot 2017-05-24 at 12 57 32 pm" src="https://cloud.githubusercontent.com/assets/21244661/26418253/1e1eb81a-4081-11e7-8418-56b52e93c57f.png">

[2017-05-24 18:02] amberwreed opened #158 "Sprint 13 Research recruitment and planning"

[2017-05-24 18:03] jeremiak commented on #156
Thanks for the bug report! Closing in favor of https://github.com/18F/crime-data-frontend/issues/784 to keep bugs in the relevant repos

[2017-05-24 18:03] #156 closed, assigned to nobody

[2017-05-24 18:07] jeremiak commented on #155
Also there are performance optimizations across the front end app we can make as well as the API. If this is specific to one app or another, could we open that issue there? It is really helpful to be able to filter the cards by label and repos :)

[2017-05-24 18:49] LarryBafundo commented on #151
@amberwreed can you please post a screenshot of the advanced search design here?

[2017-05-24 18:50] LarryBafundo commented on #152
@jeremiak, i think @harrisj agrees and is planning to implement a fix on his end. @harrisj what do you think? if you think its doable, we can create a sub tasks for this issue and start on that right away. the goal is to resolve all dependencies for the front-end team so they can finish building out the agency view this sprint.

[2017-05-24 18:53] LarryBafundo commented on #153
Note: when we implemented this change to the API - display elements such as race/ethnicity, even if they have 0 reported, https://waffle.io/18F/crime-data-explorer/cards/58efd2c4f1da5a001ade0ec0

it affected our implementation of the national/state/agency tables. we now need to account for the extra "null" records. see example below:

cc: @jeremiak

[2017-05-24 18:53] LarryBafundo commented on #153
<img width="762" alt="screen shot 2017-05-24 at 9 41 06 am" src="https://cloud.githubusercontent.com/assets/15899668/26420491/93d61fd0-4077-11e7-9093-ba00255344af.png">

[2017-05-24 18:54] LarryBafundo commented on #148
Lori/Loretta are going to try to send us a CSV with this information.

[2017-05-24 19:02] LarryBafundo commented on #39
@harrisj as a first step, could you run a basic report that details out the territories that participate in the UCR program and shows the volume of reporting by year & offense? we can share that report with CJIS and ask for their feedback before building a download.

[2017-05-24 19:04] AvivaOskow commented on #158
@amberwreed do you mean sprint 13?

[2017-05-24 19:04] cacraig commented on #155
The known performance issues are the nibrs count endpoints, which will are expected to perform a little worse than any other API. However, a somewhat slow performance is tolerable because we are using api.data.gov proxy caching to cache + accelerate future requests.

The big one's I would like to know about, is times when requests completely fail - or the API becomes entirely unresponsive. There i

[2017-05-24 19:05] LarryBafundo commented on #130
@cacraig the issue here is that our report starts at 1960, but data doesn't show up until 1971. for brevity, we're proposing starting the report at 1971.

here's what this look like currently: https://docs.google.com/spreadsheets/d/1a93MtVrDjSCAtd7A_gFmlt3rmCXVnOv0I4rsSJA0p7k/edit#gid=1397776592

[2017-05-24 19:47] LarryBafundo commented on #13
is this a content change, or a front-end change?

[2017-05-24 19:49] LarryBafundo commented on #149
@RyanSibley elevating this in priority as we plan to launch with 2014 data initially, but will want to let users & stakeholders know that 2015 data is on the way.

[2017-05-24 20:04] LarryBafundo commented on #117
@AvivaOskow is this task meant to cover the design/placement of the logos/links in the footer, or the implementation? its okay if it covers both, but now that we have the placement figured it out, we should make it clear this is about implementation and reflect whether or not its truly in progress.

[2017-05-24 20:05] LarryBafundo commented on #98
@AvivaOskow when the design is finalized, please link to this card for implementation: https://waffle.io/18F/crime-data-explorer/cards/5907ae078dc8770100c80aed

[2017-05-24 20:23] AvivaOskow commented on #98
Thanks @LarryBafundo , I will once I get feedback and back any necessary changes.

[2017-05-24 20:46] AvivaOskow commented on #117
@LarryBafundo I didn't make the original issue, but I think it would make sense to keep this one live and have it reflect the implementation now.

[2017-05-24 21:16] amberwreed commented on #13
Front end.

On Wed, May 24, 2017 at 12:47 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-05-24 21:18] amberwreed commented on #158
Yes! Sorry, I've lost track of our sprints.

On Wed, May 24, 2017 at 12:04 PM, Aviva Oskow <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-05-24 21:27] amberwreed commented on #48
Sorry if I provided feedback too early. We can pick it up when you are ready.

[2017-05-24 21:39] amberwreed opened #159 "Beta modal is off center sometime"
Occasionally, when I sign into the app this is what the beta modal looks like.

[2017-05-24 21:39] amberwreed commented on #159
![screen shot 2017-05-24 at 8 25 12 am](https://cloud.githubusercontent.com/assets/13576520/26426731/ce8547e8-408e-11e7-97d8-def1a694323b.png)

[2017-05-24 23:03] LarryBafundo commented on #151
<img width="642" alt="screen shot 2017-05-24 at 4 02 50 pm" src="https://cloud.githubusercontent.com/assets/15899668/26429203/7798f220-409a-11e7-858e-9d2722a6c553.png">

[2017-05-25 14:22] #49 closed, assigned to brendansudol

[2017-05-25 23:00] jeremiak commented on #131
I've been able to replicate the bug on IE11, though it seems to only happen on our production builds (when `NODE_ENV=production`). I'll update here when I have more insight.

[2017-05-26 07:07] jeremiak commented on #131
Looks like the bug was caused by the `outboundLinkTracker` (https://github.com/googleanalytics/autotrack/blob/master/docs/plugins/outbound-link-tracker.md) plugin we were using for Google analytics. This is consistent with the behavior I discovered because we only insert analytics code into `production` environments.

I'll investigate other ways to track outbound link clicks.

[2017-05-26 16:39] LarryBafundo commented on #117
unassigning @AvivaOskow to indicate that this is ready for implementation

[2017-05-26 16:41] AvivaOskow commented on #117
Actually one change @LarryBafundo @brendansudol @jeremiak , Amber and I decided the logos are better underneath the CDE title, instead of above:

<img width="810" alt="screen shot 2017-05-24 at 5 44 51 pm" src="https://cloud.githubusercontent.com/assets/21244661/26503906/2bc4a5be-4208-11e7-81ec-1a48efe0e23c.png">

[2017-05-26 16:41] AvivaOskow commented on #117
Also, what format would be best for the logos? PNGs I assume? @brendansudol  @jeremiak

[2017-05-26 16:43] LarryBafundo commented on #144
after discussion with @cacraig we aren't going to do this. we currently provide a "summary-like" view of hate crime, with counts by state, time, and bias motivation. to add the offense associated with each count of hate crime would require a more complex reporting format.

Closing.

[2017-05-26 16:43] #144 closed, assigned to LarryBafundo

[2017-05-26 16:44] LarryBafundo commented on #158
@amberwreed, @AvivaOskow i'll reach out to Greg so he can get a head start identifying participants from law enforcement. I'm assuming that we'll want to aim for 3-5 participants in total and include some from the general public?

[2017-05-26 17:28] amberwreed commented on #158
Yes. I'd like to maybe have a max of 3 law enforcement and 1 general public
or reporter and 1 API user.

On Fri, May 26, 2017 at 9:44 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-05-26 17:52] AvivaOskow commented on #158
@LarryBafundo @amberwreed and I started talking about what we want to test yesterday, we're thinking we should do some testing around the agency view since it will actually be functioning by then, but also this would be a good opportunity to watch people interact with the app as it is, since we won't really be adding new features after this and we haven't had the opportunity to watch people intera

[2017-05-26 18:06] #129 closed, assigned to harrisj

[2017-05-26 19:18] LarryBafundo commented on #158
@AvivaOskow i think that's a good idea. let's start the learning objectives doc sooner rather than later so we can start tracking ideas to test.

[2017-05-26 19:20] LarryBafundo commented on #158
the working folder for this sprint is here: https://drive.google.com/drive/u/0/folders/0Bzo0lr4igOKWWUE3OTQ1V1Y3SkU

[2017-05-29 17:41] LarryBafundo commented on #159
@amberwreed i haven't been able to reproduce this on prod or demo. are you still seeing it?

[2017-05-29 17:42] LarryBafundo opened #160 "Hot fix: State participation download link is broken"
The download link for participation and population data does not work for any state in the Explorer. This link works for the national view, but not for states.  If possible, please make this a hot fix, as it's not something I reported as a known issue with the last release.

[2017-05-29 17:45] LarryBafundo commented on #160
<img width="1223" alt="screen shot 2017-05-29 at 11 42 52 am" src="https://cloud.githubusercontent.com/assets/15899668/26558217/567b8bac-4464-11e7-859e-39b31da1c3de.png">

[2017-05-29 17:48] LarryBafundo commented on #100
@AvivaOskow, @RyanSibley can we please firm up the purpose of this card and update it's status if necessary?

[2017-05-29 17:49] LarryBafundo commented on #146
@RyanSibley can you please clarify the purpose of this card?

[2017-05-29 17:57] LarryBafundo commented on #98
hey @AvivaOskow this looks good. i like how the page tries to be helpful by providing relevant links rather than just displaying an error. however, have you considered making the page take up the entire page and displaying relevant links as a list, rather than having them in the header/footer? this is how a few well-known sites handle 404s, but not sure how you feel about that breaking our page st

[2017-05-30 14:50] RyanSibley commented on #100
Sorry -- I didn't get around to linking. It'll be easier to link after we finish the content audit. In the meantime, we made the `about the data` headers dynamic and we linked to the about the data section higher up on the page.

[2017-05-30 14:50] #100 closed, assigned to RyanSibley

[2017-05-30 16:06] AvivaOskow commented on #98
Hey @LarryBafundo thanks for the feedback. Could you share an example of the direction you are interested in? I had the other 18F visual designers send me some resources and their own example before I made this one, and worked with Ryan on the content to make it simple but helpful, but I'd be interested to see what you're talking about. I do also think at this point perhaps simplicity/sticking wit

[2017-05-30 16:52] LarryBafundo commented on #98
Yep, agree that what you have is good for our purposes.

[2017-05-30 17:16] #131 closed, assigned to jeremiak

[2017-05-30 18:02] amberwreed commented on #159
Just recreated by going to chrome and opening the app.

On Mon, May 29, 2017 at 10:41 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-05-30 18:48] LarryBafundo opened #161 "Add glossary definition for unestimated data"

[2017-05-30 19:03] LarryBafundo commented on #39
here's the data we have to work with - it's very limited: https://docs.google.com/spreadsheets/d/16tIDIrsHu78w5q3pREpIJIt9oYRgZU0tMxXuq8M6vsc/edit#gid=1956197169

[2017-05-30 19:06] LarryBafundo opened #162 "Empty rows in incident detail charts"
Due to a change we made with the API, where we represent elements with no data associated with them as 0 rather than not showing them at all, we now have a bunch of empty rows in the incident detail charts that need to be handled on the front end. See screenshot:

[2017-05-30 19:09] LarryBafundo commented on #162
<img width="915" alt="screen shot 2017-05-30 at 12 08 21 pm" src="https://cloud.githubusercontent.com/assets/15899668/26600395/c2c94f20-4530-11e7-8f8b-7b6520303b78.png">

[2017-05-30 19:43] #160 closed, assigned to jeremiak

[2017-05-30 21:22] AvivaOskow commented on #154
These were the fixes we discussed in the refinement session this afternoon with @brendansudol @jeremiak @RyanSibley. We're going to do another individual and then remote pass on Thursday. Let's use this issue?

**Agency Search**
- [x] caret on agency search box for all list
- [x] deleting text in search should work as well as "X"
- [x] selected agency should be bold

**Intro paragraph**
- [x] text

[2017-05-30 21:25] AvivaOskow opened #163 "Discuss Downloads experience"
Some questions for discussion:
Should we put more thought into the downloads experience when clicking on "download" under the charts in explorer or elsewhere? Is the file download too abrupt, or does the built-in browser experience suffice? Do we have capacity to add a tool tip or intermediary step? Is that even necessary? Should we test this?

[2017-05-30 22:37] LarryBafundo commented on #148
Loretta provided the cargo theft and human trafficking data that we should make available via the CDE as a download. This data should replace what we currently offer for the cargo theft and human trafficking reports on the download and documentation page.

This data is available at: https://drive.google.com/drive/u/0/folders/0Bzo0lr4igOKWV19jNHRHV1JMQmc

[2017-05-30 23:33] LarryBafundo commented on #159
I honestly can't reproduce it. Even changing the window size seems to work fine. Can you think of any other preconditions where this happens? Otherwise this is going to be a tough one to track down.

[2017-05-30 23:33] LarryBafundo commented on #159
<img width="663" alt="screen shot 2017-05-30 at 4 32 48 pm" src="https://cloud.githubusercontent.com/assets/15899668/26609419/c3926084-4555-11e7-9a61-5b1636ae8eaa.png">

[2017-05-30 23:38] LarryBafundo commented on #163
@AvivaOskow can you please keep me looped in on these discussions. depending on what we want to do and capacity, this might be something we try in sprint 14. (next sprint)

[2017-05-30 23:48] LarryBafundo commented on #155
@cacraig the basic application is working really well right now, but lets revisit this as soon as the integration work on the agency view is finished in the next couple of days and see where we need to jump in and tweak things.

[2017-05-30 23:51] LarryBafundo commented on #147
this is currently just an idea. on one hand adding arrest data to the Explorer view would add detail and context for users, but it would not provide the full picture of arrest data, as the explorer view is limited to 7 core offenses and does not cover things like drugs. As an alternative, we are leaning towards making ASR arrest data available via a download. This would bring the benefit of making

[2017-05-30 23:52] LarryBafundo opened #164 "Explore adding new datasets"
This task relates to exploration around what other datasets we could make available for download via the CDE at launch. As a goal for the current sprint (sprint 13) we want to develop a short-list of datasets to add based on value and feasibility and get feedback from CJIS.

[2017-05-31 00:02] LarryBafundo commented on #164
The doc we'll use to develop this list is here: https://docs.google.com/document/d/1Q7EI2l9tEiophwJHCylWly-KT2VjFQAu4vn1FoQUHag/edit

[2017-05-31 00:03] amberwreed commented on #158
Let's update this document. https://docs.google.com/document/d/1razKyj_bzWTQENG3_m82TLwHfHjeT8rAcQuMuq8cWzc/edit#heading=h.mkzbb31e4sio

[2017-05-31 00:04] amberwreed commented on #142
@LarryBafundo This chart doesn't include the agency information. We have a csv file. Does the info come from this chart or are we missing something?

[2017-05-31 00:06] LarryBafundo commented on #142
We added the agency segment to more easily facilitate many to many analysis.

[2017-05-31 00:07] amberwreed commented on #157
https://github.com/18F/crime-data-explorer/wiki

[2017-05-31 00:11] amberwreed commented on #31
@AvivaOskow Although it seems low priority, I like the idea of exploring more options for the underline. Let's discuss some things to try quickly and go from there.

[2017-05-31 00:13] amberwreed commented on #38
@AvivaOskow That'd be cool! Other ideas I've had for the top of downloads page is pulling the linked documents out to the side like the about page and adding some helpful tips on how to join the csv files for analysis.

[2017-05-31 17:29] amberwreed commented on #154
Thanks @AvivaOskow. I'd love to be part of the pass on review on Thursday. I had time to look through the page last night and noted a couple of things / some are just questions that we should discuss. Not all are priorities.

Agency Navigation:
- [x] Do we need … after agency?
- [ ] County name is awesome but I think we need to darken the blue to make it 508 compliant.

Agency View:
- [x] Do we ne

[2017-05-31 21:38] LarryBafundo commented on #159
Let's hold off on fixing this, as we may take down the modal soon. I'll ask about this.

[2017-05-31 22:26] jeremiak commented on #163
Weighing in with my personal opinion: I don't think we should do anything beyond what we currently have for data downloads.

The links that a user clicks on (I believe in all cases that trigger a download) have text that says "Download data" and the charts and tables (at least in the Explorer view) serve as a preview for the type of data that the user will be downloading. In addition, the files th

[2017-06-01 14:54] jeremiak commented on #150
@RyanSibley Question on the content proposed. It looks like the first sentence of arson in a given state is "[State] reports [incident-based (NIBRS) or summary (SRS) data to the FBI." but we currently have "Crime rates for [state] are derived from [reporting program] reports sent to the FBI."

Is this content change for just arson or for all state level pages?

Also, the copy document instructs me

[2017-06-01 15:36] RyanSibley commented on #150
@jeremiak  It's only for arson. I know it's breaking the pattern. Let me know if you see any major issues with that.

[2017-06-01 16:18] brendansudol commented on #154
should "National" be capitalized in "State and National [crime] rates"? I don't think we capitalize in other places (i.e., "Explore national data")

[2017-06-01 20:39] LarryBafundo commented on #164
Today we agreed to propose adding the following datasets for launch:

1) National arrest data (broken down by states and year) based on the offenses reflected by the ASR tables. We will not pursue Group B arrest data at this time due to the size and granularity of those datasets.

2) National estimated data (broken down by states and years) for the offenses made available in the Explorer interface

[2017-06-01 20:44] LarryBafundo commented on #140
These additional datasets are "enhancements" slated for sprint 14

[2017-06-01 20:46] LarryBafundo commented on #87
hey @amberwreed, @AvivaOskow assuming we're able to implement the incident endpoint over the course of sprints 14 & 15, do we know where we want to place the button for downloading agency based incident data?

[2017-06-01 20:51] LarryBafundo commented on #39
I'm moving this to the backlog and will outline our rationale for deprioritizing this issue due to the availability of the data.

[2017-06-01 21:04] LarryBafundo commented on #52
This review should also include a check of our PDFs based on the following:

https://ucr.fbi.gov/ucr-statistics-their-proper-use and https://www.supremecourt.gov/opinions/14pdf/14-556_3204.pdf

[2017-06-01 22:24] LarryBafundo commented on #154
@RyanSibley ^^^

[2017-06-01 22:34] LarryBafundo commented on #44
@amberwreed can I close this?

[2017-06-01 22:40] AvivaOskow opened #165 "Design (or use old design) for no-data time periods for agency bar charts"

[2017-06-01 22:43] AvivaOskow opened #166 "Agency view: Set a minimum # of 4 for bar charts"
Since we never have partial counts (ex. .75 homicides), should the lowest y axis be 0-4? This might also help with the charts that have all counts of one looking less extreme (when they are all one they look high next to each other, even though that is a low count).

<img width="749" alt="screen shot 2017-06-01 at 6 42 08 pm" src="https://cloud.githubusercontent.com/assets/21244661/26704009/9048f4

[2017-06-01 22:46] AvivaOskow commented on #166
@brendansudol @jeremiak , @amberwreed and I discussed this one, what are your thoughts?

[2017-06-01 23:09] amberwreed opened #167 "Change title of UCR Documentation on the About page"
Change to UCR Program Documentation.

[2017-06-02 15:32] amberwreed commented on #2
Victim / Offender Race and demographics should appear in alphabetical order.

[2017-06-02 18:27] AvivaOskow commented on #165
Designs that were never used/implemented from several sprints ago:

<img width="581" alt="screen shot 2017-06-02 at 2 24 55 pm" src="https://cloud.githubusercontent.com/assets/21244661/26739388/97fe2894-479f-11e7-8646-8fc28a9eb5fa.png">

<img width="581" alt="screen shot 2017-06-02 at 2 25 01 pm" src="https://cloud.githubusercontent.com/assets/21244661/26739392/9c5807fc-479f-11e7-8429-4a1459f3fa66

[2017-06-02 19:54] LarryBafundo commented on #98
is @AvivaOskow can I move this to done so that it's ready for implementation next sprint?

[2017-06-02 20:07] #150 closed, assigned to jeremiak

[2017-06-04 04:23] #153 closed, assigned to nobody

[2017-06-04 04:24] #44 closed, assigned to brendansudol

[2017-06-04 04:25] amberwreed commented on #48
I'm noticing that I see NIRS table attributes for this agency but the bar chart says that no incidents were reported. https://crime-data-explorer.fr.cloud.gov/explorer/agency/AR0041400/robbery?agencySearch=true

[2017-06-05 00:25] #164 closed, assigned to harrisj, amberwreed, LarryBafundo

[2017-06-05 00:32] #158 closed, assigned to AvivaOskow

[2017-06-05 00:33] LarryBafundo commented on #98
@AvivaOskow can you please provide a status update on this? if the 404 page design is finished and its ready for implementation we can close this out.

[2017-06-05 00:34] LarryBafundo commented on #54
this doesn't seem like it's going to happen, so i'm going to close it out.

[2017-06-05 00:34] #54 closed, assigned to amberwreed, LarryBafundo

[2017-06-05 00:36] LarryBafundo commented on #48
@amberwreed the task for that is captured here: https://waffle.io/18F/crime-data-explorer/cards/5930909aa4599fbd01b79332

[2017-06-05 00:36] LarryBafundo commented on #148
@harrisj just a reminder that this is something we want to have in place prior to the end of the current sprint (this Wed.)

[2017-06-05 01:10] harrisj commented on #148
The human trafficking tables are already on production, I just need to add some API endpoints in front of it.

Cargo theft might be a bit of a stretch by Wednesday. Right now I have to write some code to denormalize the CSV they gave us to split into multiple tables. It's not impossible, but it will slow me down. I wish I had a better clarification why the `ct_incident` tables we already have aren

[2017-06-05 02:11] LarryBafundo opened #168 "Sparkline for agency rape isn't drawing"
the spark lines for agency rape pages don't appear. here's an example: https://crime-data-explorer.fr.cloud.gov/explorer/state/pennsylvania/rape

[2017-06-05 02:13] LarryBafundo commented on #168
<img width="1288" alt="screen shot 2017-06-04 at 7 10 44 pm" src="https://cloud.githubusercontent.com/assets/15899668/26768041/d9d97c62-4959-11e7-8ff2-a706fa4de3bd.png">

[2017-06-05 02:14] #119 closed, assigned to nobody

[2017-06-05 02:15] LarryBafundo commented on #119
closing this as we are not going to maintain separate definitions for rape

[2017-06-05 03:32] jeremiak commented on #162
@LarryBafundo Can you post the URL you used for this screenshot so I can use it verify?

[2017-06-05 03:36] jeremiak commented on #117
PNGs would be great @AvivaOskow, thanks!

[2017-06-05 04:20] LarryBafundo commented on #162
@jeremiak this is appears to a global issue that occurs whenever we display aggregated incident data. but here's an example:

https://crime-data-explorer.fr.cloud.gov/explorer/state/pennsylvania/rape

[2017-06-05 04:26] LarryBafundo commented on #121
@RyanSibley do you have the definitions for these various terms ready to go? if so, can you link to where they are stored in the issue? thanks in advance...

[2017-06-05 14:31] #162 closed, assigned to nobody

[2017-06-05 18:35] #168 closed, assigned to jeremiak

[2017-06-05 19:07] AvivaOskow commented on #117
@jeremiak thanks for implementing! Can we change the links from all caps 14pt to 12pt?

[2017-06-05 20:08] AvivaOskow commented on #117
Also for mobile, can those links be in two columns instead of one?

[2017-06-05 21:42] #106 closed, assigned to cacraig

[2017-06-05 21:45] LarryBafundo commented on #89
@AvivaOskow, @brendansudol, @jeremiak, @amberwreed i'm going to repurpose this card so that it focuses on implementing the advanced search capabilities, like filtering, and the related interactions specified above and move it to the backlog for the next sprint.

[2017-06-05 21:47] LarryBafundo opened #169 "Revised treatment for rape sparklines"
We need to account for the different interpretations of rape for the agency view sparklines. Right now we have a temporary fix in place.

[2017-06-05 21:51] LarryBafundo commented on #169
@amberwreed let's figure out what we need to do to plot out a strategy here and if we need to rope Cindy and others in.

[2017-06-05 21:53] LarryBafundo opened #170 "Implement favicon"

[2017-06-05 21:54] LarryBafundo commented on #170
this issue relates to the design task here: https://waffle.io/18F/crime-data-explorer/cards/58ee4de1c889df0031190518

[2017-06-05 22:04] LarryBafundo opened #171 "Add map image for DC"
If we have time, we should swap out the image of the nation for DC with one that represents the boundaries of the District of Columbia.

[2017-06-05 22:18] LarryBafundo commented on #154
@amberwreed, @AvivaOskow can we please update this card given the latest state of the app? i think several of these issues have been resolved since they were first logged.

[2017-06-05 22:21] amberwreed commented on #86
Yes. This can be closed.

[2017-06-05 22:21] #86 closed, assigned to nobody

[2017-06-05 22:28] amberwreed commented on #98
@AvivaOskow The 404 is super noticeable to me in this design. It was the first thing I noticed. Is it possible to try a different treatment for 404 or do we really need it?

[2017-06-05 22:30] amberwreed commented on #152
@jeremiak is this a design task to review. I'm not sure I can comment on this. I'll move it into to review but feel free to close if it is complete or let me know what I should comment on.

[2017-06-05 22:33] amberwreed commented on #48
@LarryBafundo This is different issue. I added this because the bar chart alert said there were no incidents but the tables had values. I'll see if I can recreate.

[2017-06-05 22:34] amberwreed commented on #48
Ok. This is taken care of by #812 but it makes me question why those numbers were showing up in the table. Any ideas @jeremiak ?

I'll close for now.

[2017-06-05 22:34] #48 closed, assigned to brendansudol

[2017-06-05 22:38] amberwreed commented on #87
@LarryBafundo We will finalize as soon as necessary. We will most likely add it to the Incidents details header but want to refine the placement of elements.

[2017-06-05 23:11] LarryBafundo opened #172 "Agency view: expanding the time period selected doesn't affect the time series for counts reported"
The default view for agencies is a 10 year period, starting from the most recent year of data available. If you expand the time period selected, the time period for the agency data presented doesn't update.

Expanding the time period from 2004, to 1994 should cause the bar chart and incident tables to update as well.

[2017-06-05 23:25] LarryBafundo opened #173 "Add glossary definitions for agency bar chart labels"
We need to add glossary definitions for reported and cleared

[2017-06-05 23:34] LarryBafundo commented on #173
<img width="367" alt="screen shot 2017-06-05 at 4 26 29 pm" src="https://cloud.githubusercontent.com/assets/15899668/26807687/cf717050-4a0c-11e7-9523-5af340e48c01.png">

[2017-06-05 23:34] LarryBafundo commented on #173
<img width="333" alt="screen shot 2017-06-05 at 4 26 35 pm" src="https://cloud.githubusercontent.com/assets/15899668/26807688/d2dd1168-4a0c-11e7-93d6-348dfe0a8135.png">

[2017-06-05 23:41] LarryBafundo commented on #155
@cacraig not sure if this is the best way of logging this, but i'm testing the app and noticed that if you increase the time period selected to the latest year available (1995) the app can take between 40 seconds and a minute to load. This doesn't happen consistently, but it seems to happen more often with a longer time horizon.

The specific query I ran was Colorado / Rape / 1995-2014.

[2017-06-05 23:45] LarryBafundo commented on #155
@cacraig viewing a wider range of data is definitely more taxing (not surprising). i'm getting really lengthy load times viewing data from 1995 by either switching states, or viewing agencies within those states. crime type doesn't appear to matter, although i would expect all violent / all property crime to take even longer?

[2017-06-05 23:50] LarryBafundo commented on #172
nevermind, this appears to be working.  not sure what i saw earlier.

[2017-06-05 23:50] #172 closed, assigned to nobody

[2017-06-05 23:54] LarryBafundo opened #174 "Start year for NIBRS reporting doesn't match the bar chart time series for NIBRS agencies"
In the overview text for the incident details portion of the agency view, we say when the agency first started reporting NIBRS data when a range greater than the default 10 years is selected. The year in which we say an agency begins reporting NIBRS differs from the first year of the bar chart that shows the number of incidents reported and cleared.

Since an agency either supports SRS or NIBRS, t

[2017-06-05 23:57] LarryBafundo commented on #174
<img width="904" alt="screen shot 2017-06-05 at 4 46 23 pm" src="https://cloud.githubusercontent.com/assets/15899668/26808199/1007159a-4a10-11e7-8877-87aafd3c4078.png">

[2017-06-06 00:09] LarryBafundo commented on #154
should this issue also cover the need to have the agency search bar reset when a new state is selected? right now, the agency name persists even though the state changes

[2017-06-06 00:11] LarryBafundo commented on #98
I would be in favor of not including the 404 error code at all.

[2017-06-06 00:11] LarryBafundo commented on #71
<img width="819" alt="screen shot 2017-06-06 at 12 25 42 pm" src="https://user-images.githubusercontent.com/21244661/26944475-c656e986-4c56-11e7-9b0c-3576af473a4b.png">

[2017-06-06 00:38] LarryBafundo opened #175 "Need to more gracefully describe agencies that aren't mapped to a specific county."
For agencies that don't belong to a specific county, like tribal lands and some state police, the overview describes where they are located a bit awkwardly, saying that the agency is located in "not specified county." For these "unmapped agencies"  let's consider suppressing the county location and just saying they are located in the state.

cc: @RyanSibley, @AvivaOskow, @harrisj

[2017-06-06 00:42] LarryBafundo commented on #175
<img width="927" alt="screen shot 2017-06-05 at 5 34 13 pm" src="https://cloud.githubusercontent.com/assets/15899668/26809018/32aee054-4a16-11e7-8db5-08d1886ae7db.png">

[2017-06-06 00:42] LarryBafundo commented on #175
this issue relates to the conversation here: https://waffle.io/18F/crime-data-explorer/cards/5931b8a3270a3900698d98d0

[2017-06-06 01:58] LarryBafundo opened #176 "Show the selected agencies location (county) on map"
As a user I can view the location of the agency I selected in the state map.

[2017-06-06 02:11] LarryBafundo commented on #174
closing, this isn't actually an issue. the agency used the SRS reporting method prior to 98.

[2017-06-06 02:11] #174 closed, assigned to nobody

[2017-06-06 13:57] jeremiak commented on #48
@amberwreed Hm, nothing immediately comes to mind but if you see it again please open an issue :)

[2017-06-06 14:07] harrisj commented on #175
See also https://github.com/18F/crime-data-api/issues/530 for backend implementation question

[2017-06-06 15:16] RyanSibley commented on #167
https://github.com/18F/crime-data-frontend/pull/846

[2017-06-06 15:16] RyanSibley commented on #161
adding rate and unestimated data

https://github.com/18F/crime-data-frontend/pull/846

[2017-06-06 16:27] AvivaOskow commented on #98
I don't know the formal answer on whether we need the 404 or not, I just included it somewhere since that seems standard.

Here it is removed:

<img width="819" alt="screen shot 2017-06-06 at 12 25 42 pm" src="https://user-images.githubusercontent.com/21244661/26840238-7b591502-4ab3-11e7-9509-c504f2f796a6.png">

[2017-06-06 16:27] AvivaOskow commented on #98
(I also removed the word "double" from the sentence)

[2017-06-06 17:35] LarryBafundo opened #177 "Finalize agency overview text"
For testing tomorrow we want to be able to demonstrate how dynamically generated provides context for the agency data being displayed. This overview should show the agency name, describe it as a "law enforcement agency", and identify the county that it is located in.

We will need to figure out how to more gracefully handle cases where an agency isn't mapped to a primary county, but that is not a

[2017-06-06 17:39] LarryBafundo opened #178 "Add a no data indicator to the bar chart time series"
For testing tomorrow we want to indicate that no data is available for certain years in the bar chart time series.

[2017-06-06 17:41] LarryBafundo opened #179 "When switching states the agency search bar should clear"

[2017-06-06 17:43] amberwreed commented on #98
Looks good to me.

On Tue, Jun 6, 2017 at 9:27 AM, Aviva Oskow <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-06-06 17:46] LarryBafundo commented on #177
the content & formatting is defined here: https://docs.google.com/document/d/1D31avh8AL2ahoMcKE0Be9mws8BLT5LDAVs50xrg55i8/edit

[2017-06-06 17:49] LarryBafundo commented on #154
FYI - i updated some of the subtasks in this issue based on what I've seen and what I recently added as a priority fixes before testing tomorrow. it would be good to do a more detailed review once implementation is finished for this sprint.

[2017-06-06 18:05] AvivaOskow commented on #178
Check with @RyanSibley for correct copy for no data

<img width="759" alt="screen shot 2017-06-06 at 2 04 52 pm" src="https://user-images.githubusercontent.com/21244661/26844363-2712c2aa-4ac1-11e7-844a-62048cb56521.png">

[2017-06-06 18:19] #165 closed, assigned to AvivaOskow

[2017-06-06 19:05] amberwreed commented on #179
Another potential interaction someone might want to take is go back to the state page from an agency page. Should clearing the agency name reload the state page if you click out of the dropdown? Any ideas on how this should work?

[2017-06-06 19:09] AvivaOskow commented on #154
These were the ones I either need someone else to check on or are outstanding (some just partially).

**Intro paragraph**
- [ ] figure out what to say when county is not known
@RyanSibley what was the conclusion on this?

**Bar chart**
- [x] source info on agency bar chart (left aligned) and add icon when given
Icon still needs to be added, already spoke to @jeremiak about this today, also there i

[2017-06-06 20:30] LarryBafundo commented on #69
this task would also involve updating 2015 bulk NIBRS data for the states and posting them on S3, as well as documenting the overall process for the benefit of the transition team and identifying opportunities where aspects of the process may be automated.

[2017-06-06 20:55] #152 closed, assigned to nobody

[2017-06-06 20:59] LarryBafundo commented on #98
can we close this then?

[2017-06-06 21:12] LarryBafundo commented on #151
this issue is now being covered by #89

[2017-06-06 21:12] #151 closed, assigned to nobody

[2017-06-06 21:14] LarryBafundo commented on #176
Agency location should be reflected as a pin in the location of the agency's primary county. For agencies that don't have a county associated with them just drop the pin in the middle of the state.

[2017-06-06 21:25] LarryBafundo opened #180 "Need to better handle DC arson results (and similar)"
For cases like DC and arson, where the volume of reported data is low, we need to explore alternatives to displaying aggregated incident data by our various dimensions.

Potential approaches may include showing the data as a table, rather than as a card, not showing cards when there is no data available (example, no victims), etc.

[2017-06-06 21:30] LarryBafundo commented on #180
<img width="698" alt="screen shot 2017-06-06 at 2 36 45 pm" src="https://user-images.githubusercontent.com/15899668/26852886-b1427058-4ac4-11e7-9352-4986979cf666.png">

[2017-06-06 22:31] #98 closed, assigned to AvivaOskow

[2017-06-06 22:33] amberwreed commented on #173
@RyanSibley please add definitions for these and close when complete. Thanks.

[2017-06-06 22:36] amberwreed commented on #89
@AvivaOskow @RyanSibley Should we consider allowing people to search by NIBRS and SRS here too?

[2017-06-06 22:39] cacraig commented on #155
I was able to force a server restart by hitting many of the agency count API's at the same time. I think that the issue is that the payload size is too large, and when requests pile up - they overwhelm the API server's resources. Basically resulting in a Denial-of-service or severe slowdown.

Possible fixes:
(1) Disable /agencies/count/states/suboffenses/:STATE endpoint. Via using the /agencies/co

[2017-06-07 02:26] #179 closed, assigned to nobody

[2017-06-07 13:55] AvivaOskow commented on #89
@amberwreed I'm open to that, I think it could be a useful feature for a portion of users. I wonder if it will be confusing to everyone else though? But maybe they'll just ignore that part of its not relevant to them.

[2017-06-07 14:38] AvivaOskow commented on #37
**Options:**
2 here
<img width="647" alt="screen shot 2017-06-07 at 10 23 57 am" src="https://user-images.githubusercontent.com/21244661/26883571-90cd427e-4b6b-11e7-862b-56e248dfb3f9.png">

another
<img width="641" alt="screen shot 2017-06-07 at 10 36 18 am" src="https://user-images.githubusercontent.com/21244661/26884200-31425734-4b6d-11e7-99cc-46a81f60c88a.png">

<img width="104" alt="screen sho

[2017-06-07 14:57] cde-feedback-bot opened #181 "User feedback"
## What brought you to the site and how can we improve your experience here?
CJIS Staff asked to review the About Page

## General feedback about the site?
Language Tweak: The Crime Data Explorer publishes nationwide crime data collected by the FBI in a digital format. This tool provides access to crime trends and the opportunity to download bulk data, and most importantly can provide access to a

[2017-06-07 19:47] jeremiak commented on #178
Closing in favor of https://github.com/18F/crime-data-frontend/issues/818

[2017-06-07 19:47] #178 closed, assigned to nobody

[2017-06-07 22:42] amberwreed commented on #37
Thanks Aviva. Between the 3 of these I prefer the one that is least
detailed because the details are hard for me to make out when they are
small. Why are we changing the icon from the current one? I like the way
the dark blue currently draws my attention to it. I do not immediately
notice the outlined icon.

On Wed, Jun 7, 2017 at 7:38 AM, Aviva Oskow <notifications@github.com>
wrote:

--
--------

[2017-06-08 01:36] LarryBafundo commented on #89
testing in sprint 13 proved that basic search capability was sufficient. moving this to the backlog as a post launch consideration.

[2017-06-08 01:45] LarryBafundo commented on #166
moving this out of to do and into the backlog until we have more definition around what we want to do here.

[2017-06-08 01:46] LarryBafundo commented on #181
@RyanSibley for your consideration (recent feedback)

[2017-06-08 14:16] RyanSibley commented on #181
Awesome. Thank you.

[2017-06-08 14:29] RyanSibley commented on #149
I added a sentence "Data updates will be made on a rolling basis" but I don't think that's right.  Do you have thoughts on how to best phrase this?

[2017-06-08 14:29] #149 closed, assigned to nobody

[2017-06-08 14:31] #173 closed, assigned to nobody

[2017-06-08 14:49] brendansudol commented on #37
the current one was not meant to be the final one -- it was just a quick icon that i picked out as a placeholder until we found a better one; it served us well while prototyping but it's time to add a better one :)

[2017-06-08 14:52] brendansudol commented on #37
and the dark blue blocky one to me feels like it dominates the text too much (and i also don't think it scales well / even really look like a book, especially on small screens)

[2017-06-08 14:52] brendansudol commented on #37
i'll add the less detailed one to the page and we can see how it looks in the context of the site

[2017-06-08 14:57] brendansudol commented on #166
sure, this seems reasonable @AvivaOskow

[2017-06-08 15:59] #91 closed, assigned to nobody

[2017-06-08 16:00] LarryBafundo commented on #91
superseded by #872

[2017-06-08 16:06] AvivaOskow commented on #37
One in the last line
<img width="845" alt="screen shot 2017-06-08 at 11 04 18 am" src="https://user-images.githubusercontent.com/21244661/26938660-defa0252-4c42-11e7-858a-c65d7909815b.png">

[2017-06-08 16:29] LarryBafundo opened #182 "Performance & Scalability (place holder)"

[2017-06-08 16:39] amberwreed commented on #175
Consider calling "unspecified" something else re user testing. @RyanSibley

[2017-06-08 16:55] LarryBafundo commented on #80
going to reference this in another card about improving API documentation to be more concise.

[2017-06-08 16:55] #80 closed, assigned to nobody

[2017-06-08 17:04] #167 closed, assigned to RyanSibley

[2017-06-08 17:51] LarryBafundo commented on #182
(1) Disable /agencies/count/states/suboffenses/:STATE endpoint. Via using the /agencies/count/states/suboffenses/:STATE/:ORI endpoint instead. Pulling state level, agency+offense+year aggregated data is problematic. @jeremiak - is this possible from a front end perspective - are you guys reliant on that API?
(2) Reduce the data volume. Disable Marshmallow serialization in favor of a simpler manual

[2017-06-08 17:52] LarryBafundo commented on #182
consider breaking out between frontend & backend

[2017-06-08 18:23] LarryBafundo opened #183 "Add territory data as a download"
Need to get this data from CJIS.

[2017-06-09 01:39] harrisj commented on #155
1) I don't think they are using the `/suboffenses` endpoint in the frontend. Do you think we could remove it?
2) There are some API endpoints that need the CSV output for the download. But we could perhaps see if we could also trigger that from the DB using `COPY TO STDOUT` potentially. It would be a good spike to investigate this, since I don't think we are getting much from Marshmallow and it ad

[2017-06-09 17:09] #130 closed, assigned to cacraig

[2017-06-09 17:09] #143 closed, assigned to cacraig

[2017-06-09 18:48] LarryBafundo commented on #155
@harrisj, @cacraig, @jeremiak: let's use this card to track performance-related tasks for this sprint. i'll close #182 and roll those details into here. But let's come up with a prioritized checklist of activities so we can track progress.

[2017-06-09 18:48] LarryBafundo commented on #182
closing in favor of #155

[2017-06-09 18:49] #182 closed, assigned to nobody

[2017-06-09 18:50] LarryBafundo opened #184 "Selecting DC from the homepage breaks the app"
Attempting to select DC from the drop-down menu on the homepage breaks the app. Not only is navigation to DC data affected, but it puts the app in a state where no other states are accessible without refreshing the page. You can access DC data from within the Explorer, but only if you navigate to DC from another state. While DC state data appears to load, I have been unable to load DC agency data.

[2017-06-09 18:54] LarryBafundo commented on #102
this appears to be fixed, closing.

[2017-06-09 18:54] #102 closed, assigned to nobody

[2017-06-09 18:55] LarryBafundo commented on #175
assigning this to you @RyanSibley temporarily just so that we can agree on what to call this new "unspecified" category. then we can do the engineering to consolidate the groupings in the list view.

[2017-06-09 18:57] LarryBafundo commented on #52
assigning this to myself, will check with 18F accessibility guild on how they can help and when we can schedule those activities. similarly, i'll continue to work with CJIS on scheduling the necessary reviews by OPA and others.

[2017-06-09 19:13] cacraig commented on #155
@harrisj  -

Regarding the CSV output, maybe we can use marshmallow for CSV requests.

I am  100% for removing that Query building code that we don't need anymore.

We can also explore a few more DB optimizations - Although I don't think a partitioning strategy would be appropriate. Perhaps we could cluster the tables on offense/state?

[2017-06-09 19:13] LarryBafundo opened #185 "Show agency name, not ORI in incident details title"
When incident details are available for an agency, we are referring to the agency as an ORI, instead of the agency name. The agency name should be displayed instead.

See screenshot below and link: https://crime-data-explorer-demo.fr.cloud.gov/explorer/agency/PA0011500/rape

[2017-06-09 19:15] harrisj commented on #155
I dunno, it seems like if the database can do it, we should let it. This [sqlalchemy-postgres-copy](https://github.com/jmcarp/sqlalchemy-postgres-copy) looks like it could be useful

[2017-06-09 19:15] LarryBafundo commented on #185
<img width="881" alt="screen shot 2017-06-09 at 12 13 28 pm" src="https://user-images.githubusercontent.com/15899668/26990930-5be582f8-4d0d-11e7-9c1f-91fc2b3312cf.png">

[2017-06-09 20:22] AvivaOskow commented on #170
![CDE-favicon.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46cbb0bf6e8482bf86eab04de611b2843b492d762a10e17132d0bb2dba167f560d5948ab48590944fcfa802fa2e76a768b4e17ff933c0120996048e6edc00db513b826814e81bfbb8a4fc9ef3c2de68d865d73.png)

[2017-06-12 13:24] cde-feedback-bot opened #186 "User feedback"
## What brought you to the site and how can we improve your experience here?
CJIS user

## General feedback about the site?
In the NIBRS Data under the "Offender demographics" the "Victim’s relationship to the offender" area, "Babysitter" category is spelled incorrectly as "Babysittee"

## Using this data for something cool? Tell us about it!

[2017-06-12 21:52] #148 closed, assigned to harrisj

[2017-06-12 22:07] LarryBafundo commented on #90
@AvivaOskow, @RyanSibley can we either close this or better explain what this card is about?

[2017-06-12 22:08] LarryBafundo commented on #37
@AvivaOskow looks like you already implemented the revised glossary icon...can we close this?

[2017-06-12 22:10] LarryBafundo commented on #161
verified on production that there's a glossary entry for unestimated data, but not sure if there's a term that should be linked elsewhere within the CDE. i think i can close this.

[2017-06-12 22:10] #161 closed, assigned to RyanSibley

[2017-06-12 22:13] #37 closed, assigned to AvivaOskow

[2017-06-12 22:24] LarryBafundo commented on #52
i'm reaching out to Nick and the accessibility crew on scheduling this for sometime next week.

[2017-06-12 22:27] LarryBafundo commented on #159
closing as we will remove the modal before tweaking it at this point.

[2017-06-12 22:27] #159 closed, assigned to nobody

[2017-06-12 22:31] LarryBafundo commented on #169
closing this in favor of our current implementation. showing both trends lines as a sparkline isn't feasible or desirable.

[2017-06-12 22:32] #169 closed, assigned to amberwreed

[2017-06-12 22:37] LarryBafundo commented on #39
duplicate. closing in favor of #183

[2017-06-12 22:37] #39 closed, assigned to harrisj

[2017-06-12 23:00] LarryBafundo commented on #176
We're not going to get this by launch although its something that deserves consideration as a future enhancement.

[2017-06-12 23:27] LarryBafundo commented on #175
let's avoid situations like this:

[2017-06-12 23:28] LarryBafundo commented on #175
<img width="290" alt="screen shot 2017-06-12 at 4 27 28 pm" src="https://user-images.githubusercontent.com/15899668/27059584-1b48d9da-4f8c-11e7-90b4-37d36d8fca55.png">

[2017-06-12 23:30] LarryBafundo commented on #184
Trying to view data for any DC agency also appears to break the app (or just fails to load):

https://crime-data-explorer.fr.cloud.gov/explorer/agency/DCMPD0000/violent-crime

[2017-06-12 23:33] harrisj commented on #183
Will update once we get data from CJIS

[2017-06-12 23:37] LarryBafundo opened #187 "Need to make label for agency bar chart dynamic based on data type"
Currently the label for the agency bar chart says the data is derived from NIBRS regardless of the agency's reporting type. The label should update based on what data type that state and or agency reports

[2017-06-12 23:38] LarryBafundo commented on #187
In this example, New Jersey is an SRS-only state, but the label for Egg Harbor Twp. says the bar chart is based on NIBRS.

[2017-06-12 23:38] LarryBafundo commented on #187
<img width="796" alt="screen shot 2017-06-12 at 4 36 33 pm" src="https://user-images.githubusercontent.com/15899668/27059834-9bfd5f00-4f8d-11e7-91a6-0c7878da4178.png">

[2017-06-13 14:50] RyanSibley commented on #175
Is it possible that we remove the grouping that contains the specified and unspecified categories? Is some of this a product of incomplete fields?

[2017-06-13 15:25] RyanSibley commented on #175
I'm going to schedule a time to talk about this one

[2017-06-13 16:14] LarryBafundo commented on #52
here's the before you ship accessibility checklist: https://accessibility.18f.gov/checklist/

[2017-06-13 16:53] cacraig commented on #142
This is gtg!

[2017-06-13 16:54] #142 closed, assigned to cacraig

[2017-06-13 19:29] RyanSibley commented on #11
create a new glossary entry for agency

[2017-06-13 19:34] #136 closed, assigned to RyanSibley, AvivaOskow

[2017-06-13 21:15] AvivaOskow opened #188 "Trend charts: changes to download data links and formatting"

[2017-06-13 21:15] jeremiak commented on #117
Cool, made those changes @AvivaOskow and they should now be on master. Closing out this issue.

[2017-06-13 21:15] #117 closed, assigned to jeremiak

[2017-06-13 21:21] AvivaOskow commented on #122
We found through testing multiple times that navigating away from the CDE, especially when users are taken to an older (and very differently designed) UCR page or other place, that the experience is jarring and a bit confusing, or makes it seem like there are "old" parts of the CDE. Also because users have made a specific query, it's frustrating to be navigated away from that without real warning.

[2017-06-13 21:37] AvivaOskow commented on #122
<img width="206" alt="screen shot 2017-06-13 at 11 36 44 am" src="https://user-images.githubusercontent.com/21244661/27105803-9cfa8460-502c-11e7-9f6f-be16f8c905b0.png">

[2017-06-13 21:46] harrisj opened #189 "Sort agency search results by descending population?"
Right now, we order agency search results alphabetically. This makes it nigh impossible to find the NYPD since it is simply named "New York" like so many other agencies in New York state. The idea would be to sort matches within a county by descending population.

To get the population from the `agencies` endpoint you used to grab all the agencies from a single state, you simply need to `populatio

[2017-06-13 23:38] LarryBafundo commented on #189
i think more refinement is probably needed with search in general, but this seems like a good first-step, especially if it's low cost to implement. but my personal view is that an ideal solution would involve some renaming as described in #556

[2017-06-13 23:42] #146 closed, assigned to nobody

[2017-06-13 23:45] LarryBafundo commented on #188
this design task relates to this implementation task in the backlog: https://waffle.io/18F/crime-data-explorer/cards/59397389ea3e5c0026557624

[2017-06-14 01:20] harrisj commented on #189
One other thing that has been suggested it to filter out agencies that did not report for 12 months in the most recent year. There are two other fields to include for an agency `current_year,months_reported` that will tell you if an agency reported 12 months in th most recent year they reported

[2017-06-14 05:02] amberwreed commented on #87
Closing because we are not adding an incident endpoint which would enable this at this time.

[2017-06-14 05:02] #87 closed, assigned to amberwreed

[2017-06-14 05:05] amberwreed commented on #166
@brendansudol Is this implemented? It seems mainly fixed (could be coincidence). Check out this agency I was just looking at.
![Screen Shot 2017-06-13 at 10.04.13 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56393caf761ba64300ac16ef/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f06b7191a379ef0c2b55415e4dbc21254d58eeb9cb74fce36f34985619e8d9380a70

[2017-06-14 14:04] brendansudol commented on #166
yes it is

[2017-06-14 14:12] cde-feedback-bot opened #190 "User feedback"
## What brought you to the site and how can we improve your experience here?
CJIS

## General feedback about the site?
When trying to access the State specific NIBRS data from the Downloads and Documentation section, at CJIS, we receive an Unauthorized Site warning page.

## Using this data for something cool? Tell us about it!

[2017-06-14 15:44] RyanSibley commented on #177
I'm starting to realize a problem we have: using the term finalize regarding copy. Copy is likely to change up until launch and thereafter so it will never be final. So instead of saying finalize, let's talk about what edits we want to implement.

[2017-06-14 15:48] jeremiak commented on #177
💯 to ^^ - let's take that sentiment project wide, since software is never done :)

[2017-06-14 16:14] brendansudol opened #191 "Lazy load agency data"
for improved performance

[2017-06-14 16:29] LarryBafundo commented on #189
Let's get CJIS to weigh in on this. Want to make sure they're aware that we may suppress agencies in this way.

[2017-06-14 16:30] RyanSibley commented on #96
We have it right.

[2017-06-14 16:32] LarryBafundo commented on #189
hey @harrisj question here: what do we mean by suppress? does that just mean that the agency won't appear in the drop-down, but you could still look it up by ORI#? I feel like the latter will be important for CJIS and is also more aligned with the principles of open data.

[2017-06-14 16:33] RyanSibley commented on #96
See info about the hierarchy rule here: file:///Users/ryan/Downloads/ucrhandbook04.pdf
![Screen Shot 2017-06-14 at 12.32.55 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56f1597df15ed20e00490e18/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f76b7191a379ed0c2853415a4bbc21254d58eeb9cb74fce36f34985619e8d9380a70923a43aabe8516be57ba20884681b2eddc4ac1f

[2017-06-14 16:34] #96 closed, assigned to nobody

[2017-06-14 16:42] harrisj commented on #189
Yes, the idea is that we wouldn't show those in the name dropdown, but you could enter an ORI for them

[2017-06-14 16:45] amberwreed commented on #166
@brendansudol What we were trying to avoid is non-whole numbers appearing in the bar. I'll close this for now because you've implemented what we asked but it make come back up.

[2017-06-14 18:15] #166 closed, assigned to nobody

[2017-06-14 18:16] #177 closed, assigned to RyanSibley

[2017-06-14 18:22] amberwreed commented on #157
@AvivaOskow let's move this to the back log until launch

[2017-06-14 18:43] AvivaOskow commented on #163
@amberwreed @LarryBafundo do we think this has been covered by our other downloads discussions? It doesn't sound like we have capacity/time to add another interaction around this, but we are updating how we do downloads for nibrs charts, and making sure the read.me  files are in there and providing zips?

[2017-06-14 19:44] RyanSibley commented on #73
Jeremia added the content to the GH main readme and linked to that on the downloads page.

https://github.com/18F/crime-data-explorer/blob/master/README.md

https://crime-data-explorer.fr.cloud.gov/downloads-and-docs

[2017-06-14 19:45] #73 closed, assigned to nobody

[2017-06-14 21:33] harrisj commented on #183
Any movement on this?

The plan is they will provide us data for Puerto Rico and the US Virgin Islands in the same format they provide estimated data for states

[2017-06-14 22:17] LarryBafundo commented on #163
i don't think we capacity/time to make significant changes to the download experience. we also have an issue for consolidating the individual NIBRS downloads into a single download package, but right now that's a secondary priority, not something that is critical to launch since we have basic functionality in place.

[2017-06-14 22:19] LarryBafundo commented on #163
on a related note, we made a mistake and forgot to include the related resources (e.g., the readme) in the bulk NIBRS state downloads...since those files took about a week to generate we won't be able to go back and add them, so we need to make sure those resources are accessible from the downloads and documentation view.

[2017-06-14 22:30] LarryBafundo opened #192 "Improve error states for data loading errors"
Let's add a more "user-friendly" explanation for Explorer View loading errors. Below is the current loading state & and its content.

[2017-06-14 22:32] LarryBafundo commented on #192
<img width="861" alt="screen shot 2017-06-14 at 6 28 27 pm" src="https://user-images.githubusercontent.com/15899668/27157506-a5d6650a-5116-11e7-844c-eed988fe5843.png">

[2017-06-14 22:34] LarryBafundo opened #193 "Add estimated data download"

[2017-06-14 22:42] LarryBafundo commented on #190
Need to explore this further

[2017-06-14 23:11] LarryBafundo commented on #154
@AvivaOskow can we close this massive card now that we're tracking things individually?

[2017-06-15 14:26] LarryBafundo commented on #193
closing in favor of: https://github.com/18F/crime-data-api/issues/561

[2017-06-15 14:26] #193 closed, assigned to harrisj

[2017-06-15 14:38] LarryBafundo commented on #154
closing in favor of the individual cards that we're now tracking

[2017-06-15 14:39] #154 closed, assigned to amberwreed, AvivaOskow

[2017-06-15 14:40] LarryBafundo commented on #2
seems like we've run into an issue integrating the new ethnicity endpoint, which is described here: https://github.com/18F/crime-data-api/issues/562

[2017-06-15 14:47] #95 closed, assigned to nobody

[2017-06-15 14:47] LarryBafundo commented on #192
@AvivaOskow we should consider adding a more subtle error state, something "bluer" than this emergency red.

[2017-06-15 15:00] RyanSibley commented on #175
I'm suggested we use `no assigned county` @harrisj @amberwreed @LarryBafundo

[2017-06-15 15:10] jeremiak commented on #2
@LarryBafundo @amberwreed Ready for review/closing. I opened the relevant API bug and looks like we'll be discussing it with the FBI tomorrow but the implementation of this was done successfully.

[2017-06-15 15:13] jeremiak commented on #175
A wrinkle to this is that none of the agencies in DC have primary counties associated

<img width="310" alt="screen shot 2017-06-15 at 11 12 46 am" src="https://user-images.githubusercontent.com/780941/27188269-a1242b0a-51bb-11e7-991b-40a6ef4adf4b.png">

[2017-06-15 16:08] amberwreed commented on #163
@AvivaOskow Let's discuss the download page revisions before you get started.

[2017-06-15 18:31] brendansudol commented on #74
ah, good catch, i know why this is -- it's a rounding issue -- fixing

[2017-06-15 18:54] LarryBafundo opened #194 "Need description for estimated data download (added, check comments!)"
Proposal:

Title - estimated crime data for the U.S.

Description - see the FBI's estimated crime totals for the nation and it's 50 states from 1994 to 2015.

[2017-06-15 19:35] AvivaOskow commented on #192
@LarryBafundo @jeremiak @brendansudol Can we style this the same way we style our other no data alerts? Right now they are super simple, with the headline and one line underneath explaining the issue. At one point I had designs that incorporated an alert icon in red. If we want to add that back in, but in blue, we could, but I am also ok with the simplicity of what we have now.

[2017-06-15 20:09] AvivaOskow commented on #188
Design options:
![Screen Shot 2017-06-14 at 2.12.07 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f76b7191a37af113294f5f585ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbed5727a29f41c95cff4ce44852a7103462ef7f2431.png)

[2017-06-15 20:31] AvivaOskow opened #195 "Api page: needs visual design touch?"
Should we do some visual design around the API page?

[2017-06-15 20:31] AvivaOskow commented on #195
@brendansudol @jeremiak @amberwreed

[2017-06-15 20:55] jeremiak commented on #195
Our current API page is looking pretty decent and is probably good enough to ship if we don't have extra time. The URL is https://crime-data-explorer.fr.cloud.gov/api.

If we end up having some extra time, I'd be happy to make some changes but I'd also prioritize putting time into making the docs clearer (updating the underlying JSON representation of the API) over changing the look before the end

[2017-06-15 21:16] harrisj opened #196 "Suppress agency_status=L in the agency status"
So, I finally got an explanation of the `agency_status` field and it seems like it has two values:

* A = active or good or whatever
* L = LEOKA-reporting only

It seems like we want to also not have LEOKA-only agencies in the search besides Federal agencies. They might already be grayed out because they don't report though so maybe that is enough

[2017-06-15 23:28] AvivaOskow commented on #188
This is what we landed on:

1. Change "Download data" button in charts to say "Download chart data"
2. Leave trend chart download link in same spot (lower left), add to header of nibrs on lower right
3. Add second line to source under trend chart and NIBRS: "For complete data offerings, see the downloads page." and underline "downloads".
4. Bold "Source:" at beginning of line

![Screen Shot 2017-0

[2017-06-15 23:46] amberwreed commented on #195
Agree with @jeremiak. No need to address now.

If there is additional time...
Make all the text in the intro paragraph the same color (dark blue)
Use arial as the base typeface
Decrease the line length by 1/4 to 1/5th
Don't make CHANGE LOG all caps and green, try bold and **Change log**

[2017-06-15 23:48] amberwreed commented on #163
@jeremiak @LarryBafundo Working on a revised design for the page but not the experience of downloading a file. Will update this issue when the design is ready.

[2017-06-15 23:51] amberwreed commented on #36
@RyanSibley and I are working on design and content for this page. We received new feedback from Lori and are incorporating it. Will update this issue with new designs shortly.

https://docs.google.com/document/d/1PsaDktLptLgos22vYtQg1yCdIirULeWIhIKZvtlnJq8/edit

[2017-06-16 00:16] LarryBafundo opened #197 "Change default glossary-search text to "crime""
This is super minor, but the default search term for the glossary is "committee", which I'm assuming is a hold-over from the FEC project. Can we change it to something more relevant to our project, perhaps "crime"?

[2017-06-16 00:17] AvivaOskow opened #198 "Nibrs cards: update to latest design spec"

[2017-06-16 00:25] AvivaOskow commented on #198
1. Change headline size from 22 to 20
2. Move "view by" toggle to top right, align with "Sex of..." headline and make universal toggle for all categories
3. Align "Sex of..." chart with left content, keep legend to right, remove x axis line
(These don't include adding the download button and adding the correct and dynamic content under charts, in other issues)

![Screen Shot 2017-06-15 at 2.22.02

[2017-06-16 00:32] LarryBafundo commented on #194
@RyanSibley what do you think about this title and description for the new estimated data download?

[2017-06-16 00:48] LarryBafundo opened #199 "Assault spark lines are oversized"
When viewing assault data for agencies in New Jersey I noticed that the spark lines for assault were over-sized. This only appears to be an issue with assault, as they returned back to normal when I selected different offenses. I also noticed this problem with several different agencies.

Here's an example: https://crime-data-explorer.fr.cloud.gov/explorer/agency/NJ0010100/aggravated-assault

[2017-06-16 00:51] LarryBafundo commented on #199
<img width="1253" alt="screen shot 2017-06-15 at 8 48 29 pm" src="https://user-images.githubusercontent.com/15899668/27207378-5c8dcbd0-520c-11e7-916e-2bf56cef59bd.png">

[2017-06-16 14:37] RyanSibley commented on #194
That's not bad -- I previously put this together:
`Summary` (SRS) data that has been estimated to create trends for crime occurrences on the state and national level. The FBI has traditionally included estimates in their [annual publications](https://ucr.fbi.gov/ucr-publications).`

So maybe a combination of the two:
`Summary (SRS) data that has been estimated to create trends for crime occurrence

[2017-06-16 14:55] LarryBafundo commented on #194
sounds good, let's go with it!

[2017-06-16 15:10] jeremiak commented on #187
This was done in 920 above

[2017-06-16 16:13] jeremiak commented on #196
@harrisj Got it. Can you give me an example of a LEOKA-reporting only agency so I can verify it was implemented properly?

[2017-06-16 16:15] harrisj commented on #183
We have the data. Now time to load it.

[2017-06-16 16:22] harrisj commented on #196
NY030019Q = New York State Housing Authority

[2017-06-16 17:23] LarryBafundo commented on #199
actually, @brendansudol this appears to be a problem with motor vehicle theft too.

[2017-06-16 19:43] LarryBafundo commented on #2
Let's close this out from a front-end perspective. We confirmed during the call with CJIS today that there is indeed a lack of ethnicity data available to the UCR program, especially for offenders. But research has shown that this is a valuable element to include and so our view is that we should show it.

[2017-06-16 19:44] LarryBafundo commented on #2
@AvivaOskow, @amberwreed keeping this in design review so that we can determine if we need to handle persistently low volumes of ethnicity data in a special way.

[2017-06-16 19:49] LarryBafundo commented on #175
"no assigned county" sounds good to me. with this new label this task is ready for implementation.

[2017-06-16 19:52] LarryBafundo commented on #52
this has been scheduled for Monday, June 19

[2017-06-16 19:54] LarryBafundo commented on #140
I explained to CJIS that based on the new launch date of June 30 we need to cut back on some of the new features we planned to balance with "hardening." I explained that we're not confident we can get to arrest data by June 30 and that we also need to talk more about what an initial offering for arrest data should even include.

Let's keep this at the top of the backlog and tentatively slate it fo

[2017-06-16 19:55] LarryBafundo commented on #140
this issue relates to the considerations listed here: https://github.com/18F/crime-data-api/issues/566

[2017-06-16 19:57] LarryBafundo commented on #190
I haven't been able to reproduce this myself. Sammy thinks it might be related to their security environment and is having their IT team look into it.

[2017-06-16 20:16] LarryBafundo opened #200 "Need to adjust ethnicity label"
We don't want to say there 0 reported offenders, just that there was a lack of offender data included.

Proposal:

There were 0 incidents reported with offender ethnicity

[2017-06-16 20:16] LarryBafundo commented on #200
<img width="527" alt="screen shot 2017-06-16 at 4 14 27 pm" src="https://user-images.githubusercontent.com/15899668/27243294-2c4cba00-52af-11e7-83fc-a190a0de36e9.png">

[2017-06-16 20:18] LarryBafundo commented on #200
@RyanSibley we should also consider adjusting the label for cases where ethnicity data is included...and consider how this affects how we talk about other race dimensions.

[2017-06-16 20:30] LarryBafundo opened #201 "Add state-based footnotes & reference at the agency level"
We still need to define how we want to handle this, but this is a task for making the state based footnotes outlined in the FBI's methodology https://ucr.fbi.gov/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/resource-pages/methodology available via download from the CDE. We should also provide access to this information at the agency level to provide context for reporting anomalies, etc.

[2017-06-16 20:32] LarryBafundo commented on #201
This is a priority item for the June 30 release date.

[2017-06-16 20:33] LarryBafundo commented on #201
relates somewhat to: https://github.com/18F/crime-data-explorer/issues/8

[2017-06-16 21:03] amberwreed commented on #201
An idea would be to include it as a link on the state and the agency page like this.
![Screen Shot 2017-06-15 at 5.25.48 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56393caf761ba64300ac16ef/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256455f66b7191a37df1102e4f5b575ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f

[2017-06-16 22:38] amberwreed commented on #36
![about_6 17 17](https://user-images.githubusercontent.com/13576520/27246946-e1529042-52a9-11e7-82a4-f3086956b306.jpg)

[2017-06-16 22:39] amberwreed commented on #36
@brendansudol @jeremiak We need to meet to break this into multiple issues.

[2017-06-16 22:40] amberwreed commented on #163
[Uploading Downloads & Documentation.jpg...]

[2017-06-16 22:40] amberwreed commented on #163
@brendansudol @jeremiak We need to meet to break this into multiple stories.

[2017-06-16 22:41] amberwreed commented on #38
@AvivaOskow I'm closing this because there will be multiple issues to address with the updated designs.

[2017-06-16 22:41] #38 closed, assigned to nobody

[2017-06-16 23:35] amberwreed commented on #201
This is related to @harrisj comment in #567.

[2017-06-16 23:37] amberwreed commented on #201
I propose we allow people to download caveats from the Resource section. Instead of the content mocked above, maybe we should say "[State] reporting footnotes". In addition to the Resources section, let's add a sentence to the source data. See below.
![Screen Shot 2017-06-16 at 4.37.30 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56393caf761ba64300ac16ef/125516c66e82

[2017-06-16 23:41] amberwreed commented on #201
@harrisj How big is this file? Should we also add a link to a big csv of all state footnotes in the resource section of the downloads?

[2017-06-16 23:50] amberwreed commented on #36
https://docs.google.com/document/d/1PsaDktLptLgos22vYtQg1yCdIirULeWIhIKZvtlnJq8/edit#heading=h.n5z5nk6wkbpd

[2017-06-16 23:52] amberwreed commented on #163
https://docs.google.com/document/d/1uIAHwMb6RHhw7s6w9g_4W3AL4jvN-wnHZRLrzh8sSl4/edit#heading=h.oq1li3rf8xi

[2017-06-16 23:52] amberwreed commented on #36
Contact info from CJIS: https://ucr.fbi.gov/ucr-program-contacts

[2017-06-17 00:11] amberwreed commented on #2
@LarryBafundo Closing this. If we need to add additional functionality we can open a new issue.

[2017-06-17 00:11] #2 closed, assigned to amberwreed, AvivaOskow

[2017-06-17 00:12] #74 closed, assigned to brendansudol

[2017-06-17 00:16] #170 closed, assigned to AvivaOskow

[2017-06-17 00:21] #194 closed, assigned to nobody

[2017-06-17 00:24] #187 closed, assigned to nobody

[2017-06-17 00:25] #184 closed, assigned to brendansudol

[2017-06-19 04:37] jeremiak commented on #163
@amberwreed Can you upload the design again? Looks like it didn't work

[2017-06-19 04:45] jeremiak commented on #71
Please note differences from the design and implementation in this comment: https://github.com/18F/crime-data-frontend/pull/943#issue-236287909

[2017-06-19 04:47] #191 closed, assigned to nobody

[2017-06-19 15:33] #197 closed, assigned to jeremiak

[2017-06-19 21:11] AvivaOskow opened #202 "Mobile (iphone): Explorer agency - bar chart legend, need better design for small screens"
Legend for bar charts should be updated for portrait and landscape views, doesn't fit well (maybe take up more width for portrait, and dynamic paragraph can go next to legend in landscape instead of above)

![IMG_0169.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46c1b9bd1cd2d2ffd6abf301b44fff9e2c4533317346f6737580b72ce840

[2017-06-19 21:18] AvivaOskow opened #203 "Mobile (iphone): Explorer agency - bar chart years run into each other"
Consider doing every other year? Or first, last, and selected?

![33d402f0-4711-11e7-813c-3ec467263506.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46bbc79e77d2d1afdfa4eb14f50cbdc57843703e7155f0283dd6e62beb142c53595c4bac474a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbe

[2017-06-20 14:19] LarryBafundo commented on #199
@brendansudol, looks like you're working on this - okay to move into in progress?

[2017-06-20 14:28] LarryBafundo commented on #8
is this issue still relevant in light of #201?

[2017-06-20 14:28] LarryBafundo commented on #140
The agreed upon approach for both the arrest and SHR downloads is described here: https://docs.google.com/document/d/1CbPF0oQ4_tEstu3OJdyVcMGhqh1L6fMYuiwDoK0zK4Q/edit

[2017-06-20 14:42] jeremiak commented on #8
@larrybafundo I don't think so, it was an early discussion about how to achieve the same thing but I think 201 is the card to keep open

[2017-06-20 14:42] #8 closed, assigned to jeremiak, RyanSibley

[2017-06-20 14:45] harrisj commented on #155
Recent optimization PRs:

* Switching to Gunicorn https://github.com/18F/crime-data-api/pull/542, https://github.com/18F/crime-data-api/pull/555, https://github.com/18F/crime-data-api/pull/550
* Bringing back arson endpointhttps://github.com/18F/crime-data-api/pull/559
* Remove TableFamily https://github.com/18F/crime-data-api/pull/560
* Simplifying serialization for NIBRS endpoints https://github

[2017-06-20 15:12] cacraig commented on #155
There is a PR out now to improve the perf of the NIBRS endpoints - https://github.com/18F/crime-data-api/pull/573

[2017-06-20 19:13] #175 closed, assigned to nobody

[2017-06-20 23:01] amberwreed commented on #201
CJIS is looking into the sources of the footnote data to see if this is something we can dynamically generate or if we need to scrap data from existing CSV files. @harrisj also has questions about some of the more detailed agency entries for the table 8 footnotes.

[2017-06-20 23:14] LarryBafundo commented on #155
@harrisj, @cacraig: given our hardening efforts over the past sprint, can we say with confidence that the CDE is ready for a June 30 launch date - from a performance and reliability standpoint? do you think we've done enough testing and made most of the optimizations we can realistically make prior to launch? or are there still value changes we need to make?

it's good to have additional tasks ide

[2017-06-20 23:23] #52 closed, assigned to LarryBafundo

[2017-06-20 23:24] LarryBafundo commented on #52
closing this as the initial review was completed on Monday, June 19. Below is a list of initial findings, which I'll translate into issues to be prioritized: https://docs.google.com/spreadsheets/d/146e3HPV-BUH--pup0-aLDtzSDxIj0gZDH-MwJaCZcGk/edit

[2017-06-20 23:32] amberwreed commented on #163
![download draft](https://user-images.githubusercontent.com/13576520/27360437-fdefec16-55d5-11e7-8606-64fad019fc19.jpg)

[2017-06-21 00:05] LarryBafundo commented on #183
@RyanSibley is this the document we're using to track the dataset descriptions? https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

If so, we need to come up with one for the new territory data. I'm happy to take a crack at that tomorrow, so we can at least have an interim description in place for the end of the sprint.

[2017-06-21 00:09] #13 closed, assigned to nobody

[2017-06-21 00:14] LarryBafundo opened #204 "Ensure site analytics is available at launch"
This task relates to making site analytics fully available at launch. In doing so, we'll need to make sure that CJIS has access to this information and the relevant credentials.

[2017-06-21 00:15] LarryBafundo commented on #204
Not sure to what extent this task may overlap with https://waffle.io/18F/crime-data-explorer/cards/58ee4de1c889df00311904fe

[2017-06-21 00:35] LarryBafundo commented on #196
@jeremiak did we already go ahead and make this change as part of the original task for suppressing agencies in search? if not, please let me know and I'll move it to the backlog, as we'll likely want to do this as well.

[2017-06-21 00:35] #189 closed, assigned to nobody

[2017-06-21 01:20] LarryBafundo opened #205 "P0 - Accessibility: Keyboard Access"
For a full list of issues found in the 18F accessibility review see this document: https://docs.google.com/spreadsheets/d/146e3HPV-BUH--pup0-aLDtzSDxIj0gZDH-MwJaCZcGk/edit#gid=0

[2017-06-21 01:26] LarryBafundo commented on #205
- [x] option to submit on feedback modal is not keyboard accessible
- [x] Keyboard focus is trapped in feedback modal. User needs to be able to tab to submit and the X button on the modal
- [x] the tab order for pages with the feedback modal does not follow a logical order (top down, left right)
- [x] Bar charts are not accessible via keyboard in the Explorer
- [x] All Violent crime select doesn't

[2017-06-21 01:26] LarryBafundo opened #206 "P0 - Accessibility: Forms, Links, and User Controls"
For the full list of issues found by the 18F accessibility review see: https://docs.google.com/spreadsheets/d/146e3HPV-BUH--pup0-aLDtzSDxIj0gZDH-MwJaCZcGk/edit#gid=0

[2017-06-21 01:28] LarryBafundo commented on #206
- [x] Feedback form text areas are not correctly associated with labels. Text areas need ID's matching label's `for` attribute. Ensure each element has a label or some programatic name associated with it.
- [x] The glossary close button label should say "Close glossary" to be more clear
- [x] Type of crime should be associated with radio buttons in the Explorer; use live regions to show which area

[2017-06-21 01:30] LarryBafundo opened #207 "P0 - Accessibility: Section headings & Repetitive Content & Links"
For a full list of issues found by the 18F accessibility review see: https://docs.google.com/spreadsheets/d/146e3HPV-BUH--pup0-aLDtzSDxIj0gZDH-MwJaCZcGk/edit#gid=0

[2017-06-21 01:32] LarryBafundo commented on #207
- [x] No skip navigation link is provided for skipping repetitive content between pages.
- [x] The page title for the Explorer doesn't indicate that this is a different page from the index
- [x] "Resources" on the Explorer is an H3 and there is no H2, My suggestion is to make it an H2 and style it down in size with css
- [x] The "downloads and documentation" page needs a unique page title.
- [x] T

[2017-06-21 13:31] RyanSibley commented on #94
we addressed this in current about page text. However, more edits from CJIS are pending. I'm closing this because it's not a priority.

[2017-06-21 13:31] #94 closed, assigned to nobody

[2017-06-21 13:56] #203 closed, assigned to nobody

[2017-06-21 13:56] jeremiak commented on #203
Closed by 1002 above

[2017-06-21 14:13] #199 closed, assigned to brendansudol

[2017-06-21 15:01] cacraig commented on #155
Once we merge in #573 we will know more about where we stand in terms of performance. The changes will significantly improve the relative performance of most of the NIBRS endpoints. After this we will execute some load testing to see if there are any other major + simple improvements that can be made before June 30th. If everything looks good, then we will move onto code cleanup tasks.

[2017-06-21 16:33] jeremiak commented on #204
We'll want to get them set up with the [Digital Analytics Program (DAP)](https://www.digitalgov.gov/services/dap/) so we should ask them for an agency POC and we can set up that relationship. @LarryBafundo can you add this to the list of things we ask them tomorrow?

[2017-06-21 17:18] amberwreed commented on #186
Victim should be babysittee and offender should be babysitter

[2017-06-21 17:18] #186 closed, assigned to nobody

[2017-06-21 17:25] amberwreed commented on #163
I'm closing this. I'll add refinements to this page as separate issues. They include:
1. Spacing at the top of the page between intro and NIBRS
2. Wire up links to the  right of the intro
3. Ryan, add content for the datasets

[2017-06-21 17:26] #163 closed, assigned to nobody

[2017-06-21 18:03] #123 closed, assigned to nobody

[2017-06-21 18:07] amberwreed commented on #121
Legacy rape does not appear in the legend. It will be linked to / defined in the trend chart sentence

[2017-06-21 18:14] #195 closed, assigned to nobody

[2017-06-21 18:16] amberwreed commented on #192
User dark blue instead of red for accessibility.

[2017-06-21 18:37] harrisj commented on #183
This data is on S3 now by the way

[2017-06-22 15:52] LarryBafundo opened #208 "P1 - Resources links on downloads & documentation are not active"
On the downloads and documentation, 2 of the "resources links" (data dictionary and NIBRS attributes) are not active. We need to link to the source files for these entries.

https://crime-data-explorer-demo.fr.cloud.gov/downloads-and-docs

[2017-06-22 15:54] LarryBafundo commented on #208
<img width="984" alt="screen shot 2017-06-22 at 11 38 53 am" src="https://user-images.githubusercontent.com/15899668/27443590-8f480d8a-5741-11e7-843b-5e3d325359a6.png">

[2017-06-22 15:54] LarryBafundo opened #209 "P2 - 404 page isn't working for static assets"
The 404 page doesn't surface when I click on a broken link. For example, if the "data dictionary" link on the downloads and documentation page isn't active, I would expect to see a 404 page rather than this error: http://localhost:6005/pdf/NIBRS-data-diagram.pdf

[2017-06-22 15:55] jeremiak commented on #209
For example, now that we removed the file, the URL `/pdf/NIBRS-data-diagram.pdf` should result in a 404 page.

[2017-06-22 16:40] LarryBafundo commented on #208
Additionally, follow the equivalent spacing guidelines for the state and agency page "resources".

[2017-06-22 19:35] LarryBafundo opened #210 "+++Post launch++++"

[2017-06-22 22:44] amberwreed commented on #90
I think we can close this.

[2017-06-22 22:44] #90 closed, assigned to RyanSibley

[2017-06-22 23:14] amberwreed commented on #36
We received content back from CJIS. Here is the working google doc: https://docs.google.com/document/d/1Bn2yx1eHcOgTmojyydaFFkvGd8QsebNMY9MD89sBECc/edit

[2017-06-23 01:41] harrisj commented on #183
This is done.

[2017-06-23 01:41] #183 closed, assigned to harrisj

[2017-06-23 14:21] LarryBafundo commented on #208
here's the data dictionary asset: https://docs.google.com/spreadsheets/d/19EFBe2bpv2RfJ4IuaDvtUbenN8yFnSyh7cXV-1IUces/edit#gid=0

and here's the NIBRS attributes asset:

https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46c6bdb811b1c3889bfdad4aa648e4913a06267d2d448e2a60c7af6aaf50740b0a0c0abe4b4a5a4ca9ac8d7fa1e43a768d550abbd16d5c7dc

[2017-06-23 14:24] LarryBafundo commented on #208
@amberwreed can you link to the "NIBRS attribute" asset here so we can update the link?

[2017-06-23 14:25] LarryBafundo commented on #208
actually, are we replacing the current asset with what's being outlined in: https://waffle.io/18F/crime-data-explorer/cards/59482bdeae46c6013dee846c

[2017-06-23 14:39] #141 closed, assigned to nobody

[2017-06-23 14:40] #147 closed, assigned to nobody

[2017-06-23 14:41] LarryBafundo commented on #7
for future consideration, arrest data could be shown for the offenses selected in the Explorer view. this might serve as a compliment to the more detailed arrest data made available as a download.

[2017-06-23 14:56] #209 closed, assigned to nobody

[2017-06-23 16:06] LarryBafundo opened #212 "P2 - Empty NIBRS tables showing when they should be suppressed"
https://crime-data-explorer.fr.cloud.gov/explorer/agency/OR018060X/rape

[2017-06-23 16:20] LarryBafundo opened #213 "Adjust drop-down to grey out agencies based on 10 years worth of data, not just the most recent year."
The agency drop-down should populate based on 10 years worth of participation data, not just the most recent year. This change has already been made on the back end, but still needs to be  accounted for on the front-end.

[2017-06-23 16:40] brendansudol commented on #81
where has this landed? still outstanding @jeremiak?

[2017-06-23 16:48] amberwreed commented on #81
@jeremiak I think you make a good point. I would be in favor of adding estimated to  the trend chart sentence but not the heading. The reason being that on having the crime name at the beginning of the chart headings allows the user to make a quick scan of the page. We've also removed "Crime type" from the page heading so it's even more important to give viewers feedback of what they are looking a

[2017-06-23 19:15] #192 closed, assigned to AvivaOskow

[2017-06-26 14:27] LarryBafundo commented on #208
this task relates to: https://waffle.io/18F/crime-data-explorer/cards/59482bdeae46c6013dee846c

[2017-06-26 16:04] cacraig commented on #155
@harrisj @LarryBafundo Testing this has been a bit of a challenge, however we were able to throw together some satisfying tests.

For example, testing the NIBRS Agencies endpoint with apache benchmark yields ~30 r/s direct with 40 concurrent connections, 100 r/s under mixed cache/uncached load, and >100 r/s for cached requests. This is probably the toughest endpoint because of the backing tables,

[2017-06-26 17:44] #171 closed, assigned to nobody

[2017-06-26 23:00] amberwreed commented on #208
@brendansudol These are now working but we need to add data dictionary into the list. @RyanSibley let's decide on a format for the dictionary. Can it be an xls file?

[2017-06-27 03:32] #36 closed, assigned to jeremiak

[2017-06-27 14:49] RyanSibley commented on #81
I'm generally sympathetic to the desire to not mislead people about the number of actual crimes or convictions that occurred, but I think too much emphasis on "reported" will be problematic so I don't think we should implement anymore attempts to make this clear to users than we already have. I usually reference homicide as an example of a crimes where emphasizing reported isn't helpful. It usuall

[2017-06-27 14:49] #81 closed, assigned to nobody

[2017-06-27 14:51] RyanSibley commented on #208
this really shouldn't be an xls file. There are ways to convert it to HTML and host it but I would need help with that. Can we schedule a time to talk this through?

[2017-06-27 15:44] cde-feedback-bot opened #214 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #215 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #216 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #217 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #218 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #219 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:44] cde-feedback-bot opened #220 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:45] cde-feedback-bot opened #221 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 15:45] cde-feedback-bot opened #222 "User feedback"
## What brought you to the site and how can we improve your experience here?
Evaluating as part of NCS-X program

## General feedback about the site?
Consider adding the ability to sort the various tables.  for example for property location/type, it is sorted in descending order and it would be helpful to sort by type so it is easier to find a specific property location/type.

## Using this data f

[2017-06-27 16:08] amberwreed commented on #208
@LarryBafundo FYI, the current data diagram and table is linked to on the site.

[2017-06-27 17:20] #155 closed, assigned to cacraig, LarryBafundo

[2017-06-27 20:22] brendansudol commented on #201
i believe this issue is deprecated in favor of https://github.com/18F/crime-data-frontend/issues/1053

[2017-06-28 02:49] #201 closed, assigned to LarryBafundo

[2017-06-28 03:48] #214 closed, assigned to nobody

[2017-06-28 03:48] #221 closed, assigned to nobody

[2017-06-28 03:49] #220 closed, assigned to nobody

[2017-06-28 03:49] #218 closed, assigned to nobody

[2017-06-28 03:49] #219 closed, assigned to nobody

[2017-06-28 03:49] #216 closed, assigned to nobody

[2017-06-28 03:49] #217 closed, assigned to nobody

[2017-06-28 03:49] #215 closed, assigned to nobody

[2017-06-28 03:58] LarryBafundo opened #223 "P2 - Sparklines overrun borders on IE"
Saw this while preparing for the demo at CJIS, but was unable to take a screenshot.

[2017-06-28 03:58] LarryBafundo opened #224 "P2 - Agency bar charts difficult to see on high contrast screens"

[2017-06-28 13:07] cde-feedback-bot opened #225 "User feedback"
## What brought you to the site and how can we improve your experience here?
NCS-X

## General feedback about the site?
Looking at Thornton and Westminster Colorado data, the total number of homicides displayed in the 2004-2014 in the histogram does not equal the total number of incidents displayed as the total.

## Using this data for something cool? Tell us about it!

[2017-06-28 20:17] #31 closed, assigned to AvivaOskow

[2017-06-28 20:18] #32 closed, assigned to AvivaOskow

[2017-06-29 14:17] cde-feedback-bot opened #226 "User feedback"
## What brought you to the site and how can we improve your experience here?
Test GPD

## General feedback about the site?
Yes

## Using this data for something cool? Tell us about it!
Looking for post

[2017-06-29 15:12] cde-feedback-bot opened #227 "User feedback"
## What brought you to the site and how can we improve your experience here?
testing

## General feedback about the site?
testing

## Using this data for something cool? Tell us about it!
testing

[2017-06-29 16:22] RyanSibley commented on #181
We've edited both the home and about page quite a bit since receiving these helpful comments. Thanks again for your feedback!

[2017-06-29 16:22] #181 closed, assigned to RyanSibley

[2017-06-29 20:13] LarryBafundo opened #228 "Remove CJIS phone number from footer"
But keep the email address...

[2017-06-29 20:14] #208 closed, assigned to brendansudol

[2017-06-29 20:14] #71 closed, assigned to jeremiak

[2017-06-29 20:14] #185 closed, assigned to jeremiak

[2017-06-29 20:36] #180 closed, assigned to LarryBafundo

[2017-06-29 20:40] #121 closed, assigned to RyanSibley

[2017-06-29 23:25] LarryBafundo opened #229 "P0- Download for state-based rape trend chart is empty"
The download for rape trend chart data returns an empty dataset. This only appears to be an issue at the state level. The download works fine for agencies.

https://crime-data-explorer.fr.cloud.gov/explorer/state/iowa/rape

[2017-06-29 23:28] LarryBafundo commented on #229
An example of what is downloaded:

<img width="316" alt="screen shot 2017-06-29 at 4 27 51 pm" src="https://user-images.githubusercontent.com/15899668/27714770-f78798e2-5ce7-11e7-925b-f27426154ed4.png">

[2017-06-29 23:37] #97 closed, assigned to nobody

[2017-06-29 23:39] #200 closed, assigned to nobody

[2017-06-29 23:40] LarryBafundo opened #230 "Post transition (for future consideration)"

[2017-06-29 23:49] LarryBafundo opened #231 "Add elements of supplemental homicide report as a download"

[2017-06-29 23:55] #212 closed, assigned to nobody

[2017-06-29 23:56] #210 closed, assigned to nobody

[2017-06-30 00:03] #228 closed, assigned to jeremiak

[2017-06-30 00:07] LarryBafundo commented on #188
@jeremiak, @brendansudol is this issue in progress? if not, let's move it to the backlog in light of more pressing issues.

[2017-06-30 15:06] LarryBafundo opened #232 "P1 - CJIS & other high-security environments can't download the bulk NIBRS files"
We saw this while at CJIS. Trying to download the bulk NIBRS files triggers a security warning and prevents the user from downloading. This may be due to the long URLs associated with these files on S3.

[2017-06-30 17:35] #227 closed, assigned to nobody

[2017-06-30 21:36] LarryBafundo opened #233 "For Wednesday (July 5) release"

[2017-07-04 14:16] MichaelRBond opened #234 "Swagger Documentation link in README.md returns a 404"
The swagger documentation link in the README.md file returns a 404 error:
[Swagger Docs](https://crime-data-api.fr.cloud.gov/swagger-ui/)

[2017-07-04 14:34] MichaelRBond commented on #234
I've created a pull request to address this issue:
https://github.com/18F/crime-data-explorer/pull/235

[2017-07-05 16:22] RyanSibley commented on #188
Can I suggest "Download data from this chart"?

[2017-07-05 18:26] LarryBafundo commented on #234
thanks

cc: @jeremiak

[2017-07-05 18:27] #226 closed, assigned to nobody

[2017-07-05 18:33] LarryBafundo commented on #190
we are addressing this as part of: https://waffle.io/18F/crime-data-explorer/cards/595668d83c49c6001f15f8c9

[2017-07-05 18:33] #190 closed, assigned to nobody

[2017-07-05 18:33] #135 closed, assigned to nobody

[2017-07-05 18:35] #133 closed, assigned to nobody

[2017-07-05 18:35] #112 closed, assigned to nobody

[2017-07-05 18:36] #82 closed, assigned to nobody

[2017-07-05 18:40] LarryBafundo opened #236 "P2 - Rename "LEOKA" Law Enforcement Officers Killed and Assaulted in API documentation"
from Sammy: on the API documentation page, we say the dataset includes "LEOKA" data. Instead, we should refer to this data as "Assaults on Law Enforcement Officers", which how we describe it on https://crime-data-explorer.fr.cloud.gov/downloads-and-docs

[2017-07-05 18:42] LarryBafundo commented on #236
Labeled a "P2" but due to the sensitivities around "LEOKA" data, elevating this in the queue.

[2017-07-05 18:47] harrisj commented on #196
When I rebuilt the cde_agencies table I kept out the L agencies. So this is fixed.

[2017-07-05 18:47] #196 closed, assigned to jeremiak

[2017-07-05 19:05] #11 closed, assigned to RyanSibley

[2017-07-05 19:14] LarryBafundo opened #237 "Martinsburg PD (WV) only shows data up until 2013"
Martinsburg, PD (West VA) only shows counts/clearance data through 2013 and does not show NIBRS data for any of the selectable offenses. What's going on here?

Additionally, when "2014" is selected from the drop-down, it reverts back to 2013, presumably because there is no data to display.

https://crime-data-explorer.fr.cloud.gov/explorer/agency/WV0020100/robbery

[2017-07-05 19:16] LarryBafundo commented on #237
<img width="819" alt="screen shot 2017-07-05 at 12 15 44 pm" src="https://user-images.githubusercontent.com/15899668/27880957-b55faeee-617b-11e7-8caa-3b18d20779b8.png">

[2017-07-05 20:47] AvivaOskow commented on #188
@RyanSibley I think we decided on this together before because it's more concise and fits in the space better?

[2017-07-05 23:39] jeremiak commented on #188
I think it might be worth including this text since it is a bit clearer but don't feel strongly about it. Here are two screenshots with Ryan's proposed text:

![screen shot 2017-07-05 at 7 37 11 pm](https://user-images.githubusercontent.com/780941/27889303-6aab52ca-61b9-11e7-89cd-1d6dad8daf52.png)
![screen shot 2017-07-05 at 7 37 24 pm](https://user-images.githubusercontent.com/780941/27889304-6aa

[2017-07-06 14:16] #229 closed, assigned to brendansudol

[2017-07-06 15:01] LarryBafundo opened #238 "Make edits to glossary"
CJIS has proposed a few edits to our glossary definitions  You can view them here: https://docs.google.com/spreadsheets/d/1YlFdQSr1KnhFrhdrC1E7JV7QEWkAMV5zZxsJMf2yZl4/edit#gid=1558291474

[2017-07-06 16:40] brendansudol commented on #236
where does this change need to be made @jeremiak @harrisj? is this a swagger field that needs to be updated on the backend?

[2017-07-06 16:42] brendansudol commented on #224
not sure what the fix is here -- is this a color thing that aviva needs to have a look at?

cc: @LarryBafundo @AvivaOskow

[2017-07-06 16:46] LarryBafundo commented on #224
@AvivaOskow yeah, if this is something we fix, its probably a color change that performs better on high contrast.

when we were at CJIS we couldn't see them at all on Mike's computer unless they were on hover.

cc @brendansudol

[2017-07-06 17:28] LarryBafundo opened #239 "Actual NIBRS counts differ from what is shown in the CDE"
Justin from CJIS has pointed out that we may be counting NIBRS data incorrectly.

For the Heyburn Police Department in Idaho he confirmed that between 2004-2014 that agency has reported 5 incidents of rape, 5 offenses, 5 victims, and 6 offenders. However, the CDE says there were 6 incidents reported.

@harrisj are we basing this total on the total number of victims, or the number of victim/offende

[2017-07-06 17:32] LarryBafundo opened #240 "P1 - Agency NIBRS data does not load when accessing the page from a URL"
When a user tries to access agency data from a URL, the NIBRS portion of the page fails to load. However, if the user navigates to that same agency from home, the page loads correctly.

Steps to reproduce:

1) try to view data from this link (or any other): https://crime-data-explorer.fr.cloud.gov/explorer/agency/ID0010100/rape

2) note that the NIBRS data for "Boise" fails to load.

3) go back to

[2017-07-06 17:40] #204 closed, assigned to jeremiak

[2017-07-06 17:40] #233 closed, assigned to nobody

[2017-07-06 17:53] AvivaOskow commented on #122
@brendansudol @jeremiak I'm kicking this back up, I commented a few weeks ago still advocating for this. I also tried it out in my master sketch files I've been working on to see what it's like.

One thing to consider though, is that all of the Further Reading links are external, but I don't think we would need to put the icon there, since they have their own link style, but I'm not sure if that's

[2017-07-06 18:50] LarryBafundo opened #241 "P1 - Display agency NIBRS data elements more consistently"
Currently, when we load data for a NIBRS agency and either all violent, or all property crime is selected, we show the header/container for those elements, even though there is no data to display. We should handle this like we do at the state level, where no header is displayed at all. See screenshots.

Additionally, whenever a specific offense is selected (e.g., homicide, assault, rape) for a NIB

[2017-07-06 18:53] LarryBafundo commented on #241
current state - NIBRS agency page with all violent or all property crime selected. the header shouldn't be visible in this case.

<img width="992" alt="screen shot 2017-07-06 at 11 50 53 am" src="https://user-images.githubusercontent.com/15899668/27927777-b5f9051e-6241-11e7-87ba-27143caae987.png">

https://crime-data-explorer.fr.cloud.gov/explorer/agency/WVWSP4900/violent-crime

[2017-07-06 20:18] RyanSibley commented on #188
I suggested this because I like the specificity of "this chart." But it's only a suggestion...

[2017-07-07 04:40] brendansudol commented on #188
given that the download button is inside the white trend box container, i think the "from this chart" bit is implied and clear; i would be in favor of keeping this copy as is ("Download data")

[2017-07-07 15:20] #238 closed, assigned to nobody

[2017-07-07 16:49] AvivaOskow commented on #202
@brendansudol @jeremiak  I designed some options for this, can we talk through what the best option would be?

This is my favorite I think

![Screen Shot 2017-07-07 at 12.45.11 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246454f46b7191a379ed0c2f54415e4fbc21254d58eeb9cb74fce36f3498

[2017-07-07 16:53] AvivaOskow commented on #202
Also it looks like on responsive, between 1020px and 638px wide, there is a spacing issue between the dynamic sentence and the legend:

![Screen Shot 2017-07-07 at 12.52.06 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77246454f46b7191a379ed0c2e53415f48bc21254d58eeb9cb74fce36f34985619

[2017-07-10 14:39] jeremiak commented on #240
@LarryBafundo This should be ready for your review, though I'm not entirely sure how to recreate that bug ATM

[2017-07-10 15:16] cde-feedback-bot opened #242 "User feedback"
## What brought you to the site and how can we improve your experience here?
test

## General feedback about the site?
test

## Using this data for something cool? Tell us about it!
test can I type whatever I want here?

[2017-07-10 15:18] cde-feedback-bot opened #243 "User feedback"
## What brought you to the site and how can we improve your experience here?
undefined

## General feedback about the site?
undefined

## Using this data for something cool? Tell us about it!
undefined

[2017-07-10 15:32] cde-feedback-bot opened #244 "User feedback"
## What brought you to the site and how can we improve your experience here?
undefined

## General feedback about the site?
undefined

## Using this data for something cool? Tell us about it!
undefined

[2017-07-10 15:32] cde-feedback-bot opened #245 "User feedback"
## What brought you to the site and how can we improve your experience here?
undefined

## General feedback about the site?
undefined

## Using this data for something cool? Tell us about it!
undefined

[2017-07-10 15:33] cde-feedback-bot opened #246 "User feedback"
## What brought you to the site and how can we improve your experience here?
undefined

## General feedback about the site?
undefined

## Using this data for something cool? Tell us about it!
undefined

[2017-07-10 15:36] cde-feedback-bot opened #247 "User feedback"
## What brought you to the site and how can we improve your experience here?
COUNT LEO NIKOLAYEVICH TOLSTOY was born
August 28, 1828, at the family estate of Yasna-
ya Polyana, in the province of Tula. His moth-
er died when he was three and his father six
years later. Placed in the care of his aunts, he
passed many of his early years at Kazan, where,
in 1844, after a preliminary training by Frenc

[2017-07-10 15:43] #247 closed, assigned to nobody

[2017-07-10 15:43] #246 closed, assigned to nobody

[2017-07-10 15:43] #245 closed, assigned to nobody

[2017-07-10 15:43] #244 closed, assigned to nobody

[2017-07-10 15:44] #243 closed, assigned to nobody

[2017-07-10 15:44] #242 closed, assigned to nobody

[2017-07-10 17:04] cde-feedback-bot opened #248 "User feedback"
## What brought you to the site and how can we improve your experience here?
test

## General feedback about the site?
test

## Using this data for something cool? Tell us about it!
test

[2017-07-10 18:13] cde-feedback-bot opened #249 "Look for opportunities to make maps a more interactive part of the user experience"
## What brought you to the site and how can we improve your experience here?
Jacob Harris shared it on the News Nerdery Slack.

I think there are some design elements and "onboarding" processes that get in the way of understanding how to retrieve the data. I described it in more detail as general feedback. Speaking of, writing this feedback was somewhat frustrating because it was hard to read what

[2017-07-10 18:27] harrisj commented on #237
So, I just checked on this, and in 2014, they only reported to RETA for 11 months of the year, meaning they can't be counted in 2014 and we don't even have a record for them in the table that year. I'm not sure why we don't show as a (0), but I think the frontend would have to know that the current max year is 2014 for that (it's probably assuming we start from 2013).

One thing we could consider

[2017-07-10 20:35] AvivaOskow commented on #202
Another option for the legend (which I'm now leaning towards the most)

The text does need to get smaller, and we remove the "Incidents" label, but I think it's pretty clear what the number are, since it says incidents in the headline, dynamic sentence, and right above the chart itself again.

![Screen Shot 2017-07-10 at 4.17.23 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/u

[2017-07-10 20:49] laurenancona opened #250 "Philadelphia Police Dept data geocoding error"
This is an amazing tool tackling so many non-trivial visualization challenges - thanks for all your hard work.

I took a screenshot of some local data to share on Twitter and subsequently noticed a minor thing: the point dropped when selecting [Philadelphia Police](https://crime-data-explorer.fr.cloud.gov/explorer/agency/PAPEP0000/violent-crime) data drops the point somewhere east of Pittsburgh. T